﻿@using Resources;
@model CommentTinTuc
@using TrungTamTinHoc.Areas.Home.Models.Schema;
@{
    CommentTinTuc data = new CommentTinTuc();
    if (Model != null)
    {
        data = Model;
    }
}
<div class="single-comment comment-reply">
    <div class="author-image">
        <img class="img-avatar" src="@(data.Avatar !=null?data.Avatar:"/public/css/img/common/info.png")" alt="">
    </div>
    <div class="comment-text">
        <div class="author-info">
            <h4><a href="javascript:void(0)">@data.HoTen</a></h4>
            <span class="comment-time">@String.Format("{0:HH:mm dd/MM/yyyy}", data.ThoiGianCmt)</span>
        </div>
        <div class="row">
            <p style="padding-left:20px;">@Html.Raw(data.NoiDung.Replace("\n", "<br />"))</p>
        </div>
    </div>
</div>
