﻿@using Resources;
@model CommentTinTuc
@using TrungTamTinHoc.Areas.Home.Models.Schema;
@{
    CommentTinTuc data = new CommentTinTuc();
    if (Model != null)
    {
        data = Model;
    }
}
<div class="comment">
    <input class="idCommentParrent" hidden value="@data.Id" />
    <input class="comment-child hidden" value="@data.CountChildComment" />
    <div class="single-comment">
        <div class="author-image">
            <img class="img-avartar" src="@(data.Avatar !=null?data.Avatar:"/public/css/img/common/info.png")" alt="">
        </div>
        <div class="comment-text">
            <div class="author-info">
                <h4><a href="javascript:void(0)">@data.HoTen</a></h4>
                <span class="reply"><a class="reply-comment" data-value="@data.Id">@UserLang.Reply</a></span>
                <span class="comment-time">@String.Format("{0:HH:mm dd/MM/yyyy}", data.ThoiGianCmt)</span>
            </div>
            <div class="row">
                <p style="padding-left:20px;">@Html.Raw(data.NoiDung.Replace("\n", "<br/>"))</p>
            </div>
        </div>
    </div>
    <div class="area-comment-reply" id="commentParrent-@data.Id">
    </div>
</div>