﻿@model List<CommentTinTuc>
@{
    List<CommentTinTuc> listComment = Model;
}
@using Resources;
@using TrungTamTinHoc.Areas.Home.Models.Schema;

@if (listComment != null)
{
<div id="Comment">
    @foreach (CommentTinTuc cmt in listComment)
    {
    <div class="comment">
        <input class="idCommentParrent" hidden value="@cmt.Id" />
        <input class="comment-child hidden" value="@cmt.CountChildComment" />
        <div class="single-comment">
            <div class="author-image">
                <img class="img-avatar" src="@(cmt.Avatar !=null?cmt.Avatar:"/public/css/img/common/info.png")" alt="">
            </div>
            <div class="comment-text">
                <div class="author-info">
                    <h4><a href="javascript:void(0)">@cmt.HoTen</a></h4>
                    <span class="reply"><a class="reply-comment" data-value="@cmt.Id">@UserLang.Reply</a></span>
                    <span class="comment-time">@String.Format("{0:HH:mm dd/MM/yyyy}", cmt.ThoiGianCmt)</span>
                </div>
                <div class="row">
                    <p style="padding-left:20px;">@Html.Raw(cmt.NoiDung.Replace("\n", "<br/>"))</p>
                </div>
            </div>
        </div>
        <div class="are-see-more">
            @if (cmt.CountChildComment > 2)
            {
                <a class="see-more-child btn-link" style="margin-left:131px;">@UserLang.SeeMore</a>
            }
        </div>
        <input class="count-comment-child hidden" value="@(cmt.ListChildComment==null?0:cmt.ListChildComment.Count)" />
        <div class="area-comment-reply" id="commentParrent-@cmt.Id">
            @if (cmt.ListChildComment != null)
            {
                foreach (CommentTinTuc cmtChild in cmt.ListChildComment)
                {
                    <div class="single-comment comment-reply">
                        <div class="author-image">
                            <img class="img-avatar" src="@(cmtChild.Avatar !=null?cmtChild.Avatar:"/public/css/img/common/info.png")" alt="">
                        </div>
                        <div class="comment-text">
                            <div class="author-info">
                                <h4><a href="javascript:void(0)">@cmtChild.HoTen</a></h4>
                                <span class="comment-time">@String.Format("{0:HH:mm dd/MM/yyyy}", cmtChild.ThoiGianCmt)</span>
                            </div>
                            <div class="row">
                                <p style="padding-left:20px;">@Html.Raw(cmtChild.NoiDung.Replace("\n", "<br />"))</p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    }
</div>
}


