﻿@model TinTucList
@{
    TinTucList tinTucs = Model;
    List<TinTuc> listTinTuc = tinTucs.TinTucs;
}
@using Resources;
@using TrungTamTinHoc.Areas.Home.Models.Schema;

<div class="row">
@foreach (TinTuc tintuc in listTinTuc)
{
    <div class="col-md-6">
        <div class="single-latest-item">
            <div class="single-latest-image">
                <a href="@tintuc.BeautyId"><img src="@tintuc.AnhMinhHoa" style="height:235px;width:235px;" alt=""></a>
            </div>
            <div class="single-latest-text" style="height: 235px;">
                <a href="@tintuc.BeautyId"><h3>@tintuc.TieuDe</h3></a>
                <div class="single-item-content" style="margin-bottom:0px;">
                    <div class="single-item-comment-view">
                        <span><i class="zmdi zmdi-calendar-check"></i>@String.Format("{0:dd/MM/yyyy}", tintuc.NgayDang)</span>
                        <span><i class="zmdi zmdi-eye"></i>@tintuc.SoLuongView</span>
                        <span><i class="zmdi zmdi-comments"></i>@tintuc.SoLuongComment</span>
                    </div>
                    <div class="single-item-rating" style="float:left;">
                        @Html.Partial("~/Views/PartialUser/_ViewRate.cshtml", tintuc.SoLuongDanhGia == 0 ? 0f : (float)tintuc.DiemDanhGia / (float)tintuc.SoLuongDanhGia)
                    </div>
                </div>
                <div class="content-tintuc">
                    @Html.Raw(tintuc.TomTat)
                </div>
                <br />
                <a href="@tintuc.BeautyId" class="button-default">@UserLang.ViewDetail</a>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <div class="pagination-content">
            <ul class="pagination"></ul>
        </div>
    </div>
</div>
</div>
<input type="hidden" id="NumberOfRecord" name="NumberOfRecord" value="@tinTucs.Paging.NumberOfRecord" />
<input type="hidden" id="TotalPages" name="TotalPages" value="@tinTucs.Paging.TotalPages" />



