﻿@model List<CommentTinTuc>
@{
    List<CommentTinTuc> listComment = Model;
}
@using Resources;
@using TrungTamTinHoc.Areas.Home.Models.Schema;

@foreach (CommentTinTuc cmt in listComment)
{
    
                <div class="single-comment comment-reply">
                    <div class="author-image">
                        <img class="img-avatar" src="@(cmt.Avatar !=null?cmt.Avatar:"/public/css/img/common/info.png")" alt="">
                    </div>
                    <div class="comment-text">
                        <div class="author-info">
                            <h4><a href="javascript:void(0)">@cmt.HoTen</a></h4>
                            <span class="comment-time">@String.Format("{0:dd/MM/yyyy}", cmt.ThoiGianCmt)</span>
                        </div>
                        <div class="row">
                            <p style="padding-left:20px;">@Html.Raw(cmt.NoiDung.Replace("\n", "<br/>"))</p>
                        </div>
                    </div>
                </div>
}



