﻿@model TTTH.DataBase.Schema.User
@{
    string avatar = null;
    string HoTen = "NoName";
    int idUser = 0;
    User user = new User();
    if (Model != null)
    {
        user = Model;
        avatar = user.Avatar;
        HoTen = user.Ho + user.Ten;
        idUser = user.Id;
    }
}
@using TTTH.DataBase.Schema;
@using Resources;
<!--comment reply-->
<div class="single-comment comment-reply" id="111111">
    <div class="author-image">
        <img class="img-avatar" src="@(avatar !=null?avatar:"/public/css/img/common/info.png")" alt="">
    </div>
    <div class="comment-text">
        <div class="author-info">
            <h4><a href="#">@HoTen</a></h4>
        </div>
        <form id="form-comment-reply" action="@Url.RouteUrl("tinTucSendCommentReply")" method="post">
            <div class="box-select">
                <div class="row">
                    <div class="col-sm-12 area-text-reply">
                        <a class="cancel-reply">x</a>
                        <textarea type="text" name="content-reply" id="content-reply" class="commnent-reply-content" placeholder="Bình luận"></textarea>
                        <input class="hidden idcomment" value="" />
                        <button type="button" class="btn btn-warning btn-send-comment-reply" style="float:right;">Gửi</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--end comment reply-->
