﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.ThingsAchievedManagement.Schema.ListOfThingsAchieved
@{
    ListOfThingsAchieved listOfThingsAchieved = Model;
    List<ThingsAchieved> thingsAchievedList = listOfThingsAchieved.ThingsAchievedList;
    bool isDeletePermission = XacThuc.CheckAuthentication(FunctionEnum.DeleteThingsAchieved);
    bool isUpdateThingsAchieved = XacThuc.CheckAuthentication(FunctionEnum.SaveThingAchieved);
}
@using Resources;
@using TTTH.Common
@using TTTH.Common.Enums
@using TrungTamTinHoc.Areas.ControlPanel.Models.ThingsAchievedManagement.Schema;
@Html.Partial("~/Views/PartialAdmin/_TopPageInfo.cshtml", listOfThingsAchieved.Paging)
<div class="table-responsive table-result" id="table-result" link-del="@Url.RouteUrl("DeleteThingsAchieved")" link-update-show="@Url.RouteUrl("UpdateShowThingsAchieved")" link-update-state="">
    <div class="table-responsive">
        <table class="table table-striped table-bordered jambo_table">
            <thead>
                <tr>
                    <th class="text-center col-checkbox">
                        <input type="checkbox" id="check-all" class="flat">
                    </th>
                    @if (isUpdateThingsAchieved)
                    {
                        <th class="text-center">@AdminLang.Edit</th>
                    }
                    <th class="text-center">@AdminLang.Icon</th>
                    <th class="text-center">@AdminLang.Title</th>
                    <th class="text-center">@AdminLang.Content</th>
                    <th class="text-center">@AdminLang.Show</th>
                    @if (isDeletePermission)
                    {
                        <th class="text-center">@AdminLang.Delete</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (ThingsAchieved thingsAchieved in thingsAchievedList)
                {
                    <tr>
                        <td class="text-center middle col-checkbox">
                            <input type="checkbox" class="flat check-item" name="check-remove" id-del="@thingsAchieved.Id">
                        </td>
                        @if (isUpdateThingsAchieved)
                        {
                            <td class="text-center middle">
                                <a href="@Url.RouteUrl("EditThingsAchieved", new { id = thingsAchieved.Id })">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </td>
                        }
                        <td class="text-center things-achieved">
                            <img src="@thingsAchieved.Icon" class="img-things-achieved" alt="@thingsAchieved.Title" width="75" />
                        </td>
                        <td class="">
                            @Html.Raw(thingsAchieved.Title.Replace("\n", "<br/>"))
                        </td>
                        <td class="">
                            @Html.Raw(thingsAchieved.Content.Replace("\n", "<br/>"))
                        </td>
                        <td class="text-center middle">
                            <input type="checkbox" class="js-switch show-slide" id-slide="@thingsAchieved.Id" @(thingsAchieved.IsShow ? "checked=checked" : "") val="1" update="1" />
                        </td>
                        @if (isDeletePermission)
                        {
                            <td class="text-center middle">
                                <button type="button" class="btn btn-xs btn-danger btn-delete" id-del="@thingsAchieved.Id">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (isDeletePermission)
    {
        <div class="col-xs-3 pl-0">
            <button type="button" class="btn btn-danger btn-delete-selected">@AdminLang.DeleteSelectedItems</button>
        </div>
    }
    <div class="col-xs-9 pr-0">
        <div class="div-pagination">
            <ul class="pagination"></ul>
        </div>
    </div>
</div>
<input type="hidden" id="TotalPages" name="TotalPages" value="@listOfThingsAchieved.Paging.TotalPages" />
<input type="hidden" id="NumberOfRecord" name="NumberOfRecord" value="@listOfThingsAchieved.Paging.NumberOfRecord" />
