﻿
@{
    ViewBag.Title = "Dang Ky Hoc";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@{
    DangKyHocData data = new DangKyHocData();
    if (ViewBag.DangKyHocData != null)
    {
        data = ViewBag.DangKyHocData;
    }
    ThongTinUser hocVien = new ThongTinUser();
    ThongTinUser giamHo = new ThongTinUser();
    bool coGiamHo = false;
    bool coTaiKhoan = false;
    if (data.ThongTinHocVien != null)
    {
        hocVien = data.ThongTinHocVien;
        coTaiKhoan = true;
    }
    if (data.ThongTinNguoiGiamHo != null)
    {
        giamHo = data.ThongTinNguoiGiamHo;
        coGiamHo = true;
    }
}
@section css{
    @Styles.Render("~/public/css/registerCourse")
}
@section scripts{
    <script>
        var url = {
            getClasses: '@Url.RouteUrl("getClassesByIdCourse")',
            getAddress: '@Url.RouteUrl("getAddress")',
            checkExistAccount: '@Url.RouteUrl("courseCheckExistAccount")',
            createAccountSuccess: '@Url.RouteUrl("TaoTaiKhoanThanhCong")'
        };
        var idSelected = {
            TinhHocVien: "@hocVien.IdTinh",
            TinhGiamHo: "@giamHo.IdTinh",
            HuyenHocVien: "@hocVien.IdHuyen",
            HuyenGiamHo: "@giamHo.IdHuyen",
            XaHocVien: "@hocVien.IdXa",
            XaGiamHo: "@giamHo.IdXa",
            KhoaHoc: @data.IdKhoaHocDuocChon
        };
        var coTaiKhoan = @(coTaiKhoan == false ? "false" : "true");
    </script>
    @Scripts.Render("~/public/js/registerCourse")
}

@using TrungTamTinHoc.Areas.Course.Models.Schema;
@using Resources;
<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area pb-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center no-line">@UserLang.RegisterCourse</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<!--Form Register Class Start-->
<div class="search-category mb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <form id="form-register-course" action="@Url.RouteUrl("registerCourse")" method="post">
                    <div class="form-container">
                        <div class="box-select">
                            <div class="row course-and-class">
                                <div class="col-sm-12">
                                    <label for="KhoaHoc" class="white-label">@UserLang.Courses <span class="text-required">*</span></label>
                                    <select name="KhoaHoc" id="KhoaHoc" class="required mb-5" tabindex="1"></select>
                                </div>
                                <div class="col-sm-12">
                                    <label for="LopHoc" class="white-label">@UserLang.Classes <span class="text-required">*</span></label>
                                    <select name="LopHoc" id="LopHoc" class="required" tabindex="2"></select>
                                </div>
                            </div>

                            <div class="infomation">
                                <div class="student-info">
                                    @Html.Partial("Partial/_informationOfStudent", hocVien)
                                </div>
                                <div class="row checkbox-area">
                                    <div class="col-sm-6">
                                        <label class="custom-check">
                                            <span class="text-login">@UserLang.DoYouWantToHaveAGuardian</span>
                                            <input type="checkbox" id="ShowInfoGuardian" value="1" tabindex="15" @(coGiamHo ? "checked='checked'" : "")>
                                            <span class="checkmark"><span class="check"></span></span>
                                        </label>
                                    </div>
                                    <div class="col-sm-6 @(coTaiKhoan?"hide-area":"")">
                                        <label class="custom-check">
                                            <span class="text-login">@UserLang.DoYouWantToRegisterAccountInHere</span>
                                            <input type="checkbox" id="ShowInfoRegisterAccount" value="1" tabindex="16" @(coGiamHo ? "checked='checked'" : "")>
                                            <span class="checkmark"><span class="check"></span></span>
                                        </label>
                                    </div>
                                </div>

                                <div class="row register-account-info hide-area">
                                    <div class="col-sm-4">
                                        <label for="Username" class="white-label">@UserLang.Username <span class="text-required">*</span></label>
                                        <input type="text" name="Username" id="Username" class="custom-validate alphanumeric mb-5" maxlength="50" tabindex="17" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="Password" class="white-label">@UserLang.Password <span class="text-required">*</span></label>
                                        <input type="password" name="Password" id="Password" class="custom-validate" maxlength="50" tabindex="18" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="ConfirmPassword" class="white-label">@UserLang.ConfirmPassword <span class="text-required">*</span></label>
                                        <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="custom-validate" maxlength="50" tabindex="19" />
                                    </div>
                                </div>

                                <div class="guardian-info @(!coGiamHo?"hide-area":"")" id="guardian-info">
                                    @Html.Partial("Partial/_informationOfGuardian", giamHo)
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <button type="button" id="btn-register-course" tabindex="31">@UserLang.Register</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Form Register Class End-->