﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.ThingsAchievedManagement.Schema.ThingsAchievedMaster
@{
    ThingsAchievedMaster thingsAchievedMaster = Model == null ? new ThingsAchievedMaster() : Model;
    bool isInsert = thingsAchievedMaster.Mode == (int)TTTH.Common.Enums.ConstantsEnum.ModeMaster.Insert;
    ViewBag.Title = isInsert ? @AdminLang.CreateThingsAchieved : AdminLang.EditThingsAchieved;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    bool isDeletePermission = XacThuc.CheckAuthentication(FunctionEnum.DeleteThingsAchieved);
    bool isUpdateThingsAchieved = XacThuc.CheckAuthentication(FunctionEnum.SaveThingAchieved);
    bool isUpdateThingsAchievedTrans = XacThuc.CheckAuthentication(FunctionEnum.UpdateThingsAchievedTranslate);
}
@using Resources;
@using TrungTamTinHoc.Areas.ControlPanel.Models.ThingsAchievedManagement.Schema;
@using TTTH.Common
@using TTTH.Common.Enums
@section css{
    @Styles.Render("~/public/css/admin/thingsAchievedMaster");
}
@section scripts{
    <script>
        var url = {
            editThingsAchieved: '@Url.RouteUrl("EditThingsAchieved")',
            createThingsAchieved: '@Url.RouteUrl("CreateThingAchieved")',
            deleteThingsAchieved: '@Url.RouteUrl("DeleteThingsAchieved")',
            referThingsAchievedWithLang: '@Url.RouteUrl("ReferThingsAchievedWithLang")'
        }
        var isInsert = '@(isInsert ? "I" : "U")';
    </script>
    @Scripts.Render("~/public/js/admin/thingsAchievedMaster")
}
<div class="page-title">
    <div class="title_left">
        <h3>@(isInsert ? @AdminLang.CreateThingsAchieved : @AdminLang.EditThingsAchieved)</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="@(!isInsert ? "col-md-6" : "") col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                @if (isInsert)
                {
                    <h2>@AdminLang.ThingsAchievedInformation</h2>
                }
                else
                {
                    <h2>@AdminLang.MainLanguage<small>@AdminLang.Vietnamese</small></h2>
                }
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal input_mask" id="form-slide-main" enctype="multipart/form-data" action="@Url.RouteUrl("SaveThingAchieved")" accept-charset="UTF-8" method="post">
                    @if (!isInsert)
                    {
                        <input type="hidden" id="IdThingsAchieved" name="Id" value="@thingsAchievedMaster.ThingsAchievedInfo.Id" />
                    }
                    <div class="form-group">
                        <label for="Title">@AdminLang.Title<span class="text-required"> *</span></label>
                        <input class="form-control required" maxlength="100" tabindex="1" name="Title" id="Title" placeholder="@AdminLang.Title" rows="2" />@(isInsert ? "" : thingsAchievedMaster.ThingsAchievedInfo.Title)
                    </div>
                    <div class="form-group">
                        <label for="Content">@AdminLang.Content<span class="text-required"> *</span></label>
                        <textarea class="form-control required" maxlength="1000" tabindex="2" name="Content" id="Content" placeholder="@AdminLang.Content" rows="4">@(isInsert ? "" : thingsAchievedMaster.ThingsAchievedInfo.Content)</textarea>
                    </div>
                    <div class="form-group">
                        <label for="Icon">@AdminLang.ThingAchievedImage (512 x 512px) <span class="text-required">*</span></label>
                        <div>
                            <img id="imgPreview0" class="img-preview" src="@(isInsert ? "" : thingsAchievedMaster.ThingsAchievedInfo.Icon)" />
                            <input type="hidden" id="size0" id-view="imageName" min-of-width="512" min-rate="0.9" max-rate="1.1">
                        </div>
                        <div class="input-group">
                            <input class="form-control required" name="Icon" id="imageName" placeholder="@AdminLang.ThingAchievedImage" readonly="readonly" style="background: #fff !important;" value="@(isInsert ? "" : thingsAchievedMaster.ThingsAchievedInfo.Icon)" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" tabindex="4">
                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                </button>
                                <input type="file" class="file fileImg" name="FileImg" id="FileImg" id-view="imageName" err-idx="0" accept=".jpg,.png" />
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="IsShow">@AdminLang.Show</label>
                        <input type="checkbox" class="js-switch" tabindex="5" name="CheckHienThi" id="IsShow" @(isInsert || thingsAchievedMaster.ThingsAchievedInfo.IsShow ? "checked=checked" : "") />
                    </div>
                    <div class="form-group">
                        @if (isUpdateThingsAchieved)
                        {
                            <button type="button" class="btn btn-primary" id="btn-save" tabindex="6">@AdminLang.Save</button>
                        }
                        @if (!isInsert && isDeletePermission)
                        {
                            <button type="button" class="btn btn-danger" id="btn-delete" tabindex="7">@AdminLang.Delete</button>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
    @if (!isInsert && thingsAchievedMaster.ThingsAchievedTrans != null)
    {
        <div class="col-md-6 col-xs-12 col-trans">
            <form class="form-horizontal input_mask" id="form-slide-trans" action="@Url.RouteUrl("UpdateThingsAchievedTranslate")" accept-charset="UTF-8" method="post">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@AdminLang.Translate</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <select id="LanguageTrans" name="LanguageTrans" class="form-control" tabindex="8">
                                    @foreach (Lang lang in thingsAchievedMaster.Language)
                                    {
                                        <option value="@lang.Id">@lang.Name</option>
                                    }
                                </select>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <input type="hidden" id="IdThingsAchieved_Trans" name="Id" value="@thingsAchievedMaster.ThingsAchievedTrans.Id" />
                        <div class="form-group">
                            <label for="Title">@AdminLang.Title<span class="text-required"> *</span></label>
                            <input class="form-control required" maxlength="100" tabindex="9" name="Title" id="Title_Trans" placeholder="@AdminLang.Title" rows="2" />@thingsAchievedMaster.ThingsAchievedTrans.Title
                        </div>
                        <div class="form-group">
                            <label for="Content">@AdminLang.Content<span class="text-required"> *</span></label>
                            <textarea class="form-control required" maxlength="1000" tabindex="10" name="Content" id="Content_Trans" placeholder="@AdminLang.Content" rows="4">@thingsAchievedMaster.ThingsAchievedTrans.Content</textarea>
                        </div>
                        <div class="form-group">
                            <label for="Icon">@AdminLang.ThingAchievedImage (1920 x 800px)</label>
                            <div>
                                <img id="Icon_Trans_img" class="img-preview" src="@thingsAchievedMaster.ThingsAchievedTrans.Icon" />
                            </div>
                            <input class="form-control" id="Icon_Trans" placeholder="@AdminLang.ThingAchievedImage" readonly="readonly" value="@thingsAchievedMaster.ThingsAchievedTrans.Icon" />
                        </div>
                        <div class="form-group">
                            <label for="IsShow">@AdminLang.Show</label>
                            <input type="checkbox" disabled="disabled" class="js-switch" id="IsShow_Trans" @(thingsAchievedMaster.ThingsAchievedTrans.IsShow ? "checked=checked" : "") />
                        </div>
                        @if (isUpdateThingsAchievedTrans)
                        {
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" id="btn-save-trans">@AdminLang.SaveTranslation</button>
                            </div>
                        }
                    </div>
                </div>
            </form>
        </div>
    }
</div>
