﻿@{
    CaiDatHeThong caiDat = ViewBag.caiDat;
}

@using Resources;
@using TTTH.DataBase.Schema;

<!--Livechat Facebook Area-->
<div class="fb-livechat">
    <div class="ctrlq fb-overlay"></div>
    <div class="fb-widget">
        <div class="ctrlq fb-close"></div>
        <div class="fb-page" data-href="https://www.facebook.com/ipro.edu.vn/" data-tabs="messages" data-width="360" data-height="400" data-small-header="true" data-hide-cover="true" data-show-facepile="false">
            <blockquote cite="https://www.facebook.com/ipro.edu.vn/" class="fb-xfbml-parse-ignore"> </blockquote>
        </div>
        <div class="fb-credit">
            <a href="https://www.facebook.com/ipro.edu.vn/" target="_blank">IPro</a>
        </div>
        <div id="fb-root"></div>
    </div>
    <a href="https://m.me/ipro.edu.vn" title="Send us a message on Facebook" class="ctrlq fb-button"></a>
</div>

<script src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!--End of Livechat Facebook Area-->

<!--Newsletter Area Start-->
<div class="newsletter-area">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5">
                <div class="newsletter-content">
                    <h3>@UserLang.Subscribe</h3>
                    <h2>@UserLang.ToOutNewsleetter</h2>
                </div>
            </div>
            <div class="col-md-7 col-sm-7">
                <div class="newsletter-form">
                    <form id="form-subscribe" action="@Url.RouteUrl("DangKyTheoDoi")" method="post">
                        <div class="subscribe-form">
                            <input type="email" name="Email" id="Email" class="required email mb-5" maxlength="255" placeholder="@UserLang.EnterYourEmailAddress">
                            <button type="button" id="btn-subscribe">@UserLang.Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!--End of Newsletter Area-->
<!--Footer Widget Area Start-->
<div class="footer-widget-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="single-footer-widget">
                    <div class="footer-logo">
                        <a href="@Url.RouteUrl("Home")"><img src="~/public/img/common/logo.png" alt=""></a>
                    </div>
                    <div>
                        @Html.Raw(caiDat.TomTat)
                    </div>
                    <div class="social-icons">
                        <a href="@caiDat.LinkFB"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-rss"></i></a>
                        <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
                        <a href="#"><i class="zmdi zmdi-pinterest"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="single-footer-widget">
                    <h3>@UserLang.MenuContact</h3>
                    <span><i class="fa fa-phone"></i>@caiDat.SoDienThoai</span>
                    <span><i class="fa fa-envelope"></i>@caiDat.Email</span>
                    <span><i class="fa fa-globe"></i>@caiDat.Link</span>
                    <span><i class="fa fa-map-marker"></i>@caiDat.DiaChi</span>
                </div>
            </div>
            <div class="col-md-3 hidden-sm">
                <div class="single-footer-widget">
                    <h3>@UserLang.UserfullLink</h3>
                    <ul class="footer-list">
                        <li><a href="#">@UserLang.OurTeacher</a></li>
                        <li><a href="#">@UserLang.MenuCourses</a></li>
                        <li><a href="@Url.RouteUrl("GuideLine")">@UserLang.GuideLine</a></li>
                        <li><a href="@Url.RouteUrl("TermsConditions")">@UserLang.TermsConditions</a></li>
                        <li><a href="@Url.RouteUrl("PrivacyPolicy")">@UserLang.PrivacyPolicy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="single-footer-widget">
                    <h3>Fanpage</h3>
                    <div class="fb-page" data-href="https://www.facebook.com/ipro.edu.vn/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-adapt-container-height="true">
                        <blockquote cite="https://www.facebook.com/ipro.edu.vn/" class="fb-xfbml-parse-ignore">
                            <a href="https://www.facebook.com/ipro.edu.vn/">
                                Trung tâm đào tạo Tin học thiếu nhi IPRO - CN Đà Nẵng
                            </a>
                        </blockquote>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Footer Widget Area-->
<!--Footer Area Start-->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-7">
                <span>Copyright &copy; IPRO 2018.All right reserved.</span>
            </div>
            <div class="col-md-6 col-sm-5">
                <div class="column-right">
                    <span>@UserLang.PrivacyPolicy, @UserLang.TermsConditions</span>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--End of Footer Area-->
