﻿@model IEnumerable<Photos>
@using TrungTamTinHoc.Areas.Home.Models.Schema
@using Resources
@{
    List<Photos> photos = new List<Photos>();
    if (Model != null)
    {
        photos = Model.ToList();
    }
}
<!--Testimonial Area Start-->
@if (photos.Count > 0)
{
    <div class="testimonial-area album" style="margin-bottom: 70px;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="testimonial-image-slider text-center">
                                @foreach (Photos photo in photos)
                                {
                                    <div class="sin-testiImage">
                                        <img src="@photo.Link" alt="teacher @photo.Id" />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-text-slider text-center">
                        @foreach (Photos photo in photos)
                        {
                            <div class="sin-testiText">
                                <p>@photo.Note</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Testimonial Area-->
}

