﻿@model List<TinTuc>
@{
    List<TinTuc> danhSachTinTuc = new List<TinTuc>();
    if (Model != null)
    {
        danhSachTinTuc = Model;
    }
}
@using Resources;
@using TrungTamTinHoc.Areas.Home.Models.Schema
<!--Course Area Start-->
<div class="course-area section-padding" style="padding-top:0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper" style="margin-bottom: 80px;">
                    <div class="section-title">
                        <h3>@UserLang.News</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (TinTuc tintuc in danhSachTinTuc)
            {
                <div class="col-md-6">
                    <div class="single-latest-item">
                        <div class="single-latest-image">
                            <a href="/bai-viet/@tintuc.BeautyId"><img src="@tintuc.AnhMinhHoa" alt=""></a>
                        </div>
                        <div class="single-latest-text" style="height: 235px;padding-bottom:0px;">
                            <a href="/bai-viet/@tintuc.BeautyId">
                                <h3 style="height:52px;">
                                    @(tintuc.TieuDe.Length > 35 ? tintuc.TieuDe.Substring(0,35) + "..." : tintuc.TieuDe)
                                </h3>
                            </a>
                            <div class="single-item-content" style="margin-bottom:0px;">
                                <div class="single-item-comment-view">
                                    <span><i class="zmdi zmdi-calendar-check"></i>@String.Format("{0:dd/MM/yyyy}", tintuc.NgayDang)</span>
                                    <span><i class="zmdi zmdi-eye"></i>@tintuc.SoLuongView</span>
                                    <span><i class="zmdi zmdi-comments"></i>@tintuc.SoLuongComment</span>
                                </div>
                                <div class="single-item-rating" style="float:left;">
                                    @Html.Partial("~/Views/PartialUser/_ViewRate.cshtml", tintuc.SoLuongDanhGia == 0 ? 0f : (float)tintuc.DiemDanhGia / (float)tintuc.SoLuongDanhGia)
                                </div>
                            </div>
                            <div class="content-tintuc">
                                @Html.Raw(tintuc.TomTat.Length > 120 ? tintuc.TomTat.Substring(0,120) + "..." : tintuc.TomTat)
                            </div>
                            <a href="/bai-viet/@tintuc.BeautyId" class="button-default" style="margin-top:10px;">@UserLang.ViewDetail</a>
                        </div>
                    </div>
                </div>
            }
            <div class="col-md-12 col-sm-12 text-center">
                <a href="@Url.RouteUrl("DanhSachTinTuc")" class="button-default button-large">@UserLang.AllNews<i class="zmdi zmdi-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>
<!--End of Course Area-->
