﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.EmailSubscriptionManagement.Schema.ListOfEmailSubscription
@{
    ListOfEmailSubscription listOfEmailSubscription = Model;
    List<EmailSubscription> emailSubscriptionList = listOfEmailSubscription.EmailSubscriptionList;
    bool isDeletePermission = XacThuc.CheckAuthentication(FunctionEnum.DeleteEmailSubscriptions);
}
@using Resources;
@using TTTH.Common
@using TTTH.Common.Enums
@using TrungTamTinHoc.Areas.ControlPanel.Models.EmailSubscriptionManagement.Schema;
@Html.Partial("~/Views/PartialAdmin/_TopPageInfo.cshtml", listOfEmailSubscription.Paging)
<div class="table-responsive table-result" id="table-result" link-del="@Url.RouteUrl("DeleteEmailSubscriptions")" link-update-show="" link-update-state="">
    <div class="table-responsive">
        <table class="table table-striped table-bordered jambo_table">
        <thead>
            <tr>
                <th class="text-center col-checkbox">
                    <input type="checkbox" id="check-all" class="flat">
                </th>
                <th class="text-center">Email</th>
                @if (isDeletePermission)
                {
                    <th class="text-center">@AdminLang.Delete</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (EmailSubscription email in emailSubscriptionList)
            {
                <tr>
                    <td class="text-center middle col-checkbox">
                        <input data-email="@Html.Raw(email.Email)" type="checkbox" class="flat check-item" name="check-remove" id-del="@email.Id" indeterminate="true">
                    </td>
                    <td class="">
                        @Html.Raw(email.Email.Replace("\n", "<br/>"))
                    </td>
                    @if (isDeletePermission)
                    {
                        <td class="text-center middle">
                            <button type="button" class="btn btn-xs btn-danger btn-delete" id-del="@email.Id">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    </div>
    @if (isDeletePermission)
    {
        <div class="col-xs-3 pl-0">
            <button type="button" class="btn btn-danger btn-delete-selected">@AdminLang.DeleteSelectedItems</button>
        </div>
    }
    <div class="col-xs-9 pr-0">
        <div class="div-pagination page-size">
            <ul class="pagination page-size"></ul>
        </div>
    </div>
</div>
<input type="hidden" id="TotalPages" name="TotalPages" value="@listOfEmailSubscription.Paging.TotalPages" />
<input type="hidden" id="NumberOfRecord" name="NumberOfRecord" value="@listOfEmailSubscription.Paging.NumberOfRecord" />
