﻿@{
    Account account = XacThuc.GetAccount();
    int idGroupAcc = account.GroupOfAccount.FirstOrDefault(x => !x.DelFlag).IdGroup;
    int lienHeMoi = new Common().getLienHeMoi();
    int dangKyMoi = new Common().GetDangKyMoi();
    List<Permission> listPermissions = new Common().GetListPermission(idGroupAcc);

    List<string> listFunctionSlide = new List<string>();
    listFunctionSlide.Add(FunctionEnum.ListOfSlide);
    listFunctionSlide.Add(FunctionEnum.ViewCreateSlide);

    List<string> listFunctionPhoto = new List<string>();
    listFunctionPhoto.Add(FunctionEnum.ListOfPhoto);
    listFunctionPhoto.Add(FunctionEnum.ViewCreatePhotos);

    List<string> listFunctionGroup = new List<string>();
    listFunctionGroup.Add(FunctionEnum.ListOfPhoto);
    listFunctionGroup.Add(FunctionEnum.ViewCreatePhotos);

    List<string> listFunctionCourse = new List<string>();
    listFunctionCourse.Add(FunctionEnum.ListOfCourse);
    listFunctionCourse.Add(FunctionEnum.ViewCreateCourse);
    listFunctionCourse.Add(FunctionEnum.ListOfClass);
    listFunctionCourse.Add(FunctionEnum.ViewCreateClass);

    List<string> listFunctionNews = new List<string>();
    listFunctionNews.Add(FunctionEnum.ListOfNew);
    listFunctionNews.Add(FunctionEnum.ViewCreateNews);

    List<string> listFunctionError = new List<string>();
    listFunctionError.Add(FunctionEnum.ListOfErrorMsg);
    listFunctionError.Add(FunctionEnum.ViewCreateErrorMsg);

    List<string> listFunctionControlPanel = new List<string>();
    listFunctionControlPanel.AddRange(listFunctionSlide);
    listFunctionControlPanel.AddRange(listFunctionPhoto);
    listFunctionControlPanel.AddRange(listFunctionCourse);
    listFunctionControlPanel.AddRange(listFunctionNews);
    listFunctionControlPanel.AddRange(listFunctionError);

    List<string> listFunctionUser = new List<string>();
    listFunctionUser.Add(FunctionEnum.ListOfUser);
    listFunctionUser.Add(FunctionEnum.ViewCreateUser);

    List<string> listFunctionSetting = new List<string>();
    listFunctionSetting.Add(FunctionEnum.UpdateSetting);
    listFunctionSetting.Add(FunctionEnum.UpdateOtherSettings);

    List<string> listFunctionSystem = new List<string>();
    listFunctionSystem.AddRange(listFunctionSetting);
}
@using TTTH.DataBase.Schema;
@using TTTH.Common;
@using Resources;
@using TTTH.Common.Enums
@using Permission = TTTH.Common.Permission
<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="@Url.RouteUrl("adminDashboard")" class="user-profile site_title "><img src="~/public/img/favicon.png" alt="..."> <span id="text-logo">IPro-Admin</span></a>
        </div>
        <div class="clearfix"></div>
        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                @if (account != null && account.User.Avatar != null)
                {
                    <img src="@account.User.Avatar" alt="..." class="img-circle profile_img">
                }
                else
                {
                    <img src="~/public/img/layout-admin/img.jpg" alt="..." class="img-circle profile_img">
                }
            </div>
            <div class="profile_info">
                <span>@AdminLang.Welcome</span>
                @if (account != null)
                {
                    <h2>@(String.IsNullOrEmpty(account.Username) ? account.User.Ten : account.Username)</h2>
                }
            </div>
        </div>
        <!-- /menu profile quick info -->
        <br>
        <!-- sidebar menu -->
        @if (idGroupAcc != Common.GetIdGroupOfSystem())
        {
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                <div class="menu_section active">
                    <ul class="nav side-menu" style="">
                        @if (XacThuc.CheckAuthentication(listPermissions, FunctionEnum.Dashboard))
                        {
                            <li class="">
                                <a href="@Url.RouteUrl("adminDashboard")"><i class="fa fa-home"></i>@AdminLang.MenuHome</a>
                            </li>
                        }
                        @if (XacThuc.CheckAuthentication(listPermissions, FunctionEnum.ListOfCourseRegister))
                        {
                            <li class="nav course-register">
                                <a href="@Url.RouteUrl("ListOfCourseRegister")">
                                    <i class="fa fa-registered"></i>
                                    @AdminLang.CourseRegister
                                    @if (dangKyMoi > 0)
                                    {
                                        <div class="numBerChuaXem" id="dangKyMoi">
                                            @dangKyMoi
                                        </div>
                                    }
                                </a>
                            </li>
                        }
                        @if (XacThuc.CheckAuthentication(listPermissions, FunctionEnum.ListOfEmailSubscription))
                        {
                            <li class="">
                                <a href="@Url.RouteUrl("ListOfEmailSubscription")"><i class="fa fa-binoculars"></i>@AdminLang.EmailSubscription</a>
                            </li>
                        }
                        @if (XacThuc.CheckAuthentication(listPermissions, FunctionEnum.ListOfContact))
                        {
                            <li class="nav course-register">
                                <a href="@Url.RouteUrl("ListOfContact")">
                                    <i class="fa fa-weixin"></i>
                                    @AdminLang.ListOfContact
                                    @if (lienHeMoi > 0)
                                    {
                                        <div class="numBerChuaXem" id="contactChuaXem">
                                            @lienHeMoi
                                        </div>
                                    }
                                </a>
                            </li>
                        }
                        @if (XacThuc.CheckAuthentication(listPermissions, listFunctionControlPanel))
                        {
                            <li class="">
                                <a><i class="fa fa-dashboard"></i>@AdminLang.Controlpanel<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    @if (XacThuc.CheckAuthentication(listPermissions, listFunctionSlide))
                                    {
                                        <li>
                                            <a><i class="fa fa-image"></i>@AdminLang.Slides<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                @if (XacThuc.CheckAuthentication(listPermissions, FunctionEnum.ListOfSlide))
                                                {
                                                    <li><a href="@Url.RouteUrl("ListOfSlide")">@AdminLang.ListOfSlides</a></li>
                                                }
                                                @if (XacThuc.CheckAuthentication(listPermissions, FunctionEnum.ViewCreateSlide))
                                                {
                                                    <li><a href="@Url.RouteUrl("CreateSlide")">@AdminLang.AddSlide</a></li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                    @if (XacThuc.CheckAuthentication(listPermissions, listFunctionPhoto))
                                    {
                                        <li>
                                            <a><i class="fa fa-file-image-o"></i>@AdminLang.Photos<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                @if (XacThuc.CheckAuthentication(listPermissions, FunctionEnum.ListOfPhoto))
                                                {
                                                    <li><a href="@Url.RouteUrl("ListOfPhoto")">@AdminLang.ListOfPhotos</a></li>
                                                }
                                                @if (XacThuc.CheckAuthentication(listPermissions, FunctionEnum.ViewCreatePhotos))
                                                {
                                                    <li><a href="@Url.RouteUrl("CreatePhotos")">@AdminLang.addPhoto</a></li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                    @if (XacThuc.CheckAuthentication(listPermissions, listFunctionGroup))
                                    {
                                        <li>
                                            <a><i class="fa fa-group"></i>@AdminLang.Groups<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                @if (XacThuc.CheckAuthentication(listPermissions, FunctionEnum.ListOfGroup))
                                                {
                                                    <li><a href="@Url.RouteUrl("ListOfGroup")">@AdminLang.ListOfGroups</a></li>
                                                }
                                                @if (XacThuc.CheckAuthentication(listPermissions, FunctionEnum.ViewCreateGroup))
                                                {
                                                    <li><a href="@Url.RouteUrl("CreateGroup")">@AdminLang.AddGroup</a></li>
                                                }
                                            </ul>
                                        </li>
                                    }

                                    @if (XacThuc.CheckAuthentication(listPermissions, listFunctionCourse))
                                    {
                                        <li>
                                            <a><i class="fa fa-graduation-cap"></i>@AdminLang.Course<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                @if (XacThuc.CheckAuthentication(listPermissions, FunctionEnum.ListOfCourse))
                                                {
                                                    <li><a href="@Url.RouteUrl("ListOfCourse")">@AdminLang.ListOfCourses</a></li>
                                                }
                                                @if (XacThuc.CheckAuthentication(listPermissions, FunctionEnum.ViewCreateCourse))
                                                {
                                                    <li><a href="@Url.RouteUrl("CreateCourse")">@AdminLang.addCourse</a></li>
                                                }
                                                @if (XacThuc.CheckAuthentication(listPermissions, FunctionEnum.ListOfClass))
                                                {
                                                    <li><a href="@Url.RouteUrl("ListOfClass")">@AdminLang.ListOfClass</a></li>
                                                }
                                                @if (XacThuc.CheckAuthentication(listPermissions, FunctionEnum.ViewCreateClass))
                                                {
                                                    <li><a href="@Url.RouteUrl("CreateClass")">@AdminLang.AddClass</a></li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                    @if (XacThuc.CheckAuthentication(listPermissions, listFunctionNews))
                                    {
                                        <li>
                                            <a><i class="fa fa-newspaper-o"></i>@AdminLang.News<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                @if (XacThuc.CheckAuthentication(listPermissions, FunctionEnum.ListOfNew))
                                                {
                                                    <li><a href="@Url.RouteUrl("ListOfNew")">@AdminLang.ListOfNews</a></li>
                                                }
                                                @if (XacThuc.CheckAuthentication(listPermissions, FunctionEnum.ViewCreateNews))
                                                {
                                                    <li><a href="@Url.RouteUrl("CreateNews")">@AdminLang.AddNew</a></li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                    </ul>
                            </li>
                        }
                        @if (XacThuc.CheckAuthentication(listPermissions, listFunctionUser))
                        {
                            <li class="">
                                <a><i class="fa fa-user"></i>@AdminLang.User<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    @if (XacThuc.CheckAuthentication(listPermissions, FunctionEnum.ListOfUser))
                                    {
                                        <li><a href="@Url.RouteUrl("ListOfUser")">@AdminLang.ListOfUser</a></li>
                                    }
                                    @if (XacThuc.CheckAuthentication(listPermissions, FunctionEnum.ViewCreateUser))
                                    {
                                        <li><a href="@Url.RouteUrl("CreateUser")">@AdminLang.AddUser</a></li>
                                    }
                                </ul>
                            </li>
                        }

                        @if (XacThuc.CheckAuthentication(listPermissions, FunctionEnum.ListOfPermission))
                        {
                            <li class="">
                                <a href="@Url.RouteUrl("ListOfPermission")"><i class="fa fa-user-secret"></i>@AdminLang.Authentication</a>
                            </li>
                        }
                        @if (XacThuc.CheckAuthentication(listPermissions, listFunctionSystem))
                        {
                            <li class="">
                                <a><i class="fa fa-wrench"></i>@AdminLang.Setting<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    @if (XacThuc.CheckAuthentication(listPermissions, listFunctionSetting))
                                    {
                                        <li class="">
                                            <a><i class="fa fa-cogs"></i>@AdminLang.SettingSystem<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                @if (XacThuc.CheckAuthentication(listPermissions, FunctionEnum.UpdateSetting))
                                                {
                                                    <li><a href="@Url.RouteUrl("updateSetting")">@AdminLang.SettingSystem</a></li>
                                                }
                                                @if (XacThuc.CheckAuthentication(listPermissions, FunctionEnum.UpdateOtherSettings))
                                                {
                                                    <li><a href="@Url.RouteUrl("updateOtherSettings", new {typeSetting = 1})">@AdminLang.PrivacyPolicy</a></li>
                                                    <li><a href="@Url.RouteUrl("updateOtherSettings", new {typeSetting = 2})">@AdminLang.UserManual</a></li>
                                                    <li><a href="@Url.RouteUrl("updateOtherSettings", new {typeSetting = 3})">@AdminLang.TermsOfUse</a></li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
        else
        {
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                <div class="menu_section active">
                    <ul class="nav side-menu" style="">
                        <li class="">
                            <a href="@Url.RouteUrl("adminDashboard")"><i class="fa fa-home"></i>@AdminLang.MenuHome</a>
                        </li>
                        <li class="nav course-register">
                            <a href="@Url.RouteUrl("ListOfCourseRegister")">
                                <i class="fa fa-registered"></i>
                                @AdminLang.CourseRegister
                                @if (dangKyMoi > 0)
                                {
                                    <div class="numBerChuaXem" id="dangKyMoi">
                                        @dangKyMoi
                                    </div>
                                }
                            </a>
                        </li>
                        <li class="">
                            <a href="@Url.RouteUrl("ListOfEmailSubscription")"><i class="fa fa-binoculars"></i>@AdminLang.EmailSubscription</a>
                        </li>

                        <li class="nav course-register">
                            <a href="@Url.RouteUrl("ListOfContact")">
                                <i class="fa fa-weixin"></i>
                                @AdminLang.ListOfContact
                                @if (lienHeMoi > 0)
                                {
                                    <div class="numBerChuaXem" id="contactChuaXem">
                                        @lienHeMoi
                                    </div>
                                }
                            </a>
                        </li>

                        <li class="">
                            <a><i class="fa fa-dashboard"></i>@AdminLang.Controlpanel<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li>
                                    <a><i class="fa fa-image"></i>@AdminLang.Slides<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.RouteUrl("ListOfSlide")">@AdminLang.ListOfSlides</a></li>

                                        <li><a href="@Url.RouteUrl("CreateSlide")">@AdminLang.AddSlide</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-file-image-o"></i>@AdminLang.Photos<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.RouteUrl("ListOfPhoto")">@AdminLang.ListOfPhotos</a></li>
                                        <li><a href="@Url.RouteUrl("CreatePhotos")">@AdminLang.addPhoto</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-group"></i>@AdminLang.Groups<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.RouteUrl("ListOfGroup")">@AdminLang.ListOfGroups</a></li>
                                        <li><a href="@Url.RouteUrl("CreateGroup")">@AdminLang.AddGroup</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-graduation-cap"></i>@AdminLang.Course<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.RouteUrl("ListOfCourse")">@AdminLang.ListOfCourses</a></li>
                                        <li><a href="@Url.RouteUrl("CreateCourse")">@AdminLang.addCourse</a></li>
                                        <li><a href="@Url.RouteUrl("ListOfClass")">@AdminLang.ListOfClass</a></li>
                                        <li><a href="@Url.RouteUrl("CreateClass")">@AdminLang.AddClass</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-newspaper-o"></i>@AdminLang.News<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.RouteUrl("ListOfNew")">@AdminLang.ListOfNews</a></li>
                                        <li><a href="@Url.RouteUrl("CreateNews")">@AdminLang.AddNew</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-exclamation-triangle"></i>ErrorMgs<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.RouteUrl("ListOfErrorMsg")">@AdminLang.ListOfErrorMgs</a></li>
                                        <li><a href="@Url.RouteUrl("CreateErrorMsg")">@AdminLang.AddEror</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="">
                            <a><i class="fa fa-user"></i>@AdminLang.User<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="@Url.RouteUrl("ListOfUser")">@AdminLang.ListOfUser</a></li>
                                <li><a href="@Url.RouteUrl("CreateUser")">@AdminLang.AddUser</a></li>
                            </ul>
                        </li>

                        <li class="">
                            <a href="@Url.RouteUrl("ListOfPermission")"><i class="fa fa-user-secret"></i>@AdminLang.Authentication</a>
                        </li>
                        <li class="">
                            <a><i class="fa fa-wrench"></i>@AdminLang.Setting<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li class="">
                                    <a href="@Url.RouteUrl("EditConfiguration")"><i class="fa fa-cog"></i>@AdminLang.Configuration</a>
                                </li>
                                <li class="">
                                    <a><i class="fa fa-cogs"></i>@AdminLang.SettingSystem<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.RouteUrl("updateSetting")">@AdminLang.SettingSystem</a></li>
                                        <li><a href="@Url.RouteUrl("updateOtherSettings", new {typeSetting = 1})">@AdminLang.PrivacyPolicy</a></li>
                                        <li><a href="@Url.RouteUrl("updateOtherSettings", new {typeSetting = 2})">@AdminLang.UserManual</a></li>
                                        <li><a href="@Url.RouteUrl("updateOtherSettings", new {typeSetting = 3})">@AdminLang.TermsOfUse</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a><i class="fa fa-newspaper-o"></i>Lịch Học<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="@Url.RouteUrl("ListOfSchedule")">@AdminLang.listOfSchedule</a></li>
                                <li><a href="@Url.RouteUrl("CreateSchedule")">@AdminLang.titleAddSchedule</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        }
        <!-- /sidebar menu -->
        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="@AdminLang.Vietnamese" id="left-vi">
                <span class="glyphicon lang" lang="vi" aria-hidden="true">VI</span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="@AdminLang.English" id="left-en">
                <span class="glyphicon lang" lang="en" aria-hidden="true">EN</span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="@AdminLang.Setting">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="@AdminLang.Logout" id="btn-logout-left" link="@Url.RouteUrl("adminLogout")">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>