﻿@{
    Account account = XacThuc.GetAccount();
}
@using TTTH.DataBase.Schema;
@using TTTH.Common;
@using Resources;
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        @if (account != null && account.User.Avatar != null)
                        {
                            <img src="@account.User.Avatar" alt="">
                        }
                        else
                        {
                            <img src="~/public/img/layout-admin/img.jpg" alt="">
                        }
                        @if (account != null)
                        {
                            @(String.IsNullOrEmpty(account.Username) ? account.User.Ten : account.Username)
                        }
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="@Url.RouteUrl("ThongTinCaNhan")"> @AdminLang.Profile</a></li>
                        <li>
                            <a href="javascript:;">
                                <span>@AdminLang.Setting</span>
                            </a>
                        </li>
                        <li id="top-lang">
                            <div class="lang" lang="vi" id="top-vi">@AdminLang.Vietnamese</div>
                            <div class="lang" lang="en" id="top-en">@AdminLang.English</div>
                        </li>
                        <li><a id="btn-logout-top" link="@Url.RouteUrl("adminLogout")"><i class="fa fa-sign-out pull-right"></i>@AdminLang.Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>