﻿@using Resources;
@model CommentKhoaHoc
@using TrungTamTinHoc.Areas.Course.Models.Schema;
@{
    CommentKhoaHoc data = new CommentKhoaHoc();
    if (Model != null)
    {
        data = Model;
    }
}
<div class="comment">
    <input type="hidden" id="id-parent-comment" value="@data.id" />
    <div class="single-comment comment-area">
        <div class="author-image">
            <img width="62" height="62" src="@(data.Avatar == null ? "/public/css/img/common/info.png" : data.Avatar)" alt="Avartar">
        </div>
        <div class="comment-text">
            <div class="author-info">
                <h4><a href="javascript:void(0)">@data.HoTen</a></h4>
                <span class="reply"><a href="javascript:void(0)" class="link-reply">@UserLang.Reply</a></span>
                <span class="comment-time">@(data.ThoiGianCmt != null ? data.ThoiGianCmt.Value.ToString("hh:mm dd/MM/yyyy") : "")/</span>
            </div>
            <p> @Html.Raw(data.NoiDung.Replace("\n", "<br/>"))</p>
        </div>
    </div>
    <div class="single-comment hidden" id="reply-area">

    </div>
    <div class="single-comment comment-reply " id="form-reply-area">

    </div>

</div>
