﻿@using Resources;
@model CommentKhoaHoc
@using TrungTamTinHoc.Areas.Course.Models.Schema;
@{
    CommentKhoaHoc data = new CommentKhoaHoc();
    if (Model != null)
    {
        data = Model;
    }
}
<div class="single-comment comment-reply child-comment">
    <div class="author-image">
        <img width="62" height="62" src="@(data.Avatar==null ? "/public/css/img/common/info.png":data.Avatar)" alt="">
    </div>
    <div class="comment-text">
        <div class="author-info">
            <h4><a href="javascript:void(0)">@data.HoTen</a></h4>
            <span class="comment-time">@(data.ThoiGianCmt != null ? data.ThoiGianCmt.Value.ToString("hh:mm dd/MM/yyyy") : "")</span>
        </div>
        <p>@Html.Raw(data.NoiDung.Replace("\n", "<br/>"))</p>
    </div>
</div>
