﻿@using Resources;
@model IEnumerable<CommentKhoaHoc>
@using TrungTamTinHoc.Areas.Course.Models.Schema;
@{
    List<CommentKhoaHoc> data = new List<CommentKhoaHoc>();
    if (Model != null)
    {
        data = Model.ToList();
    }
}
@for (int i = 0; i < data.Count; i++)
{
    <div class="comment">
        <input type="hidden" id="id-parent-comment" value="@data[i].id" />
        <div class="single-comment comment-area">
            <div class="author-image">
                <img width="62" height="62" src="@(data[i].Avatar == null ? "/public/css/img/common/info.png" : data[i].Avatar)" alt="Avartar">
            </div>
            <div class="comment-text">
                <div class="author-info">
                    <h4><a href="javascript:void(0)">@data[i].HoTen</a></h4>
                    <span class="reply"><a href="javascript:void(0)" class="link-reply">@UserLang.Reply</a></span>
                    <span class="comment-time">@(data[i].ThoiGianCmt != null ? data[i].ThoiGianCmt.Value.ToString("hh:mm dd/MM/yyyy") : "")/</span>
                </div>
                <p> @Html.Raw(data[i].NoiDung.Replace("\n", "<br/>"))</p>
            </div>
        </div>
        @if (data[i].ChildCommentKhoaHocs != null)
        {
            if (data[i].CountChildComment > data[i].ChildCommentKhoaHocs.Count)
            {
                <div class="single-comment comment-reply link-see-more">
                    <input type="hidden" id="count-comment-reply" value="@data[i].CountChildComment" />
                    <button type="button" class="btn btn-link see-more-reply" style="outline:none" link-see-more-reply="@Url.RouteUrl("seeMore")">@UserLang.SeeMore</button>
                </div>
            }
            <div class="single-comment" id="list-comment-reply">
                @Html.Partial("~/Areas/Course/Views/KhoaHoc/Partial/_listCommentReply.cshtml", data[i].ChildCommentKhoaHocs)
            </div>

        }
        <div class="single-comment hidden" id="reply-area">

        </div>
        <div class="single-comment comment-reply " id="form-reply-area">

        </div>

    </div>

}


