﻿@model TrungTamTinHoc.Areas.Course.Models.Schema.KhoaHocList
@using Resources;
@using TrungTamTinHoc.Areas.Course.Models.Schema

@{
    KhoaHocList KhoaHocs = Model;
    List<KhoaHoc> cacKhoaHoc = KhoaHocs.KhoaHocs;
}
<div class="container">
    <div class="row">
        @for (int j = 0; j < cacKhoaHoc.Count; j++)
        {
            <div class="col-md-4 col-sm-6">
                <div class="single-item">
                    <div class="single-item-image overlay-effect">
                        <a href="@Url.RouteUrl("ChiTietKhoaHoc", new {id = cacKhoaHoc[j].BeautyId})"><img src="@cacKhoaHoc[j].AnhMinhHoa" alt="@cacKhoaHoc[j].TenKhoaHoc"></a>
                    </div>
                    <div class="single-item-text">
                        <h4 class="text-center" style="min-height: 47px;"><a href="@Url.RouteUrl("ChiTietKhoaHoc", new {id = cacKhoaHoc[j].BeautyId})">@cacKhoaHoc[j].TenKhoaHoc</a></h4>
                        <div class="single-item-text-info">
                            <span>@UserLang.StartDate: <span>@(cacKhoaHoc[j].NgayKhaiGiang == null ? UserLang.RegularOpening : cacKhoaHoc[j].NgayKhaiGiang.Value.ToString("dd/MM/yyyy"))</span></span>
                        </div>
                        <p style="min-height: 88px;">@(cacKhoaHoc[j].TomTat.Length > 170 ? cacKhoaHoc[j].TomTat.Substring(0, 170) + "..." : cacKhoaHoc[j].TomTat)</p>
                        <div class="single-item-content">
                            <div class="single-item-comment-view">
                                <span><i class="zmdi zmdi-eye"></i>@cacKhoaHoc[j].SoLuongView</span>
                                <span><i class="zmdi zmdi-comments"></i>@cacKhoaHoc[j].SoLuongComment</span>
                            </div>
                            <div class="single-item-rating">
                                @Html.Partial("~/Views/PartialUser/_ViewRate.cshtml", cacKhoaHoc[j].SoLuongDanhGia == 0 ? 0f : (float)cacKhoaHoc[j].DiemDanhGia / (float)cacKhoaHoc[j].SoLuongDanhGia)
                            </div>
                        </div>
                    </div>
                    <div class="button-bottom">
                        <a href="@Url.RouteUrl("DangKyKhoaHoc", new {id = cacKhoaHoc[j].BeautyId})" class="button-default">@UserLang.Register</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="pagination-content">
                <ul class="pagination"></ul>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="NumberOfRecord" name="NumberOfRecord" value="@KhoaHocs.Paging.NumberOfRecord" />
<input type="hidden" id="TotalPages" name="TotalPages" value="@KhoaHocs.Paging.TotalPages" />