﻿@using Resources;
@model IEnumerable<CommentKhoaHoc>
@using TrungTamTinHoc.Areas.Course.Models.Schema;
@{
    List<CommentKhoaHoc> data = new List<CommentKhoaHoc>();
    if (Model != null)
    {
        data = Model.ToList();
    }
}
@foreach (var childCmt in data)
{
    @Html.Partial("~/Areas/Course/Views/KhoaHoc/Partial/_commentReply.cshtml", childCmt)
}
