﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.ContactManagement.Schema.ListOfContact
@{
    ListOfContact listOfContact = Model;
    List<Contact> contactList = listOfContact.ContactList;
    List<TrangThai> listTrangThai = listOfContact.tenTrangThai;
    bool isDeleteContacts = XacThuc.CheckAuthentication(FunctionEnum.DeleteContacts);
    bool isUpdateShowContact = XacThuc.CheckAuthentication(FunctionEnum.UpdateShowContact);
}
@using Resources;
@using TrungTamTinHoc.Areas.ControlPanel.Models.ContactManagement.Schema;
@using TTTH.Common.Enums
@using TTTH.Common
@Html.Partial("~/Views/PartialAdmin/_TopPageInfo.cshtml", listOfContact.Paging)
<div class="table-responsive table-result" id="table-result" link-del="@Url.RouteUrl("DeleteContacts")" link-update-show="@Url.RouteUrl("UpdateShowContact")" link-update-state="">
    <div class="table-responsive ">
        <table class="table table-striped table-bordered jambo_table">
            <thead>
                <tr>
                    <th class="text-center col-checkbox">
                        <input type="checkbox" id="check-all" class="flat">
                    </th>
                    <th class="text-center">@AdminLang.Name</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">@AdminLang.PhoneNumber</th>
                    <th class="text-center">@AdminLang.Content</th>
                    <th class="text-center">@AdminLang.Status</th>
                    @if (isDeleteContacts)
                    {
                        <th class="text-center">@AdminLang.Delete</th>
                    }

                </tr>
            </thead>
            <tbody>
                @foreach (Contact contact in contactList)
                {
                    <tr>
                        <td class="text-center middle col-checkbox">
                            <input type="checkbox" class="flat check-item" name="check-remove" id-del="@contact.Id">
                        </td>

                        <td class="">
                            @contact.HoTen
                        </td>
                        <td class="">
                            @contact.Email
                        </td>
                        <td class="text-sdt">
                            @contact.Sdt
                        </td>
                        <td class="">
                            @Html.Raw(contact.NoiDung.Replace("\n", "<br/>"))
                        </td>
                        <td class="text-trangThai">
                            <select class="form-control show-contact" name="TrangThai" id="TrangThai" id-contact="@contact.Id" @(!isUpdateShowContact?"disabled='disabled'":"") >
                                @foreach (TrangThai i in listTrangThai)
                                {
                                    <option value="@i.Id" @if (contact != null && contact.idTrangThai == i.Id) { @Html.Raw("selected=selected") }>@i.tenTrangThai</option>
                                }
                            </select>
                        </td>
                        @if (isDeleteContacts)
                        {
                            <td class="delete text-center middle">
                                <button type="button" class="btn btn-xs btn-danger btn-delete" id-del="@contact.Id">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </td>
                        }

                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (isDeleteContacts)
    {
        <div class="col-xs-3 pl-0">
            <button type="button" class="btn btn-danger btn-delete-selected">@AdminLang.DeleteSelectedItems</button>
        </div>
    }

    <div class="col-xs-9 pr-0">
        <div class="div-pagination">
            <ul class="pagination"></ul>
        </div>
    </div>
</div>
<input type="hidden" id="TotalPages" name="TotalPages" value="@listOfContact.Paging.TotalPages" />
<input type="hidden" id="NumberOfRecord" name="NumberOfRecord" value="@listOfContact.Paging.NumberOfRecord" />


