﻿
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ThongTinCaNhan thongtin = ViewBag.thongtin;
    List<TinhHocVien> dsTinh = new List<TinhHocVien>();

    if (ViewBag.dsTinh != null)
    {
        dsTinh = ViewBag.dsTinh;
    }


}
@section scripts{
    <script>
        var url = {
            checkDiaChi: '@Url.RouteUrl("checkDiaChi")',
            checkExistUser: '@Url.RouteUrl("checkUser")',
            sendEmail: '@Url.RouteUrl("SendMail")',
            getemail: '@Url.RouteUrl("getEmail")',
            changeMail: '@Url.RouteUrl("changePassword")',
            checkEmail :'@Url.RouteUrl("checkEmail")'

        }
        var idSelected = {
            HuyenHocVien: "@thongtin.IdHuyen",
            HuyenGiamHo: "@thongtin.IdHuyenNguoiGiamHo",
            XaHocVien: "@thongtin.IdXa",
            XaGiamHo: "@thongtin.IdXaNguoiGiamHo"
        };
    </script>
    
    @Scripts.Render("~/public/js/information")
}
@section css{
    @Styles.Render("~/public/css/information")
}
@using Resources;
@using TrungTamTinHoc.Areas.Information.Models.Schema;
<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area pb-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center no-line">@UserLang.information</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<!--Search Category Start-->
<div class="search-category mb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="form-container">
                    <form id="form-information" enctype="multipart/form-data" action="@Url.RouteUrl("updateInformation")" accept-charset="UTF-8" method="post">
                        <div class="box-select">
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-4">
                                    <h4 class="student-info-title">
                                        @UserLang.information
                                    </h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-sm-7 avatar">
                                            <div>
                                                <img id="imgPreview0" class="img-preview" src="@thongtin.avatar" />
                                                <input type="hidden" id="size0" id-view="imageName" min-of-width="128" min-rate="0.99" max-rate="1.11">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label for="avatar" class="white-label text-mul">Avatar (128 x 128)</label>
                                            <div class="input-group">
                                                <input class="form-control " type="text" name="LinkAnh" id="imageName" readonly="readonly" style="background: #fff !important;" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-primary" tabindex="4">
                                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                                    </button>
                                                    <input type="file" class="file fileImg" name="FileImg0" id="FileImg0" id-view="imageName" err-idx="0" accept=".jpg,.png" />
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label for="ho" class="white-label text-mul">@UserLang.LastName <span class="text-required">*</span></label>
                                            <input type="text" name="ho" id="ho" class="required mb-5" maxlength="50" tabindex="1" value="@(thongtin == null ? "" : thongtin.Ho )" />
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="ten" class="white-label text-mul">@UserLang.FirstName <span class="text-required">*</span></label>
                                            <input type="text" name="ten" id="ten" class="required mb-5" maxlength="50" tabindex="2" value="@(thongtin == null ? "" : thongtin.Ten )" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label for="GioiTinh" class="white-label text-mul">@UserLang.Gender</label>
                                            <select name="GioiTinh" id="GioiTinh" class="required mb-5" tabindex="3">
                                                <option value="true" @if (thongtin != null && thongtin.GioiTinh) { @Html.Raw("selected=selected") }>@UserLang.Male</option>
                                                <option value="false" @if (thongtin != null && !thongtin.GioiTinh) { @Html.Raw("selected=selected") }>@UserLang.Female</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="NgaySinh" class="white-label text-mul">@UserLang.DateOfBirth </label>
                                            <div class="input-group datetimepicker mb-5">
                                                <input type="tel" class="date  " id="NgaySinh" name="NgaySinh" maxlength="8" tabindex="4" value="@(thongtin == null ? "" : thongtin.NgaySinh.ToString() )" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label for="sdt" class="white-label text-mul">@UserLang.PhoneNumber </label>
                                            <input type="tel" name="sdt" id="sdt" maxlength="15" tabindex="5" class=" numeric mb-5" value="@(thongtin == null ? "" : thongtin.SDT )" />
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="cmnd" class="white-label text-mul">@UserLang.cmnd </label>
                                            <input type="tel" name="cmnd" id="cmnd" maxlength="9" tabindex="6" class=" numeric mb-5" value="@(thongtin == null ? "" : thongtin.CMND )" />
                                        </div>
                                    </div>
                                </div>


                            </div>


                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="diachi" class="white-label text-mul">@UserLang.Address</label>
                                    <input type="text" name="diachi" id="diachi" maxlength="255" tabindex="7" class=" mb-5" value="@(thongtin == null ? "" : thongtin.DiaChi )" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="TinhHocVien" class="white-label text-mul">@UserLang.Province</label>
                                    <select name="TinhHocVien" id="TinhHocVien" class="required tinh-ht" tabindex="8">
                                        @foreach (TinhHocVien i in dsTinh)
                                        {
                                            <option value="@i.IdTinh" @if (thongtin != null && thongtin.Tinh == i.tenTinh) { @Html.Raw("selected=selected") }>@i.tenTinh</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label for="HuyenHocVien" class="white-label text-mul">@UserLang.District</label>
                                    <select name="HuyenHocVien" id="HuyenHocVien" class="required huyen-ht" tabindex="9"></select>
                                </div>
                                <div class="col-sm-4">
                                    <label for="XaHocVien" class="white-label text-mul">@UserLang.Commune</label>
                                    <select name="XaHocVien" id="XaHocVien" class="required " tabindex="10"></select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="custom-check">
                                        <span class="text-login text-mul">
                                            @UserLang.DoYouWantToHaveAGuardian
                                        </span>
                                        <input type="checkbox" id="nguoiGiamHo" value="1" tabindex="11">
                                        <span class="checkmark"><span class="check"></span></span>
                                    </label>
                                </div>
                            </div>

                            <div class="nguoigiamho">
                                <div class="row">
                                    <div class="col-sm-4 col-sm-offset-4">
                                        <h4 class="student-info-title">
                                            @UserLang.GuardianInfo
                                        </h4>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-sm-7 avatar">
                                                <div>
                                                    <img id="imgPreview1" class="img-preview" src="@thongtin.avatarNguoiGiamHo" />
                                                    <input type="hidden" id="size1" id-view="imageNameNGH" min-of-width="128" min-rate="0.99" max-rate="1.11">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label for="avatar" class="white-label text-mul">Avatar (128 x 128)</label>
                                                <div class="input-group">
                                                    <input class="form-control " type="text" name="LinkAnh" id="imageNameNGH" readonly="readonly" style="background: #fff !important;" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-primary" tabindex="4">
                                                            <i class="fa fa-upload" aria-hidden="true"></i>
                                                        </button>
                                                        <input type="file" class="file fileImg" name="FileImg1" id="FileImg1" id-view="imageNameNGH" err-idx="1" accept=".jpg,.png" />
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label for="hoNguoiGiamHo" class="white-label text-mul">@UserLang.LastName <span class="text-required">*</span></label>
                                                <input type="text" name="hoNguoiGiamHo" id="hoNguoiGiamHo" maxlength="50" class="requiredGH mb-5" tabindex="12" value="@(thongtin == null ? "" : thongtin.HoNguoiGiamHo)" />
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="tenNguoiGiamHo" class="white-label text-mul">@UserLang.FirstName <span class="text-required">*</span></label>
                                                <input type="text" name="tenNguoiGiamHo" id="tenNguoiGiamHo" maxlength="50" class="requiredGH mb-5" tabindex="13" value="@(thongtin == null ? "" : thongtin.TenNguoiGiamHo )" />
                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="col-sm-6">
                                                <label for="GioiTinhNguoiGiamHo" class="white-label text-mul">@UserLang.Gender</label>
                                                <select name="GioiTinhNguoiGiamHo" id="GioiTinhNguoiGiamHo" class="mb-5" tabindex="14">
                                                    <option value="true" @if (thongtin != null && thongtin.GioiTinh) { @Html.Raw("selected=selected") }>@UserLang.Male</option>
                                                    <option value="false" @if (thongtin != null && !thongtin.GioiTinh) { @Html.Raw("selected=selected") }>@UserLang.Female</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="NgaySinhNguoiGiamHo" class="white-label text-mul">@UserLang.DateOfBirth </label>
                                                <div class="input-group datetimepicker mb-5">
                                                    <input type="tel" class="date " id="NgaySinhNguoiGiamHo" name="NgaySinhNguoiGiamHo" maxlength="8" tabindex="15" value="@(thongtin == null ? "" : thongtin.NgaySinhNguoiGiamHo.ToString() )" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label for="sdtNguoiGiamHo" class="white-label text-mul">@UserLang.PhoneNumber</label>
                                                <input type="tel" name="sdtNguoiGiamHo" id="sdtNguoiGiamHo" class=" numeric mb-5" maxlength="15" tabindex="16" value="@(thongtin == null ? "" : thongtin.SDTNguoiGiamHo )" />
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="cmndNguoiGiamHo" class="white-label text-mul">@UserLang.cmnd </label>
                                                <input type="tel" name="cmndNguoiGiamHo" id="cmndNguoiGiamHo" class="numeric mb-5" maxlength="9" tabindex="17" value="@(thongtin == null ? "" : thongtin.CMNDNguoiGiamHo )" />
                                            </div>
                                        </div>

                                    </div>


                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <label for="diachiNguoiGiamHo" class="white-label text-mul">@UserLang.Address</label>
                                        <input type="text" name="diachiNguoiGiamHo" id="diachiNguoiGiamHo" maxlength="255" tabindex="18" class="" value="@(thongtin == null ? "" : thongtin.DiaChiNguoiGiamHo )" />
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-sm-4">
                                        <label for="TinhGiamHo" class="white-label text-mul">@UserLang.Province</label>
                                        <select name="TinhGiamHo" id="TinhGiamHo" class="requiredGH tinh-ht" tabindex="19">
                                            @foreach (TinhHocVien i in dsTinh)
                                            {
                                                <option value="@i.IdTinh" @if (thongtin != null && thongtin.TinhNguoiGiamHo == i.tenTinh) { @Html.Raw("selected=selected") }>@i.tenTinh</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="HuyenGiamHo" class="white-label text-mul">@UserLang.District</label>
                                        <select name="HuyenGiamHo" id="HuyenGiamHo" class="requiredGH huyen-ht" tabindex="20"></select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="XaGiamHo" class="white-label text-mul">@UserLang.Commune</label>
                                        <select name="XaGiamHo" id="XaGiamHo" class="requiredGH " tabindex="21"></select>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <button type="button" id="btn-save" tabindex="18">@UserLang.UpdateInformation</button>
                                </div>
                            </div>
                            <div class="row">
                                <hr />
                            </div>
                        </div>
                    </form>

                    @if (thongtin.username != "")
                    {
                        <form id="form-changePassword" action="@Url.RouteUrl("changePass")" method="post">
                            <div class="box-select">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label for="changePassword" class="white-label text-mul">@UserLang.Password <span class="text-required">*</span></label>
                                        <input type="password" name="changePassword" id="changePassword" class="required mb-5" maxlength="50" tabindex="22" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="newPassword" class="white-label text-mul">@UserLang.newPass <span class="text-required">*</span></label>
                                        <input type="password" name="newPassword" id="newPassword" class="required mb-5" maxlength="50" tabindex="23" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="ConfirmPassword" class="white-label text-mul">@UserLang.ConfirmPassword <span class="text-required">*</span></label>
                                        <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="required mb-5" maxlength="50" tabindex="24" />
                                    </div>
                                    <div class="col-sm-3">
                                        <button type="button" id="btn-change" tabindex="25">@UserLang.ChangePass</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    }
                    else
                    {
                        <form id="form-saveUsername" action="@Url.RouteUrl("SaveUsername")" method="post">
                            <div class="box-select">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label for="Username" class="white-label text-mul">@UserLang.Username <span class="text-required">*</span></label>
                                        <input type="text" name="username" id="username" class="required" maxlength="50" tabindex="22" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="Username" class="white-label text-mul">@UserLang.Password <span class="text-required">*</span></label>
                                        <input type="text" name="Password" id="Password" class="required" maxlength="50" tabindex="23" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="Username" class="white-label"><span class="text-required"></span></label>
                                        <button type="button" id="btn-save-user" tabindex="24">@UserLang.Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    }
                    <form id="form-changeEmail" action="@Url.RouteUrl("changeEmail")" method="post">
                        <div class="box-select">
                            <div class="row ">
                                <div class="col-sm-8 email">
                                    <label for="Username" class="white-label text-mul">Email <span class="text-required">*</span></label>
                                    <input type="text" name="email" id="email" maxlength="50" tabindex="25" value="@(thongtin == null ? "" : thongtin.email )" readonly />
                                    <div class="kichHoatEmail">
                                        @if (thongtin.kichHoatemail)
                                        {<img src="~/public/img/common/success.png" alt=""> }
                                        else
                                        {<img src="~/public/img/common/warning.png" alt="">}
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <button type="button" id="btn-change-email" tabindex="26">@UserLang.Change</button>
                                </div>
                            </div>
                            <div class="row" id="change-email">
                                <div class="col-sm-4">
                                    <button type="button" id="btn-change-email-thoat" tabindex="27">@UserLang.Exit</button>
                                </div>
                                <div class="col-sm-4">
                                    <button type="button" id="btn-change-email-xacnhan" tabindex="28">@UserLang.ChangeMail</button>
                                </div>
                                <div class="col-sm-4">
                                    <button type="button" id="btn-send-email" tabindex="29">@UserLang.ResendMail</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Search Category-->
