﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.CourseRegisterManagement.Schema.CourseRegister
@{
    CourseRegister dangKyHoc = new CourseRegister();
    if (Model != null)
    {
        dangKyHoc = Model;
    }
    bool coGiamHo = dangKyHoc.TenGiamHo != null ? true : false;
}
@using Resources;
@using TrungTamTinHoc.Areas.ControlPanel.Models.CourseRegisterManagement.Schema
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h3 class="student-info-title">
                @AdminLang.ViewDetail
            </h3>
        </div>
        <div class="modal-body">
            <div class="form-container">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for="KhoaHocModal" class="white-label">@AdminLang.Courses </label>
                        <input type="text" name="KhoaHocModal" id="KhoaHocModal" class="form-control" tabindex="1" readonly="readonly" value="@dangKyHoc.TenKhoaHoc" />
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="LopHocModal" class="white-label">@AdminLang.Classes </label>
                        <input type="text" name="LopHocModal" id="LopHocModal" class="form-control" tabindex="2" readonly="readonly" value="@dangKyHoc.TenLopHoc" />
                    </div>
                </div>
                <div class="student-info">
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-4">
                            <h4 class="student-info-title">
                                @AdminLang.StudentInfo
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="HoHocVien" class="white-label">@AdminLang.LastName</label>
                            <input type="text" name="HoHocVien" id="HoHocVien" class="form-control" maxlength="50" tabindex="20" readonly="readonly" value="@dangKyHoc.HoHocVien " />
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="TenHocVien" class="white-label">@AdminLang.FirstName</label>
                            <input type="text" name="TenHocVien" id="TenHocVien" class="form-control" maxlength="50" tabindex="21" readonly="readonly" value="@dangKyHoc.TenHocVien" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label for="GioiTinhHocVien" class="white-label">@AdminLang.Gender</label>
                            <input type="text" name="GioiTinhHocVien" id="GioiTinhHocVien" class="form-control" tabindex="22" readonly="readonly" value="@(dangKyHoc.GioiTinhHocVien ? AdminLang.Male : AdminLang.Female)" />
                        </div>
                        <div class="col-sm-4 form-group">
                            <label for="NgaySinhHocVien" class="white-label">@AdminLang.DateOfBirth</label>
                            <input type="text" name="NgaySinhHocVien" id="NgaySinhHocVien" class="form-control" tabindex="22" readonly="readonly" value="@dangKyHoc.NgaySinhHocVien.ToString("dd/MM/yyyy")" />
                        </div>
                        <div class="col-sm-4 form-group">
                            <label for="SoCMNDHocVien" class="white-label">@AdminLang.IdentityNum </label>
                            <input type="text" name="SoCMNDHocVien" id="SoCMNDHocVien" class="form-control" maxlength="12" tabindex="24" readonly="readonly" value="@(dangKyHoc.SoCMNDHocVien != null ? dangKyHoc.SoCMNDHocVien :"")" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label for="DiaChiHocVien" class="white-label">@AdminLang.Address </label>
                            <input type="text" name="DiaChiHocVien" id="DiaChiHocVien" class="form-control" maxlength="100" tabindex="25" readonly="readonly" value="@(dangKyHoc.DiaChiHocVien != null ? dangKyHoc.DiaChiHocVien : "")" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label for="TinhHocVien" class="white-label">@AdminLang.Province </label>
                            <input type="text" name="TinhHocVien" id="TinhHocVien" class="form-control" tabindex="26" readonly="readonly" value="@(dangKyHoc.TinhHocVien != null ? dangKyHoc.TinhHocVien :"")" />
                        </div>
                        <div class="col-sm-4 form-group">
                            <label for="HuyenHocVien" class="white-label">@AdminLang.District </label>
                            <input type="text" name="HuyenHocVien" id="HuyenHocVien" class="form-control" tabindex="27" readonly="readonly" value="@(dangKyHoc.HuyenHocVien != null ? dangKyHoc.HuyenHocVien :"")" />
                        </div>
                        <div class="col-sm-4 form-group">
                            <label for="XaHocVien" class="white-label">@AdminLang.Commune </label>
                            <input type="text" name="XaHocVien" id="XaHocVien" class="form-control" tabindex="28" readonly="readonly" value="@(dangKyHoc.XaHocVien != null ? dangKyHoc.XaHocVien :"")" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="SoDienThoaiHocVien" class="white-label">@AdminLang.PhoneNumber </label>
                            <input type="tel" name="SoDienThoaiHocVien" id="SoDienThoaiHocVien" class="form-control" maxlength="15" tabindex="29" readonly="readonly" value="@(dangKyHoc.SoDienThoaiHocVien != null ? dangKyHoc.SoDienThoaiHocVien :"")" />
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="EmailHocVien" class="white-label">@AdminLang.Email</label>
                            <input type="email" name="EmailHocVien" id="EmailHocVien" class="form-control" maxlength="255" tabindex="30" readonly="readonly" value="@(dangKyHoc.EmailHocVien != null ? dangKyHoc.EmailHocVien :"")" />
                        </div>
                    </div>
                </div>
                <div class="guardian-info @(coGiamHo ? "" :"hide-area")">
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-4">
                            <h4 class="student-info-title">
                                @AdminLang.GuardianInfo
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="HoGiamHo" class="white-label">@AdminLang.LastName</label>
                            <input type="text" name="HoGiamHo" id="HoGiamHo" class="form-control" maxlength="50" tabindex="20" readonly="readonly" value="@(dangKyHoc.HoGiamHo != null ? dangKyHoc.HoGiamHo :"")" />
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="TenGiamHo" class="white-label">@AdminLang.FirstName</label>
                            <input type="text" name="TenGiamHo" id="TenGiamHo" class="form-control" maxlength="50" tabindex="21" readonly="readonly" value="@(dangKyHoc.TenGiamHo != null ? dangKyHoc.TenGiamHo :"")" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label for="GioiTinhGiamHo" class="white-label">@AdminLang.Gender</label>
                            <input type="text" name="GioiTinhGiamHo" id="GioiTinhGiamHo" class="form-control" tabindex="22" readonly="readonly" value="@(coGiamHo ? dangKyHoc.GioiTinhGiamHo ? AdminLang.Male : AdminLang.Female :"")" />
                        </div>
                        <div class="col-sm-4 form-group">
                            <label for="NgaySinhGiamHo" class="white-label">@AdminLang.DateOfBirth</label>
                            <input type="text" name="NgaySinhGiamHo" id="NgaySinhGiamHo" class="form-control" tabindex="22" readonly="readonly" value="@(dangKyHoc.NgaySinhGiamHo != null ? dangKyHoc.NgaySinhGiamHo.ToString() :"")" />
                        </div>
                        <div class="col-sm-4 form-group">
                            <label for="SoCMNDGiamHo" class="white-label">@AdminLang.IdentityNum </label>
                            <input type="text" name="SoCMNDGiamHo" id="SoCMNDGiamHo" class="form-control" maxlength="12" tabindex="24" readonly="readonly" value="@(dangKyHoc.SoCMNDGiamHo != null ? dangKyHoc.SoCMNDGiamHo :"")" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label for="DiaChiGiamHo" class="white-label">@AdminLang.Address </label>
                            <input type="text" name="DiaChiGiamHo" id="DiaChiGiamHo" class="form-control" maxlength="100" tabindex="25" readonly="readonly" value="@(dangKyHoc.DiaChiGiamHo != null ? dangKyHoc.DiaChiGiamHo :"")" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label for="TinhGiamHo" class="white-label">@AdminLang.Province </label>
                            <input type="text" name="TinhGiamHo" id="TinhGiamHo" class="form-control" tabindex="26" readonly="readonly" value="@(dangKyHoc.TinhGiamHo != null ? dangKyHoc.TinhGiamHo:"")" />
                        </div>
                        <div class="col-sm-4 form-group">
                            <label for="HuyenGiamHo" class="white-label">@AdminLang.District </label>
                            <input type="text" name="HuyenGiamHo" id="HuyenGiamHo" class="form-control" tabindex="27" readonly="readonly" value="@(dangKyHoc.HuyenGiamHo != null ? dangKyHoc.HuyenGiamHo :"")" />
                        </div>
                        <div class="col-sm-4 form-group">
                            <label for="XaGiamHo" class="white-label">@AdminLang.Commune </label>
                            <input type="text" name="XaGiamHo" id="XaGiamHo" class="form-control" tabindex="28" readonly="readonly" value="@(dangKyHoc.XaGiamHo != null ? dangKyHoc.XaGiamHo :"")" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="SoDienThoaiGiamHo" class="white-label">@AdminLang.PhoneNumber </label>
                            <input type="tel" name="SoDienThoaiGiamHo" id="SoDienThoaiGiamHo" class="form-control" maxlength="15" tabindex="29" readonly="readonly" value="@(dangKyHoc.SoDienThoaiGiamHo != null ? dangKyHoc.SoDienThoaiGiamHo :"")" />
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="EmailGiamHo" class="white-label">@AdminLang.Email</label>
                            <input type="email" name="EmailGiamHo" id="EmailGiamHo" class="form-control" maxlength="255" tabindex="30" readonly="readonly" value="@(dangKyHoc.EmailGiamHo != null ? dangKyHoc.EmailGiamHo :"")" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>