﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.CourseRegisterManagement.Schema.ListOfCourseRegister
@{
    ListOfCourseRegister listOfCourseRegister = Model;
    List<CourseRegister> courseRegisterList = listOfCourseRegister.CourseRegisterList;
    List<TrangThaiDangKy> cacTrangThai = listOfCourseRegister.cacTrangThaiDangKy;
    bool isDeletePermission = XacThuc.CheckAuthentication(FunctionEnum.DeleteCourseRegister);
    bool isGetAllInfo = XacThuc.CheckAuthentication(FunctionEnum.LayChiTietThongTinDangKyHoc);
    bool isUpdateState = XacThuc.CheckAuthentication(FunctionEnum.UpdateStateCourseRegister);
}
@using TrungTamTinHoc.Areas.ControlPanel.Models.CourseRegisterManagement.Schema;
@using Resources;
@using TTTH.Common
@using TTTH.Common.Enums
@Html.Partial("~/Views/PartialAdmin/_TopPageInfo.cshtml", listOfCourseRegister.Paging)
<div class="table-result" id="table-result" link-detail="@Url.RouteUrl("DetailCourseRegister")" link-del="@Url.RouteUrl("DeleteCourseRegister")" link-update-show="@Url.RouteUrl("UpdateShowCourseRegister")" link-update-state="">
    <div class="table-responsive">
        <table class="table table-striped table-bordered jambo_table">
            <thead>
                <tr>
                    <th class="text-center col-checkbox">
                        <input type="checkbox" id="check-all" class="flat">
                    </th>
                    @if (isGetAllInfo)
                    {
                        <th class="text-center">@Html.Raw(AdminLang.Detail)</th>
                    }
                    <th class="text-center">@Html.Raw(AdminLang.ClassAndCourse)</th>
                    <th class="text-center">@Html.Raw(AdminLang.NameOfStudent)</th>
                    <th class="text-center">@Html.Raw(AdminLang.PhoneOfStudent)</th>
                    <th class="text-center">@Html.Raw(AdminLang.NameOfGuardian)</th>
                    <th class="text-center">@Html.Raw(AdminLang.PhoneOfGuardian)</th>
                    <th class="text-center" style="min-width:160px">@Html.Raw(AdminLang.Status)</th>
                    <th class="text-center">@Html.Raw(AdminLang.RegistrationDate)</th>
                    @if (isDeletePermission)
                    {
                        <th class="text-center">@Html.Raw(AdminLang.Delete)</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (CourseRegister register in courseRegisterList)
                {
                    <tr>
                        <td class="text-center middle col-checkbox">
                            <input type="checkbox" class="flat check-item" name="check-remove" id-del="@register.Id">
                        </td>
                        @if (isGetAllInfo)
                        {
                            <td class="text-center middle">
                                <button type="button" class="btn btn-xs btn-primary btn-info" id-detail="@register.Id">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                            </td>
                        }
                        <td class="text-center">
                            @Html.Raw(register.TenKhoaHoc + "<br /> /" + register.TenLopHoc)
                        </td>
                        <td class="text-center">
                            @register.TenHocVien
                        </td>
                        <td class="text-center">
                            @Html.Raw(register.SoDienThoaiHocVien + "<br />" + register.EmailHocVien)
                        </td>
                        <td class="text-center">
                            @register.TenGiamHo
                        </td>
                        <td class="text-center">
                            @Html.Raw(register.SoDienThoaiGiamHo + "<br />" + register.EmailGiamHo)
                        </td>
                        <td class="text-center middle">
                            <select class="form-control show-contact" name="TrangThai" id="TrangThai" id-contact="@register.Id" @(!isUpdateState?"disabled='disabled'":"") >
                                @foreach (TrangThaiDangKy i in cacTrangThai)
                                {
                                    <option value="@i.IDTrangThai" @if (register != null && register.TrangThaiDangKy == i.IDTrangThai) { @Html.Raw("selected=selected") }>@i.TenTrangThai</option>
                                }
                            </select>
                        </td>
                        <td class="text-center">
                            @register.NgayDangKy
                        </td>
                        @if (isDeletePermission)
                        {
                            <td class="text-center middle">
                                <button type="button" class="btn btn-xs btn-danger btn-delete" id-del="@register.Id">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @if (isDeletePermission)
    {
        <div class="col-xs-3 pl-0">
            <button type="button" class="btn btn-danger btn-delete-selected">@AdminLang.DeleteSelectedItems</button>
        </div>
    }
    <div class="col-xs-9 pr-0">
        <div class="div-pagination">
            <ul class="pagination"></ul>
        </div>
    </div>
</div>
<input type="hidden" id="TotalPages" name="TotalPages" value="@listOfCourseRegister.Paging.TotalPages" />
<input type="hidden" id="NumberOfRecord" name="NumberOfRecord" value="@listOfCourseRegister.Paging.NumberOfRecord" />