﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.SettingManagement.Schema.dataMaster
@{
    dataMaster dataMaster = Model == null ? new dataMaster() : Model;
    bool isSaveOtherSettings = XacThuc.CheckAuthentication(FunctionEnum.SaveOtherSettings);
    bool isUpdateOtherSettingsTranslate = XacThuc.CheckAuthentication(FunctionEnum.UpdateOtherSettingsTranslate);
    ViewBag.Title = "update-other-settings";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using Resources;
@using TTTH.Common;
@using TTTH.Common.Enums;
@using TrungTamTinHoc.Areas.ControlPanel.Models.SettingManagement.Schema;
@section css{
    @Styles.Render("~/public/css/admin/setting")
}
@section scripts{
    <script>
        var url = {
            editOtherSetting: '@Url.RouteUrl("updateOtherSettings")',
            ReferOtherSettingWithLang: '@Url.RouteUrl("ReferOtherSettingsWithLang")'
        }
    </script>
    @Scripts.Render("~/public/assets/ckeditor/ckeditor.js")
    @Scripts.Render("~/public/assets/ckfinder/ckfinder.js")
    @Scripts.Render("~/public/js/admin/setting")
}
<div class="page-title">
    <div class="title_left">
        @switch (dataMaster.typeSetting)
        {
            case 1:
                {
                    <h3>@AdminLang.EditPrivacyPolicy</h3>
                    break;
                }
            case 2:
                {
                    <h3>@AdminLang.editUserManual</h3>
                    break;
                }
            case 3:
                {
                    <h3>@AdminLang.editTermsOfUse</h3>
                    break;
                }
        }


    </div>
</div>
<div class="clearfix"></div>
<div class="row">

</div>
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@AdminLang.MainLang <small>@AdminLang.Langvi</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal input_mask" id="form-other-setting-main" enctype="multipart/form-data" action="@Url.RouteUrl("saveOtherSettings")" accept-charset="UTF-8" method="post">
                    <div class="form-group">
                        <input hidden="hidden" id="typeSetting" name="typeSetting" value="@dataMaster.typeSetting" />
                    </div>

                    <div class="form-group">
                        <label for="ChinhSachBaoMat">
                            @switch (dataMaster.typeSetting)
                            {
                                case 1:
                                    {
                                        @AdminLang.PrivacyPolicy
                                        break;
                                    }
                                case 2:
                                    {
                                        @AdminLang.editUserManual
                                        break;
                                    }
                                case 3:
                                    {
                                        @AdminLang.editTermsOfUse
                                        break;
                                    }
                            }

                        </label>
                        <textarea class="form-control ckeditorFull" tabindex="1" name="data" id="data">@dataMaster.data</textarea>
                    </div>
                    @if (isSaveOtherSettings)
                    {
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" id="btn-save-otherSetting" tabindex="2">@AdminLang.Save</button>
                        </div>
                    }

                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-xs-12 col-trans">
        <form class="form-horizontal input_mask" id="form-other-setting-trans" action="@Url.RouteUrl("updateOtherSettingsTranslate")" accept-charset="UTF-8" method="post">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@AdminLang.Translate</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <select id="LanguageTransOtherSetting" name="lang" class="form-control" tabindex="3">
                                @foreach (Lang lang in dataMaster.Language)
                                {
                                    if (lang.Id != Common.defaultLang)
                                    {
                                        <option value="@lang.Id">@lang.Name</option>
                                    }
                                }
                            </select>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <input hidden="hidden" id="trans" name="typeSettingTrans" value="@dataMaster.typeSetting" />
                    <div class="form-group">
                        <label for="ChinhSachBaoMat">
                            @switch (dataMaster.typeSetting)
                            {
                                case 1:
                                    {
                                        @AdminLang.PrivacyPolicy
                                        break;
                                    }
                                case 2:
                                    {
                                        @AdminLang.editUserManual
                                        break;
                                    }
                                case 3:
                                    {
                                        @AdminLang.editTermsOfUse
                                        break;
                                    }
                            }
                        </label>
                        <textarea class="form-control ckeditorFull" tabindex="4" name="dataLang" id="OtherSetting_Trans">@dataMaster.dataLang</textarea>
                    </div>
                    @if (isUpdateOtherSettingsTranslate)
                    {
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" tabindex="5" id="btn-save-other-setting-trans">@AdminLang.SaveTranslation</button>
                        </div>
                    }

                </div>
            </div>
        </form>
    </div>
</div>