﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.SettingManagement.Schema.SettingMaster
@{
    SettingMaster settingMaster = Model == null ? new SettingMaster() : Model;
    bool isSaveSetting = XacThuc.CheckAuthentication(FunctionEnum.SaveSetting);
    bool isUpdateSettingTranslate = XacThuc.CheckAuthentication(FunctionEnum.UpdateSettingTranslate);
    ViewBag.Title = "update Setting System";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
@using TrungTamTinHoc.Areas.ControlPanel.Models.SettingManagement.Schema;
@using Resources;
@using TTTH.Common;
@using TTTH.Common.Enums;
@section css{
    @Styles.Render("~/public/css/admin/setting")
}
@section scripts{
    <script>
        var url = {
            editSetting: '@Url.RouteUrl("updateSetting")',
            ReferSettingWithLang: '@Url.RouteUrl("ReferSettingWithLang")'
        }
    </script>
    @Scripts.Render("~/public/assets/ckeditor/ckeditor.js")
    @Scripts.Render("~/public/assets/ckfinder/ckfinder.js")
    @Scripts.Render("~/public/js/admin/setting")
}
<div class="page-title">
    <div class="title_left">
        <h3>@AdminLang.editSetting</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@AdminLang.MainLang<small>@AdminLang.Langvi</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal input_mask" id="form-setting-main" enctype="multipart/form-data" action="@Url.RouteUrl("saveSetting")" accept-charset="UTF-8" method="post">

                    <div class="form-group">
                        <label for="DiaChi">@AdminLang.Address </label>
                        <input class="form-control" maxlength="200" tabindex="1" name="DiaChi" id="DiaChi" placeholder="Địa chỉ" value="@settingMaster.SettingInfo.DiaChi" />
                    </div>
                    <div class="form-group">
                        <label for="Sdt">@AdminLang.PhoneNumber </label>
                        <input class="form-control" maxlength="15" type="tel" tabindex="2" name="Sdt" id="Sdt" placeholder="@AdminLang.PhoneNumber" value="@settingMaster.SettingInfo.SoDienThoai" />
                    </div>
                    <div class="form-group">
                        <label for="LinkFB">Link Facebook </label>
                        <input class="form-control url" maxlength="255" tabindex="3" name="LinkFB" id="LinkFB" placeholder="LinkFB" value="@settingMaster.SettingInfo.LinkFB" />
                    </div>
                    <div class="form-group">
                        <label for="LinkGoogle">Link Google </label>
                        <input class="form-control url" maxlength="255" tabindex="4" name="LinkGoogle" id="LinkGoogle" placeholder="LinkGoogle" value="@settingMaster.SettingInfo.LinkGoogle" />
                    </div>
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input class="form-control " type="email" maxlength="255" tabindex="5" name="Email" id="Email" placeholder="Email" value="@settingMaster.SettingInfo.Email" />
                    </div>
                    <div class="form-group">
                        <label for="Skype">Skype</label>
                        <input class="form-control url" maxlength="255" tabindex="6" name="Skype" id="Skype" placeholder="Skype" value="@settingMaster.SettingInfo.Skype" />
                    </div>
                    <div class="form-group">
                        <label for="MucBaoHiemXH">@AdminLang.MucBaoHiemXH <span class="text-required">*</span></label>
                        <input class="form-control decimal required" decimal="2" maxlength="13" tabindex="7" name="MucBaoHiemXH" id="MucBaoHiemXH" placeholder="MucBaoHiemXH" value="@settingMaster.SettingInfo.MucBaoHiemXH" />
                    </div>
                    <div class="form-group">
                        <label for="ThueTNCN1">@AdminLang.ThueTNCN 1 <span class="text-required">*</span></label>
                        <input class="form-control decimal required" decimal="2" maxlength="13" tabindex="8" name="ThueTNCN1" id="ThueTNCN1" placeholder="ThueTNCN1" value="@settingMaster.SettingInfo.ThueTNCN1" />
                    </div>
                    <div class="form-group">
                        <label for="ThueTNCN2">@AdminLang.ThueTNCN 2 <span class="text-required">*</span></label>
                        <input class="form-control decimal required" decimal="2" maxlength="13" tabindex="9" name="ThueTNCN2" id="ThueTNCN2" placeholder="ThueTNCN2" value="@settingMaster.SettingInfo.ThueTNCN2" />
                    </div>
                    <div class="form-group">
                        <label for="ThueTNCN3">@AdminLang.ThueTNCN 3 <span class="text-required">*</span></label>
                        <input class="form-control decimal required" decimal="2" maxlength="13" tabindex="10" name="ThueTNCN3" id="ThueTNCN3" placeholder="ThueTNCN3" value="@settingMaster.SettingInfo.ThueTNCN3" />
                    </div>
                    <div class="form-group">
                        <label for="GioiHanThueTNCN1">@AdminLang.GioiHanThueTNCN 1 <span class="text-required">*</span></label>
                        <input class="form-control money required" maxlength="13" tabindex="11" name="GioiHanThueTNCN1" id="GioiHanThueTNCN1" placeholder="GioiHanThueTNCN1" value="@settingMaster.SettingInfo.GioiHanThueTNCN1" />
                    </div>
                    <div class="form-group">
                        <label for="GioiHanThueTNCN2">@AdminLang.GioiHanThueTNCN 2 <span class="text-required">*</span></label>
                        <input class="form-control money required" maxlength="13" tabindex="12" name="GioiHanThueTNCN2" id="GioiHanThueTNCN2" placeholder="GioiHanThueTNCN2" value="@settingMaster.SettingInfo.GioiHanThueTNCN2" />
                    </div>
                    <div class="form-group">
                        <label for="GioiHanThueTNCN3">@AdminLang.GioiHanThueTNCN 3 <span class="text-required">*</span></label>
                        <input class="form-control money required" maxlength="13" tabindex="13" name="GioiHanThueTNCN3" id="GioiHanThueTNCN3" placeholder="GioiHanThueTNCN3" value="@settingMaster.SettingInfo.GioiHanThueTNCN3" />
                    </div>
                    <div class="form-group">
                        <label for="About">@AdminLang.About </label>
                        <textarea class="form-control ckeditor ckeditorBasis" contenteditable='true' tabindex="14" name="About" id="About" placeholder="About" rows="20">@settingMaster.SettingInfo.About</textarea>
                    </div>
                    <div class="form-group">
                        <label for="WhyUs">@AdminLang.WhyUs </label>
                        <textarea class="form-control ckeditor ckeditorBasis" contenteditable='true' tabindex="15" name="WhyUs" id="WhyUs" placeholder="WhyUs" rows="20">@settingMaster.SettingInfo.WhyUs</textarea>
                    </div>
                    <div class="form-group">
                        <label for="TomTat">@AdminLang.TomTat </label>
                        <textarea class="form-control ckeditor ckeditorBasis" contenteditable='true' tabindex="16" name="TomTat" id="TomTat" placeholder="TomTat" rows="20">@settingMaster.SettingInfo.TomTat</textarea>
                    </div>
                    <div class="form-group">
                        <label for="Keyword">@AdminLang.Keyword</label>
                        <input class="form-control" data-role="tagsinput" maxlength="255" tabindex="17" name="Keyword" id="Keyword" placeholder="Keyword" value="@settingMaster.SettingInfo.Keyword" />
                    </div>
                    <div class="form-group">
                        <label for="Author">@AdminLang.Author</label>
                        <input class="form-control" maxlength="255" tabindex="18" name="Author" id="Author" placeholder="Author" value="@settingMaster.SettingInfo.Author" />
                    </div>
                    <div class="form-group">
                        <label for="Link">Link</label>
                        <input class="form-control url" maxlength="255" tabindex="19" name="Link" id="Link" placeholder="Link" value="@settingMaster.SettingInfo.Link" />
                    </div>
                    <div class="form-group">
                        <label for="KinhDo">@AdminLang.KinhDo <span class="text-required">*</span></label>
                        <input class="form-control decimal required" decimal="2" maxlength="5" tabindex="20" name="KinhDo" id="KinhDo" placeholder="KinhDo" value="@settingMaster.SettingInfo.KinhDo" />
                    </div>
                    <div class="form-group">
                        <label for="ViDo">@AdminLang.ViDo <span class="text-required">*</span></label>
                        <input class="form-control decimal required" decimal="2" maxlength="5" tabindex="21" name="ViDo" id="ViDo" placeholder="ViDo" value="@settingMaster.SettingInfo.ViDo" />
                    </div>
                    <div class="form-group">
                        <label for="GTCKH">@AdminLang.GTCKH </label>
                        <textarea class="form-control ckeditor ckeditorBasis" maxlength="500" tabindex="22" name="GTCKH" id="GTCKH" placeholder="GioiThieuChungKhoaHoc" rows="20">@settingMaster.SettingInfo.GioiThieuChungKhoaHoc</textarea>
                    </div>
                    <div class="form-group">
                        <label for="EmailHeThong">@AdminLang.EmailHeThong </label>
                        <input class="form-control " type="email" maxlength="255" tabindex="23" name="EmailHeThong" id="EmailHeThong" placeholder="EmailHeThong" value="@settingMaster.SettingInfo.EmailHeThong" />
                    </div>
                    <div class="form-group">
                        <label for="MatKhauEmail">@AdminLang.MatKhauEmail </label>
                        <input class="form-control " maxlength="255" tabindex="24" name="MatKhauEmail" id="MatKhauEmail" placeholder="MatKhauEmail" value="@settingMaster.SettingInfo.MatKhauEmail" />
                    </div>
                    @if (isSaveSetting)
                    {
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" id="btn-save" tabindex="25">@AdminLang.Save</button>
                        </div>
                    }

                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xs-12 col-trans">
        <form class="form-horizontal input_mask" id="form-setting-trans" action="@Url.RouteUrl("updateSettingTranslate")" accept-charset="UTF-8" method="post">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@AdminLang.Translate</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <select id="LanguageTrans" name="LanguageTrans" class="form-control" tabindex="26">
                                @foreach (Lang lang in settingMaster.Language)
                                {
                                    if (lang.Id != Common.defaultLang)
                                    {
                                        <option value="@lang.Id">@lang.Name</option>
                                    }
                                }
                            </select>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="form-group">
                        <label for="DiaChi">@AdminLang.Address</label>
                        <input class="form-control" tabindex="27" name="DiaChi" id="diaChi_Trans" placeholder="Địa Chỉ" value="@settingMaster.SettingTrans.DiaChi" />
                    </div>
                    <div class="form-group">
                        <label for="Sdt">@AdminLang.PhoneNumber</label>
                        <input class="form-control " disabled="disabled" placeholder="@AdminLang.PhoneNumber" value="@settingMaster.SettingInfo.SoDienThoai" />
                    </div>
                    <div class="form-group">
                        <label for="LinkFB">Link Facebook</label>
                        <input class="form-control" disabled="disabled" placeholder="LinkFB" value="@settingMaster.SettingInfo.LinkFB" />
                    </div>
                    <div class="form-group">
                        <label for="LinkGoogle">Link Google</label>
                        <input class="form-control" disabled="disabled" placeholder="LinkGoogle" value="@settingMaster.SettingInfo.LinkGoogle" />
                    </div>
                    <div class="form-group">
                        <label for="Email">Email </label>
                        <input class="form-control" disabled="disabled" placeholder="Email" value="@settingMaster.SettingInfo.Email" />
                    </div>
                    <div class="form-group">
                        <label for="Skype">Skype </label>
                        <input class="form-control " disabled="disabled" placeholder="Skype" value="@settingMaster.SettingInfo.Skype" />
                    </div>
                    <div class="form-group">
                        <label for="MucBaoHiemXH">@AdminLang.MucBaoHiemXH </label>
                        <input class="form-control" disabled="disabled" maxlength="13" placeholder="MucBaoHiemXH" value="@settingMaster.SettingInfo.MucBaoHiemXH" />
                    </div>
                    <div class="form-group">
                        <label for="ThueTNCN1">@AdminLang.ThueTNCN 1 </label>
                        <input class="form-control decimal" decimal="2" disabled="disabled" maxlength="13" placeholder="ThueTNCN1" value="@settingMaster.SettingInfo.ThueTNCN1" />
                    </div>
                    <div class="form-group">
                        <label for="ThueTNCN2">@AdminLang.ThueTNCN 2 </label>
                        <input class="form-control decimal" decimal="2" disabled="disabled" maxlength="13" placeholder="ThueTNCN2" value="@settingMaster.SettingInfo.ThueTNCN2" />
                    </div>
                    <div class="form-group">
                        <label for="ThueTNCN3">@AdminLang.ThueTNCN 3 </label>
                        <input class="form-control decimal" decimal="2" disabled="disabled" maxlength="13" value="@settingMaster.SettingInfo.ThueTNCN3" />
                    </div>
                    <div class="form-group">
                        <label for="GioiHanThueTNCN1">@AdminLang.GioiHanThueTNCN 1 </label>
                        <input class="form-control money" disabled="disabled" maxlength="13" value="@settingMaster.SettingInfo.GioiHanThueTNCN1" />
                    </div>
                    <div class="form-group">
                        <label for="GioiHanThueTNCN2">@AdminLang.GioiHanThueTNCN 2 </label>
                        <input class="form-control money" disabled="disabled" maxlength="13" value="@settingMaster.SettingInfo.GioiHanThueTNCN2" />
                    </div>
                    <div class="form-group">
                        <label for="GioiHanThueTNCN3">@AdminLang.GioiHanThueTNCN 3 </label>
                        <input class="form-control money" disabled="disabled" maxlength="13" value="@settingMaster.SettingInfo.GioiHanThueTNCN3" />
                    </div>
                    <div class="form-group">
                        <label for="About">@AdminLang.About </label>
                        <textarea class="form-control ckeditor ckeditorBasis" contenteditable='true' tabindex="28" name="About" id="About_Trans" placeholder="About" rows="20">@settingMaster.SettingTrans.About</textarea>
                    </div>
                    <div class="form-group">
                        <label for="WhyUs">@AdminLang.WhyUs </label>
                        <textarea class="form-control ckeditor ckeditorBasis" contenteditable='true' tabindex="29" name="WhyUs" id="WhyUs_Trans" placeholder="WhyUs" rows="20">@settingMaster.SettingTrans.WhyUs</textarea>
                    </div>
                    <div class="form-group">
                        <label for="TomTat">@AdminLang.TomTat </label>
                        <textarea class="form-control ckeditor ckeditorBasis" contenteditable='true' tabindex="30" name="TomTat" id="TomTat_Trans" placeholder="TomTat" rows="20">@settingMaster.SettingTrans.TomTat</textarea>
                    </div>
                    <div class="form-group">
                        <label for="Keyword">@AdminLang.Keyword </label>
                        <input data-role="tagsinput" class="form-control" disabled="disabled" id="Keyword_Trans" value="@settingMaster.SettingInfo.Keyword" />
                    </div>
                    <div class="form-group">
                        <label for="Author">@AdminLang.Author </label>
                        <input class="form-control" disabled="disabled" value="@settingMaster.SettingInfo.Author" />
                    </div>
                    <div class="form-group">
                        <label for="Link">Link </label>
                        <input class="form-control" disabled="disabled" value="@settingMaster.SettingInfo.Link" />
                    </div>
                    <div class="form-group">
                        <label for="KinhDo">@AdminLang.KinhDo </label>
                        <input class="form-control decimal" decimal="2" maxlength="5" disabled="disabled" value="@settingMaster.SettingInfo.KinhDo" />
                    </div>
                    <div class="form-group">
                        <label for="ViDo">@AdminLang.ViDo </label>
                        <input class="form-control decimal" decimal="2" maxlength="5" disabled="disabled" value="@settingMaster.SettingInfo.ViDo" />
                    </div>
                    <div class="form-group">
                        <label for="GioiThieuChungKhoaHoc">@AdminLang.GTCKH</label>
                        <textarea class="form-control ckeditor ckeditorBasis" maxlength="500" tabindex="31" name="GioiThieuChungKhoaHocTrans" id="GioiThieuChungKhoaHoc_Trans" placeholder="GioiThieuChungKhoaHoc">@settingMaster.SettingTrans.GioiThieuChungKhoaHoc</textarea>
                    </div>
                    <div class="form-group">
                        <label for="EmailHeThong">@AdminLang.EmailHeThong </label>
                        <input class="form-control " disabled="disabled" value="@settingMaster.SettingInfo.EmailHeThong" />
                    </div>
                    <div class="form-group">
                        <label for="MatKhauEmail">@AdminLang.MatKhauEmail </label>
                        <input class="form-control " disabled="disabled" value="@settingMaster.SettingInfo.MatKhauEmail" />
                    </div>
                    @if (isUpdateSettingTranslate)
                    {
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" tabindex="32" id="btn-save-trans">@AdminLang.SaveTranslation</button>
                        </div>
                    }

                </div>
            </div>
        </form>
    </div>
</div>

