﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.PhotoManagement.Schema.ListOfPhoto
@{
    ListOfPhoto listOfPhoto = Model;
    List<Photo> photoList = listOfPhoto.PhotoList;
    bool isDeletePhotos = XacThuc.CheckAuthentication(FunctionEnum.DeletePhotos);
}
@using Resources;
@using TrungTamTinHoc.Areas.ControlPanel.Models.PhotoManagement.Schema;
@using TTTH.Common;
@using TTTH.Common.Enums;
@Html.Partial("~/Views/PartialAdmin/_TopPageInfo.cshtml", listOfPhoto.Paging)
<div class="table-responsive table-result" id="table-result" link-del="@Url.RouteUrl("DeletePhotos")" link-update-show="" link-update-state="">
    <div class="table-responsive ">
        <table class="table table-striped table-bordered jambo_table">
            <thead>
                <tr>
                    <th class="text-center col-checkbox">
                        <input type="checkbox" id="check-all" class="flat">
                    </th>
                    <th class="text-center">@AdminLang.Edit</th>
                    <th class="text-center">@AdminLang.Image</th>
                    <th class="text-center">@AdminLang.Note</th>
                    <th class="text-center">@AdminLang.Link</th>
                    @if (isDeletePhotos)
                    {
                        <th class="text-center">@AdminLang.Delete</th>
                    }

                </tr>
            </thead>
            <tbody>
                @foreach (Photo photo in photoList)
                {
                    <tr>
                        <td class="text-center middle col-checkbox">
                            <input type="checkbox" class="flat check-item" name="check-remove" id-del="@photo.Id">
                        </td>
                        <td class="text-center middle">
                            <a href="@Url.RouteUrl("EditPhotos", new { id = photo.Id })">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <img src="@photo.LinkAnh" class="img-slide" alt="@photo.Note" width="200" />
                        </td>
                        <td class="">
                            @Html.Raw(photo.Note.Replace("\n", "<br/>"))
                        </td>
                        <td class="">
                            @photo.LinkAnh
                        </td>
                        @if (isDeletePhotos)
                        {
                            <td class="text-center middle">
                                <button type="button" class="btn btn-xs btn-danger btn-delete" id-del="@photo.Id">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </td>
                        }

                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (isDeletePhotos)
    {
        <div class="col-xs-3 pl-0">
            <button type="button" class="btn btn-danger btn-delete-selected">@AdminLang.DeleteSelectedItems</button>
        </div>
    }

    <div class="col-xs-9 pr-0">
        <div class="div-pagination">
            <ul class="pagination"></ul>
        </div>
    </div>
</div>
<input type="hidden" id="TotalPages" name="TotalPages" value="@listOfPhoto.Paging.TotalPages" />
<input type="hidden" id="NumberOfRecord" name="NumberOfRecord" value="@listOfPhoto.Paging.NumberOfRecord" />
