﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.NewsManagement.Schema.ListOfNews
@{
    ListOfNews listOfNews = Model;
    List<News> newsList = listOfNews.TinTucList;
    bool isDeleteNews = XacThuc.CheckAuthentication(FunctionEnum.DeleteNews);
    bool isUpdateNews = XacThuc.CheckAuthentication(FunctionEnum.SaveNews);
}
@using Resources;
@using TTTH.Common.Enums
@using TTTH.Common
@using TrungTamTinHoc.Areas.ControlPanel.Models.NewsManagement.Schema;
@Html.Partial("~/Views/PartialAdmin/_TopPageInfo.cshtml", listOfNews.Paging)
<div class="table-result" id="table-result" link-del="@Url.RouteUrl("DeleteNews")" link-update-show="@Url.RouteUrl("UpdateShowNew")" link-update-state="">
    <div class="table-responsive">
        <table class="table table-striped table-bordered jambo_table">
            <thead>
                <tr>
                    @if (isDeleteNews)
                    {
                        <th class="text-center col-checkbox">
                            <input type="checkbox" id="check-all" class="flat">
                        </th>
                    }
                    @if (isUpdateNews)
                    {
                        <th class="text-center">@AdminLang.Edit</th>
                    }
                    <th class="text-center">@AdminLang.IllustrationImagie</th>
                    <th class="text-center">@AdminLang.Title</th>
                    <th class="text-center">@AdminLang.Summary</th>
                    <th class="text-center">@AdminLang.CreatAt</th>
                    @if (isDeleteNews)
                    {
                        <th class="text-center">@AdminLang.Delete</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (News tinTuc in newsList)
                {
                <tr>
                    @if (isDeleteNews)
                    {
                        <td class="text-center middle col-checkbox">
                            <input type="checkbox" class="flat check-item" name="check-remove" id-del="@tinTuc.Id">
                        </td>
                    }
                    @if (isUpdateNews)
                    {
                        <td class="text-center middle">
                            <a href="@Url.RouteUrl("EditNews", new { id = tinTuc.Id })">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </td>
                    } 
                    <td class="text-center">
                        <img src="@tinTuc.AnhMinhHoa" style="width:100px; height:100px;" class="img-slide" alt="@tinTuc.TieuDe" width="200" />
                    </td>
                    <td class="">
                        @Html.Raw(tinTuc.TieuDe.Replace("\n", "<br/>"))
                    </td>
                    <td class="">
                        @Html.Raw(tinTuc.TomTat.Replace("\n", "<br/>"))
                    </td>
                    <td class="">
                        @Html.Raw(String.Format("{0:dd/MM/yyyy}", tinTuc.NgayDang))
                    </td>
                    @if (isDeleteNews)
                    {
                        <td class="text-center middle">
                            <button type="button" class="btn btn-xs btn-danger btn-delete" id-del="@tinTuc.Id">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>
    @if (isDeleteNews)
    {
    <div class="col-xs-3 pl-0">
        <button type="button" class="btn btn-danger btn-delete-selected">@AdminLang.DeleteSelectedItems</button>
    </div>
    }
    <div class="col-xs-9 pr-0">
        <div class="div-pagination">
            <ul class="pagination"></ul>
        </div>
    </div>
</div>
<input type="hidden" id="TotalPages" name="TotalPages" value="@listOfNews.Paging.TotalPages" />
<input type="hidden" id="NumberOfRecord" name="NumberOfRecord" value="@listOfNews.Paging.NumberOfRecord" />

