﻿@model TrungTamTinHoc.Areas.Course.Models.Schema.ThongTinUser
@{
    ThongTinUser giamHo = Model;
}
@using TrungTamTinHoc.Areas.Course.Models.Schema;
@using Resources;
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="col-sm-12">
            <hr class="line-in-title" />
        </div>
        <h4 class="student-info-title">
            @UserLang.GuardianInfo
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label for="HoGiamHo" class="white-label">@UserLang.LastName <span class="text-required">*</span></label>
        <input type="text" name="HoGiamHo" id="HoGiamHo" class="gh-required mb-5" maxlength="50" tabindex="20" value="@(giamHo.Ho!=null?giamHo.Ho:"")" />
    </div>
    <div class="col-sm-6">
        <label for="TenGiamHo" class="white-label">@UserLang.FirstName <span class="text-required">*</span></label>
        <input type="text" name="TenGiamHo" id="TenGiamHo" class="gh-required mb-5" maxlength="50" tabindex="21" value="@(giamHo.Ten!=null?giamHo.Ten:"")" />
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <label for="GioiTinhGiamHo" class="white-label">@UserLang.Gender <span class="text-required">*</span></label>
        <select name="GioiTinhGiamHo" id="GioiTinhGiamHo" class="mb-5 gh-required" tabindex="22">
            <option value="true" @(giamHo.GioiTinh ? "selected='selected'" : "")>@UserLang.Male</option>
            <option value="false" @(!giamHo.GioiTinh ? "selected='selected'" : "")>@UserLang.Female</option>
        </select>
    </div>
    <div class="col-sm-4">
        <label for="NgaySinhGiamHo" class="white-label">@UserLang.DateOfBirth <span class="text-required">*</span></label>
        <div class="input-group datetimepicker mb-5">
            <input type="tel" class="date gh-required" id="NgaySinhGiamHo" name="NgaySinhGiamHo" maxlength="8" tabindex="23" value="@(giamHo.NgaySinh!=null?giamHo.NgaySinh.ToString():"")" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="col-sm-4">
        <label for="SoCMNDGiamHo" class="white-label">@UserLang.IdentityNum </label>
        <input type="tel" name="SoCMNDGiamHo" id="SoCMNDGiamHo" class="numeric mb-5" maxlength="12" tabindex="24" value="@(giamHo.SoCMND!=null?giamHo.SoCMND:"")" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <label for="DiaChiGiamHo" class="white-label">@UserLang.Address <span class="text-required">*</span></label>
        <input type="text" name="DiaChiGiamHo" id="DiaChiGiamHo" class="gh-required mb-5" maxlength="100" tabindex="25" value="@(giamHo.DiaChi!=null?giamHo.DiaChi:"")" />
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <label for="TinhGiamHo" class="white-label">@UserLang.Province <span class="text-required">*</span></label>
        <select name="TinhGiamHo" id="TinhGiamHo" class="mb-5 tinh-ht gh-required" tabindex="26"></select>
    </div>
    <div class="col-sm-4">
        <label for="HuyenGiamHo" class="white-label">@UserLang.District <span class="text-required">*</span></label>
        <select name="HuyenGiamHo" id="HuyenGiamHo" class="mb-5 huyen-ht gh-required" tabindex="27"></select>
    </div>
    <div class="col-sm-4">
        <label for="XaGiamHo" class="white-label">@UserLang.Commune <span class="text-required">*</span></label>
        <select name="XaGiamHo" id="XaGiamHo" class="mb-5 gh-required" tabindex="28"></select>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label for="SoDienThoaiGiamHo" class="white-label">@UserLang.PhoneNumber <span class="text-required">*</span></label>
        <input type="tel" name="SoDienThoaiGiamHo" id="SoDienThoaiGiamHo" class=" gh-required" maxlength="15" tabindex="29" value="@(giamHo.SoDienThoai!=null?giamHo.SoDienThoai:"")" />
    </div>
    <div class="col-sm-6">
        <label for="EmailGiamHo" class="white-label">Email</label>
        <input type="email" name="EmailGiamHo" id="EmailGiamHo" class="" maxlength="255" tabindex="30" value="@(giamHo.Email!=null?giamHo.Email:"")" />
    </div>
</div>