﻿@model TrungTamTinHoc.Areas.Course.Models.Schema.ThongTinUser
@{
    ThongTinUser hocVien = Model;
}
@using TrungTamTinHoc.Areas.Course.Models.Schema;
@using Resources;
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="col-sm-12">
            <hr class="line-in-title" />
        </div>
        <h4 class="student-info-title">
            @UserLang.StudentInfo
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label for="HoHocVien" class="white-label">@UserLang.LastName <span class="text-required">*</span></label>
        <input type="text" name="HoHocVien" id="HoHocVien" class="required mb-5" maxlength="50" tabindex="3" value="@(hocVien.Ho!=null?hocVien.Ho:"")" />
    </div>
    <div class="col-sm-6">
        <label for="TenHocVien" class="white-label">@UserLang.FirstName <span class="text-required">*</span></label>
        <input type="text" name="TenHocVien" id="TenHocVien" class="required mb-5" maxlength="50" tabindex="4" value="@(hocVien.Ten!=null?hocVien.Ten:"")" />
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <label for="GioiTinhHocVien" class="white-label">@UserLang.Gender <span class="text-required">*</span></label>
        <select name="GioiTinhHocVien" id="GioiTinhHocVien" class="mb-5 required" tabindex="5">
            <option value="true" @(hocVien.GioiTinh ? "selected='selected'" : "")>@UserLang.Male</option>
            <option value="false" @(!hocVien.GioiTinh ? "selected='selected'" : "")>@UserLang.Female</option>
        </select>
    </div>
    <div class="col-sm-4">
        <label for="NgaySinhHocVien" class="white-label">@UserLang.DateOfBirth <span class="text-required">*</span></label>
        <div class="input-group datetimepicker mb-5">
            <input type="tel" class="date required" id="NgaySinhHocVien" name="NgaySinhHocVien" maxlength="8" tabindex="6" value="@(hocVien.NgaySinh!=null?hocVien.NgaySinh.ToString():"")" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="col-sm-4">
        <label for="SoCMNDHocVien" class="white-label">@UserLang.IdentityNum </label>
        <input type="tel" name="SoCMNDHocVien" id="SoCMNDHocVien" class="numeric mb-5" maxlength="12" tabindex="7" value="@(hocVien.SoCMND!=null?hocVien.SoCMND:"")" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <label for="DiaChiHocVien" class="white-label">@UserLang.Address <span class="text-required">*</span></label>
        <input type="text" name="DiaChiHocVien" id="DiaChiHocVien" class="required mb-5" maxlength="50" tabindex="8" value="@(hocVien.DiaChi!=null?hocVien.DiaChi:"")" />
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <label for="TinhHocVien" class="white-label">@UserLang.Province <span class="text-required">*</span></label>
        <select name="TinhHocVien" id="TinhHocVien" class="mb-5 required tinh-ht" tabindex="9"></select>
    </div>
    <div class="col-sm-4">
        <label for="HuyenHocVien" class="white-label">@UserLang.District <span class="text-required">*</span></label>
        <select name="HuyenHocVien" id="HuyenHocVien" class="mb-5 required huyen-ht" tabindex="10"></select>
    </div>
    <div class="col-sm-4">
        <label for="XaHocVien" class="white-label">@UserLang.Commune <span class="text-required">*</span></label>
        <select name="XaHocVien" id="XaHocVien" class="mb-5 required" tabindex="11"></select>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label for="SoDienThoaiHocVien" class="white-label">@UserLang.PhoneNumber <span class="text-required">*</span></label>
        <input type="tel" name="SoDienThoaiHocVien" id="SoDienThoaiHocVien" class="numeric mb-5" maxlength="15" tabindex="12" value="@(hocVien.SoDienThoai != null?hocVien.SoDienThoai:"")" />
    </div>
    <div class="col-sm-6">
        <label for="EmailHocVien" class="white-label">Email <span class="text-required hide-area">*</span></label>
        <input type="email" name="EmailHocVien" id="EmailHocVien" class="custom-validate email mb-5" maxlength="255" tabindex="13" value="@(hocVien.Email != null?hocVien.Email:"")" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <label for="GhiChu" class="white-label">@UserLang.NoteInCourse</label>
        <input type="text" name="GhiChu" id="GhiChu" class="" maxlength="200" tabindex="14" />
    </div>
</div>