﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.PhotoManagement.Schema.ListOfPhoto
@{
    ViewBag.Title = "List Of Photo";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ListOfPhoto listOfPhoto = Model;
    List<Photo> photoList = listOfPhoto.PhotoList;
}
@using Resources;
@using TrungTamTinHoc.Areas.ControlPanel.Models.PhotoManagement.Schema;
@section css{
    <link rel="stylesheet" type="text/css" href="~/public/assets/iCheck/skins/all.css">
    @Styles.Render("~/public/css/admin/listOfPhoto")
}
@section scripts{
    <script>
        var url = '@Url.RouteUrl("ListOfPhoto")';
    </script>
    @Scripts.Render("~/public/js/admin/listOfPhoto")
}
<div class="row">
    <!-- start of weather widget -->
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@AdminLang.SearchCondition</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link" tabindex="4"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" id="condition-search">
                <form class="form-horizontal input_mask" id="form-search" action="" accept-charset="UTF-8" method="get">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="KeySearch">@AdminLang.Note</label>
                                <input class="form-control" name="KeySearch" id="KeySearch" tabindex="1" value="@listOfPhoto.Condition.KeySearch" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-primary" id="btn-search" link-search="@Url.RouteUrl("ListOfPhoto")" tabindex="3">@AdminLang.Search</button>
                        </div>
                        <input type="hidden" name="CurrentPage" id="CurrentPage" value="@listOfPhoto.Paging.CurrentPage" />
                        <input type="hidden" name="PageSize" id="PageSize" value="@listOfPhoto.Condition.PageSize" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@AdminLang.ListOfPhotos</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link" tabindex="5"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" id="div-table-slide">
                @Html.Partial("Partial/_tableOfPhoto", listOfPhoto)
            </div>
        </div>
    </div>
</div>