﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.PhotoManagement.Schema.PhotoMaster
@{
    PhotoMaster photoMaster = Model == null ? new PhotoMaster() : Model;
    bool isInsert = photoMaster.Mode == (int)TTTH.Common.Enums.ConstantsEnum.ModeMaster.Insert;
    bool isSavePhotos = XacThuc.CheckAuthentication(FunctionEnum.SavePhotos);
    bool isDeletePhotos = XacThuc.CheckAuthentication(FunctionEnum.DeletePhotos);
    bool isUpdatePhotoTranslate = XacThuc.CheckAuthentication(FunctionEnum.UpdatePhotoTranslate);
    ViewBag.Title = isInsert ? "Create Photos" : "Edit Photos";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using TrungTamTinHoc.Areas.ControlPanel.Models.PhotoManagement.Schema;
@using TTTH.Common;
@using TTTH.Common.Enums;
@using Resources;
@section css{
    @Styles.Render("~/public/css/admin/photoMaster")
}
@section scripts{
    <script>
        var url = {
            editPhotos: '@Url.RouteUrl("EditPhotos")',
            createPhotos: '@Url.RouteUrl("CreatePhotos")',
            deletePhotos: '@Url.RouteUrl("DeletePhotos")',
            referPhotoWithLang: '@Url.RouteUrl("ReferPhotoWithLang")'
        }
        var isInsert = '@(isInsert ? "I" : "U")';
    </script>
    @Scripts.Render("~/public/js/admin/photoMaster")
}
<div class="page-title">
    <div class="title_left">
        <h3>@(isInsert ? "Create Photos" : "Edit Photos")</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="@(!isInsert ? "col-md-6" : "") col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                @if (isInsert)
                {
                    <h2>@AdminLang.photoInfo</h2>
                }
                else
                {
                    <h2>@AdminLang.MainLang <small>@AdminLang.Langvi</small></h2>
                }
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal input_mask" id="form-photo-main" enctype="multipart/form-data" action="@Url.RouteUrl("SavePhoto")" accept-charset="UTF-8" method="post">
                    @if (!isInsert)
                    {
                        <input type="hidden" id="IdPhotos" name="Id" value="@photoMaster.PhotoInfo.Id" />
                    }
                    <div class="form-group">
                        <label for="Note">@AdminLang.Note <span class="text-required">*</span></label>
                        <input class="form-control required " maxlength="255" tabindex="1" name="Note" id="Note" placeholder="Note " rows="4" value="@(isInsert ? "" : photoMaster.PhotoInfo.Note)">
                    </div>

                    <div class="form-group">
                        <label for="LinkAnh">@AdminLang.imageAlbum (1920 x 1080px) <span class="text-required">*</span></label>
                        <div>
                            <img id="imgPreview0" class="img-preview" src="@(isInsert ? "" : photoMaster.PhotoInfo.LinkAnh)" />
                            <input type="hidden" id="size0" id-view="imageName" min-of-width="1920" min-rate="1.75" max-rate="1.80">
                        </div>
                        <div class="input-group">
                            <input class="form-control required" name="LinkAnh" id="imageName" placeholder="Ảnh Album" readonly="readonly" style="background: #fff !important;" value="@(isInsert ? "" : photoMaster.PhotoInfo.LinkAnh)" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" tabindex="2">
                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                </button>
                                <input type="file" class="file fileImg" name="FileImg" id="FileImg" id-view="imageName" err-idx="0" accept=".jpg,.png" />
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        @if (isSavePhotos)
                        {
                            <button type="button" class="btn btn-primary" id="btn-save" tabindex="3">@AdminLang.Save</button>
                        }

                        @if (!isInsert && isDeletePhotos)
                        {
                            <button type="button" class="btn btn-danger" id="btn-delete" tabindex="4">@AdminLang.Delete</button>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
    @if (!isInsert && photoMaster.PhotoTrans != null)
    {
        <div class="col-md-6 col-xs-12 col-trans">
            <form class="form-horizontal input_mask" id="form-photo-trans" action="@Url.RouteUrl("UpdatePhotoTranslate")" accept-charset="UTF-8" method="post">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@AdminLang.Translate</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <select id="LanguageTrans" name="LanguageTrans" class="form-control" tabindex="5">
                                    @foreach (Lang lang in photoMaster.Language)
                                    {
                                        if (lang.Id != Common.defaultLang)
                                        {
                                            <option value="@lang.Id">@lang.Name</option>
                                        }
                                    }
                                </select>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <input type="hidden" id="IdPhoto_Trans" name="Id" value="@photoMaster.PhotoTrans.Id" />

                        <div class="form-group">
                            <label for="Note">@AdminLang.Note <span class="text-required">*</span></label>
                            <input class="form-control required" maxlength="255" tabindex="6" name="Note" id="Note_Trans" placeholder="Note" rows="4" value="@photoMaster.PhotoTrans.Note" />
                        </div>
                        <div class="form-group">
                            <label for="LinkAnh">@AdminLang.imageAlbum (1920 x 1080px)</label>
                            <div>
                                <img id="LinkAnh_Trans_img" class="img-preview" src="@photoMaster.PhotoTrans.LinkAnh" />
                            </div>
                            <input class="form-control" id="Link_Trans" placeholder="Ảnh Album" readonly="readonly" value="@photoMaster.PhotoTrans.LinkAnh" />
                        </div>
                        @if (isUpdatePhotoTranslate)
                        {
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" tabindex="7" id="btn-save-trans">@AdminLang.SaveTranslation</button>
                            </div>
                        }
                    </div>
                </div>
            </form>
        </div>
    }
</div>
