﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.ErrorMsgManagement.Schema.ErrorMsgMaster
@{
    ErrorMsgMaster errorMsgMaster = Model == null ? new ErrorMsgMaster() : Model;
    bool isInsert = errorMsgMaster.Mode == (int)TTTH.Common.Enums.ConstantsEnum.ModeMaster.Insert;
    List<TypeError> Types = new Common().getTypeErrors();
    bool isSaveErrorMsg = XacThuc.CheckAuthentication(FunctionEnum.SaveErrorMsg);
    bool isUpdateErrorMsgTranslate = XacThuc.CheckAuthentication(FunctionEnum.UpdateErrorMsgTranslate);
    bool isDeleteErrorMsg = XacThuc.CheckAuthentication(FunctionEnum.DeleteErrorMsg);
    ViewBag.Title = isInsert ? AdminLang.CreateErrorMsg : AdminLang.EditErrorMsg;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string typeMsg = "";
    foreach (TypeError i in Types)
    {
        if (!isInsert)
        {
            if (i.type == errorMsgMaster.ErrorMsgInfo.Type)
            {
                typeMsg = i.typeMsg;
            }
        }

    }

}
@using TrungTamTinHoc.Areas.ControlPanel.Models.ErrorMsgManagement.Schema;
@using TTTH.Common;
@using TTTH.Common.Enums;
@using Resources;
@section css{
    @Styles.Render("~/public/css/admin/errorMsgMaster")
}
@section scripts{
    <script>
        var url = {
            editErrorMsg: '@Url.RouteUrl("EditErrorMsg")',
            createErrorMsg: '@Url.RouteUrl("CreateErrorMsg")',
            deleteErrorMsg: '@Url.RouteUrl("DeleteErrorMsg")',
            referErrorMsgWithLang: '@Url.RouteUrl("ReferErrorMsgWithLang")'
        }
        var isInsert = '@(isInsert ? "I" : "U")';
    </script>
    @Scripts.Render("~/public/js/admin/errorMsgMaster")
}
<div class="page-title">
    <div class="title_left">
        <h3>@(isInsert ? "Create ErrorMsg" : "Edit ErrorMsg")</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="@(!isInsert ? "col-md-6" : "") col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                @if (isInsert)
                {
                    <h2>@AdminLang.photoInfo</h2>
                }
                else
                {
                    <h2>@AdminLang.MainLang <small>@AdminLang.Langvi</small></h2>
                }
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal input_mask" id="form-photo-main" enctype="multipart/form-data" action="@Url.RouteUrl("SaveErrorMsg")" accept-charset="UTF-8" method="post">
                    @if (!isInsert)
                    {
                        <input type="hidden" id="idErrorMsg" name="Id" value="@errorMsgMaster.ErrorMsgInfo.Id" />
                    }
                    <div class="form-group">
                        <label for="Title">@AdminLang.Title </label>
                        <input class="form-control " maxlength="255" tabindex="1" name="Title" id="Title" placeholder="Title" value="@(isInsert ? "" : errorMsgMaster.ErrorMsgInfo.Title)" />
                    </div>
                    <div class="form-group">
                        <label for="Msg">Messenger <span class="text-required">*</span></label>
                        <textarea class="form-control required" maxlength="1000" tabindex="2" name="Msg" id="Msg" placeholder="Messenger" rows="4">@(isInsert ? "" : errorMsgMaster.ErrorMsgInfo.Msg)</textarea>
                    </div>

                    <div class="form-group">
                        <label for="Type">@AdminLang.Type </label>
                        @if (isInsert)
                        {
                            <select class="form-control typeError" name="type" id="type">
                                @foreach (TypeError i in Types)
                                {
                                    <option value="@i.type">@i.typeMsg</option>
                                }
                            </select>
                        }
                        else
                        {
                            <select class="form-control typeError" name="type" id="type">
                                @foreach (TypeError i in Types)
                                {
                                    <option value="@i.type" @if (errorMsgMaster.ErrorMsgInfo.Type != 0 && errorMsgMaster.ErrorMsgInfo.Type == i.type) { @Html.Raw("selected=selected") }>@i.typeMsg</option>
                                }
                            </select>
                        }


                    </div>

                    <div class="form-group">
                        @if (isSaveErrorMsg)
                        {
                            <button type="button" class="btn btn-primary" id="btn-save" tabindex="3">@AdminLang.Save</button>
                        }

                        @if (!isInsert && isDeleteErrorMsg)
                        {
                            <button type="button" class="btn btn-danger" id="btn-delete" tabindex="4">@AdminLang.Delete</button>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
    @if (!isInsert && errorMsgMaster.ErrorMsgTrans != null)
    {
        <div class="col-md-6 col-xs-12 col-trans">
            <form class="form-horizontal input_mask" id="form-errorMsg-trans" action="@Url.RouteUrl("UpdateErrorMsgTranslate")" accept-charset="UTF-8" method="post">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@AdminLang.Translate</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <select id="LanguageTrans" name="LanguageTrans" class="form-control" tabindex="5">
                                    @foreach (Lang lang in errorMsgMaster.Language)
                                    {
                                        if (lang.Id != Common.defaultLang)
                                        {
                                            <option value="@lang.Id">@lang.Name</option>
                                        }

                                    }
                                </select>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <input type="hidden" id="IdErroMsg_Trans" name="Id" value="@errorMsgMaster.ErrorMsgTrans.Id" />

                        <div class="form-group">
                            <label for="Title">@AdminLang.Title </label>
                            <input class="form-control " disabled="disabled" tabindex="6" name="Title" id="Title_Trans" placeholder="Title" value="@errorMsgMaster.ErrorMsgTrans.Title" />
                        </div>
                        <div class="form-group">
                            <label for="Msg">Messenger <span class="text-required">*</span></label>
                            <textarea class="form-control required" maxlength="1000" tabindex="7" name="Msg" id="Msg_Trans" placeholder="Messenger" rows="4">@errorMsgMaster.ErrorMsgTrans.Msg</textarea>
                        </div>
                        <div class="form-group">
                            <label for="Type">@AdminLang.Type </label>
                            <input class="form-control" disabled="disabled" tabindex="8" name="Type" id="Type_Trans" value=@typeMsg>
                        </div>
                        @if (isUpdateErrorMsgTranslate)
                        {
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" id="btn-save-trans">@AdminLang.SaveTranslation</button>
                            </div>
                        }

                    </div>
                </div>
            </form>
        </div>
    }
</div>
