﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.ErrorMsgManagement.Schema.ListOfErrorMsg
@{
    ViewBag.Title = "ListOfErrorMsg";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ListOfErrorMsg listOfErrorMsg = Model;
    List<ErrorMsg> ErrorMsgList = listOfErrorMsg.ErrorMsgList;
    List<TypeError> types = new Common().getTypeErrors();
    bool isUpdateFile = XacThuc.CheckAuthentication(FunctionEnum.UpdateFile);
}
@using TTTH.Common;
@using TTTH.Common.Enums;
@using Resources;
@using TrungTamTinHoc.Areas.ControlPanel.Models.ErrorMsgManagement.Schema
@section css{
    <link rel="stylesheet" type="text/css" href="~/public/assets/iCheck/skins/all.css">
    @Styles.Render("~/public/css/admin/listOfErrorMsg")
}
@section scripts{
    <script>
        var url = '@Url.RouteUrl("ListOfErrorMsg")'
    </script>
    @Scripts.Render("~/public/js/admin/listOfErrorMsg")
}

<div class="row">
    <!-- start of weather widget -->
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@AdminLang.SearchCondition</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link" tabindex="5"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" id="condition-search">
                <form class="form-horizontal input_mask" id="form-search" action="" accept-charset="UTF-8" method="get">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <div class="form-group">
                                <label for="SearchTitle">@AdminLang.Title</label>
                                <input class="form-control" name="SearchTitle" id="SearchTitle" tabindex="1" />
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="Type">@AdminLang.Type</label>
                                <select class="form-control" name="Type" id="Type" tabindex="2">
                                    <option value="0">@AdminLang.All</option>
                                    @foreach (TypeError i in types)
                                    {
                                        <option value="@i.type">@i.typeMsg</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-primary" id="btn-search" link-search="@Url.RouteUrl("ListOfErrorMsg")" tabindex="3">Tìm kiếm</button>
                        </div>
                        <input type="hidden" name="CurrentPage" id="CurrentPage" />
                        <input type="hidden" name="PageSize" id="PageSize" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@AdminLang.ListOfErrorMgs</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link" tabindex="6"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            @if (isUpdateFile)
            {
                <button id="btn-update-file" tabindex="4" link-update="@Url.RouteUrl("ListOfErrorMsgUpdateFile")">@AdminLang.updateFile</button>
            }

            <div class="x_content" id="div-table-slide">
                @Html.Partial("Partial/_tableOfErrorMsg", listOfErrorMsg)
            </div>
        </div>
    </div>
</div>