﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.UserManagement.Schema.ListOfUser
@{
    ViewBag.Title = "List Of User";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ListOfUser listOfUser = Model;
    List<User> userList = listOfUser.UserList;
}
@using Resources;
@using TrungTamTinHoc.Areas.ControlPanel.Models.UserManagement.Schema;
@section css{
    <link rel="stylesheet" type="text/css" href="~/public/assets/iCheck/skins/all.css">
    @Styles.Render("~/public/css/admin/listOfUser")
}
@section scripts{
    <script>
        var url = '@Url.RouteUrl("ListOfUser")';
    </script>
    @Scripts.Render("~/public/js/admin/listOfUser")
}
<div class="row">
    <!-- start of weather widget -->
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@AdminLang.SearchCondition</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link" tabindex="4"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" id="condition-search">
                <form class="form-horizontal input_mask" id="form-search" action="" accept-charset="UTF-8" method="get">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="Ho">@AdminLang.LastName</label>
                                <input class="form-control" name="Ho" id="Ho" tabindex="1" value="@listOfUser.Condition.Ho" />
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="Ten">@AdminLang.FirstName</label>
                                <input class="form-control" name="Ten" id="Ten" tabindex="2" value="@listOfUser.Condition.Ten" />
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="TenDangNhap">@AdminLang.Username</label>
                                <input class="form-control" name="TenDangNhap" id="TenDangNhap" tabindex="3" value="@listOfUser.Condition.UserName" />
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="Email">Email</label>
                                <input type="email" class="form-control" name="Email" id="Email" tabindex="4" value="@listOfUser.Condition.Email" />
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="SoDienThoai">@AdminLang.PhoneNumber</label>
                                <input type="tel" class="form-control" name="SoDienThoai" id="SoDienThoai" tabindex="5" value="@listOfUser.Condition.Email" />
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="IdGroup">@AdminLang.GroupName</label>
                                <select class="form-control" name="IdGroup" id="IdGroup" tabindex="6">
                                    <option value="">@AdminLang.All</option>
                                    @foreach (var group in listOfUser.Group)
                                    {
                                        <option value="@group.IdGroup" @(listOfUser.Condition.IdGroup != 0 && listOfUser.Condition.IdGroup == group.IdGroup ? "selected=selected" : "")>@group.TenGroup</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-primary" id="btn-search" link-search="@Url.RouteUrl("ListOfUser")" tabindex="7">@AdminLang.Search</button>
                        </div>
                        <input type="hidden" name="CurrentPage" id="CurrentPage" value="@listOfUser.Paging.CurrentPage" />
                        <input type="hidden" name="PageSize" id="PageSize" value="@listOfUser.Condition.PageSize" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@AdminLang.ListOfUser</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link" tabindex="8"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" id="div-table-user">
                @Html.Partial("Partial/_tableOfUser", listOfUser)
            </div>
        </div>
    </div>
</div>