﻿@model UserMaster
@{
    UserMaster userMaster = Model == null ? new UserMaster() : Model;
    bool isInsert = userMaster.Mode == (int)TTTH.Common.Enums.ConstantsEnum.ModeMaster.Insert;
    ViewBag.Title = isInsert ? AdminLang.AddUser : AdminLang.EditUser;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    List<Group> GroupList = new List<Group>();
    GroupList = ViewBag.GroupList;
    bool isSaveUser = XacThuc.CheckAuthentication(FunctionEnum.SaveUser);
}
@using Resources
@using TrungTamTinHoc.Areas.ControlPanel.Models.UserManagement.Schema
@using TTTH.Common;
@using TTTH.Common.Enums;
@section css{
    @Styles.Render("~/public/css/admin/userMaster")
}
@section scripts{
    <script>
        var url = {
            editUser: '@Url.RouteUrl("EditUser")',
            createCourse: '@Url.RouteUrl("CreateUser")',
            checkExistAccount: '@Url.RouteUrl("adminCheckExistAccount")',
        }
        var isInsert = '@(isInsert ? "I" : "U")';
    </script>
    @Scripts.Render("~/public/js/admin/userMaster")
}
<div class="col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            @if (isInsert)
            {
                <h2>@AdminLang.AddUser</h2>
            }
            else
            {
                <h2>@AdminLang.EditUser</h2>
            }
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link" tabindex="4"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content" id="condition-search">
            <form class="form-horizontal input_mask" id="form-register" action="@Url.RouteUrl("SaveUser")" method="post">
                <div class="form-container">
                    <div class="box-select">
                        <input type="hidden" id="IdAccount" name="Id" value="@(isInsert ? 0 : userMaster.User.Id)" />
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="Ho" class="white-label">@AdminLang.LastName <span class="text-required">*</span></label>
                                    <input type="text" name="Ho" id="Ho" class="required mb-5 form-control" maxlength="50" tabindex="1" value="@(isInsert ? "" : userMaster.User.Ho)" />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="Ten" class="white-label">@AdminLang.FirstName <span class="text-required">*</span></label>
                                    <input type="text" name="Ten" id="Ten" class="required mb-5 form-control" maxlength="50" tabindex="2" value="@(isInsert ? "" : userMaster.User.Ten)" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="GioiTinh" class="white-label">@AdminLang.Gender</label>
                                    <select name="GioiTinh" id="GioiTinh" class="mb-5 form-control" tabindex="3">
                                        <option value="true" @(isInsert ? "" : ((userMaster.User.GioiTinh == true) ? "selected=selected" : ""))>@AdminLang.Male</option>
                                        <option value="false" @(isInsert ? "" : ((userMaster.User.GioiTinh == false) ? "selected=selected" : ""))>@AdminLang.Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class=" col-md-6 col-sm-6 col-xs-12">
                                <label for="NgaySinh" class="white-label">@AdminLang.DateOfBirth <span class="text-required">*</span></label>
                                <div class="input-group datetimepicker mb-5">
                                    <input type="tel" class="form-control date required" id="NgaySinh" name="NgaySinh" maxlength="8" tabindex="4" value="@(isInsert ? "" : userMaster.User.NgaySinh.Value.ToString("dd/MM/yyyy"))" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="Username" class="white-label">@AdminLang.Username <span class="text-required">*</span></label>
                                    <input type="text" name="Username" id="Username" class="required alphanumeric mb-5 form-control" maxlength="50" tabindex="5" value="@(isInsert ? "" : userMaster.User.Username)" @(isInsert ? "" : "disabled=disabled") />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="Email" class="white-label">Email <span class="text-required">*</span></label>
                                    <input type="email" name="Email" id="Email" class="required email mb-5 form-control" maxlength="255" tabindex="6" value="@(isInsert ? "" : userMaster.User.Email)" @(isInsert ? "" : "disabled=disabled") />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="Password" class="white-label">@AdminLang.Password</label>
                                    <input type="password" name="Password" id="Password" class="form-control" maxlength="50" tabindex="7" value="@(isInsert ? "" : userMaster.User.Password)" @(isInsert ? "" : "disabled=disabled") />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="ConfirmPassword" class="white-label">@AdminLang.ConfirmPassword</label>
                                    <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" maxlength="50" tabindex="8" value="@(isInsert ? "" : userMaster.User.Password)" @(isInsert ? "" : "disabled=disabled") />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="IdGroup">@AdminLang.GroupName</label>
                                    <select class="form-control mul-select" name="IdGroup" id="IdGroup" tabindex="9" multiple="multiple">
                                        @foreach (var group in GroupList)
                                        {
                                            <option value="@group.IdGroup" @((!isInsert && (userMaster.User.IdGroup.Contains(group.IdGroup))) ? "selected=selected" : "")>@group.TenGroup</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        @if(isSaveUser)
                        {
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" id="btn-regist" tabindex="10">@AdminLang.Save</button>
                        </div>
                        }
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
