﻿
@model TrungTamTinHoc.Areas.ControlPanel.Models.GroupManagement.Schema.GroupMaster
@{
    GroupMaster groupMaster = Model == null ? new GroupMaster() : Model;
    bool isInsert = groupMaster.Mode == (int)TTTH.Common.Enums.ConstantsEnum.ModeMaster.Insert;
    ViewBag.Title = isInsert ? "Create Group" : "Edit Group";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    bool isDeleteGroups = XacThuc.CheckAuthentication(FunctionEnum.DeleteGroups);
    bool isUpdateGroups = XacThuc.CheckAuthentication(FunctionEnum.SaveGroup);
    bool isUpdateGroupsTrans = XacThuc.CheckAuthentication(FunctionEnum.UpdateGroupTranslate);
}
@using TrungTamTinHoc.Areas.ControlPanel.Models.GroupManagement.Schema;
@using TTTH.Common;
@using TTTH.Common.Enums;
@using Resources;
@section css{
    @Styles.Render("~/public/css/admin/groupMaster")
}
@section scripts{
    <script>
        var url = {
            editGroup: '@Url.RouteUrl("EditGroup")',
            createGroup: '@Url.RouteUrl("CreateGroup")',
            deleteGroup: '@Url.RouteUrl("DeleteGroups")',
            referGroupWithLang: '@Url.RouteUrl("ReferGroupWithLang")'
        }
        var isInsert = '@(isInsert ? "I" : "U")'
    </script>
    @Scripts.Render("~/public/js/admin/groupMaster")
}
<div class="page-title">
    <div class="title_left">
        <h3>@(isInsert ? AdminLang.CreateGroup : AdminLang.EditGroup)</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="@(!isInsert ? " col-md-6" : "" ) col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                @if (isInsert)
                {
                <h2>@AdminLang.GroupInformation</h2>
                }
                else
                {
                <h2>@AdminLang.MainLanguage <small>Vietnamese</small></h2>
                }
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal input_mask" id="form-group-main" enctype="multipart/form-data" action="@Url.RouteUrl("SaveGroup")" accept-charset="UTF-8" method="post">
                    @if (!isInsert)
                    {
                    <input type="hidden" id="IdGroup" name="Id" value="@groupMaster.GroupInfo.Id" />
                    }
                    <div class="form-group">
                        <label for="GroupName">@AdminLang.GroupName<span class="text-required">*</span></label>
                        <input class="form-control required" maxlength="100" tabindex="1" name="GroupName" id="GroupName" placeholder="@AdminLang.GroupName" rows="2" value="@(isInsert ? " " : groupMaster.GroupInfo.GroupName)" />
                    </div>
                    <div class="form-group">
                        <label for="MoTa">@AdminLang.Describe <span class="text-required">*</span></label>
                        <textarea class="form-control required" maxlength="1000" tabindex="2" name="MoTa" id="MoTa" placeholder="@AdminLang.Describe" rows="4">@(isInsert ? "" : groupMaster.GroupInfo.MoTa)</textarea>
                    </div>
                    <div class="form-group">
                        @if (isUpdateGroups)
                        {
                        <button type="button" class="btn btn-primary" id="btn-save" tabindex="6">@AdminLang.Save</button>
                        }
                        @if (!isInsert && isDeleteGroups)
                        {
                        <button type="button" class="btn btn-danger" id="btn-delete" tabindex="7">@AdminLang.Delete</button>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
    @if (!isInsert && groupMaster.GroupTrans != null)
    {
        <div class="col-md-6 col-xs-12 col-trans">
            <form class="form-horizontal input_mask" id="form-group-trans" action="@Url.RouteUrl("UpdateGroupTranslate")" accept-charset="UTF-8" method="post">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@AdminLang.Translate</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <select id="LanguageTrans" name="LanguageTrans" class="form-control" tabindex="8">
                                    @foreach (Lang lang in groupMaster.Language)
                                    {
                                        <option value="@lang.Id">@lang.Name</option>
                                    }
                                </select>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <input type="hidden" id="IdGroup_Trans" name="Id" value="@groupMaster.GroupTrans.Id" />
                        <div class="form-group">
                            <label for="GroupName"> @AdminLang.GroupName <span class="text-required">*</span></label>
                            <input class="form-control required" maxlength="100" tabindex="9" name="GroupName" id="GroupName_Trans" placeholder="@AdminLang.GroupName" rows="2" value="@groupMaster.GroupTrans.GroupName" />
                        </div>
                        <div class="form-group">
                            <label for="MoTa">@AdminLang.Describe<span class="text-required">*</span></label>
                            <textarea class="form-control required" maxlength="1000" tabindex="10" name="MoTa" id="MoTa_Trans" placeholder="@AdminLang.Describe" rows="4">@groupMaster.GroupTrans.MoTa</textarea>
                        </div>
                        @if (isUpdateGroupsTrans)
                        {
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" id="btn-save-trans">@AdminLang.SaveTranslation</button>
                        </div>
                        } 
                    </div>
                </div>
            </form>
        </div>
    }
</div>

