﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.ClassManagement.Schema.ListOfClass
@{
    ListOfClass listOfClass = Model;
    List<Class> classList = listOfClass.ClassList;
    List<KhoaHoc> courseList = new List<KhoaHoc>();
}
@using Resources
@using TrungTamTinHoc.Areas.ControlPanel.Models.ClassManagement.Schema
@Html.Partial("~/Views/PartialAdmin/_TopPageInfo.cshtml", listOfClass.Paging)
<div class=" table-result" id="table-result" link-del="@Url.RouteUrl("DeleteClasses")" link-update-state="">
    <div class="table-responsive">
        <table class="table table-striped table-bordered jambo_table">
            <thead>
                <tr>
                    <th class="text-center col-checkbox">
                        <input type="checkbox" id="check-all" class="flat">
                    </th>
                    <th class="text-center">@AdminLang.Edit</th>
                    <th class="text-center">@AdminLang.ClassName</th>
                    <th class="text-center">@AdminLang.Numberofperiods</th>
                    <th class="text-center">@AdminLang.LessionTime</th>
                    <th class="text-center">@AdminLang.Numberofparticipants</th>
                    <th class="text-center">@AdminLang.StartTime</th>
                    <th class="text-center">@AdminLang.EndTime</th>
                    <th class="text-center">@AdminLang.Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Class Class in classList)
                {
                    <tr>
                        <td class="text-center middle col-checkbox">
                            <input type="checkbox" class="flat check-item" name="check-remove" id-del="@Class.Id">
                        </td>
                        <td class="text-center middle">
                            <a href="@Url.RouteUrl("EditClass", new { id = Class.Id })">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="text-center middle">
                            @Class.TenLop
                        </td>
                        <td class="text-center middle">
                            @Class.SoTiet
                        </td>
                        <td class="text-center middle">
                            @Class.ThoiGianMoiTiet
                        </td>
                        <td class="text-center middle">
                            @Class.SoLuongHocVien
                        </td>
                        <td class="text-center middle">
                            @if (Class.ThoiGianBatDau != null)
                            {
                                @Class.ThoiGianBatDau
                            }
                        </td>
                        <td class="text-center middle">
                            @if (Class.ThoiGianKetThuc != null)
                            {
                                @Class.ThoiGianKetThuc
                            }
                        </td>
                        <td class="text-center middle">
                            <button type="button" class="btn btn-xs btn-danger btn-delete" id-del="@Class.Id">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-xs-3 pl-0">
        <button type="button" class="btn btn-danger btn-delete-selected">@AdminLang.DeleteSelectedItems</button>
    </div>
    <div class="col-xs-9 pr-0">
        <div class="div-pagination">
            <ul class="pagination"></ul>
        </div>
    </div>
</div>
<input type="hidden" id="TotalPages" name="TotalPages" value="@listOfClass.Paging.TotalPages" />
<input type="hidden" id="NumberOfRecord" name="NumberOfRecord" value="@listOfClass.Paging.NumberOfRecord" />
