﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.NewsManagement.Schema.ListOfNews
@{
    ViewBag.Title = "List Of New";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ListOfNews listOfNews = Model;
    List<News> newList = listOfNews.TinTucList;
}
@using TrungTamTinHoc.Areas.ControlPanel.Models.NewsManagement.Schema
@using Resources
@section css{
    <link rel="stylesheet" type="text/css" href="~/public/assets/iCheck/skins/all.css">
    @Styles.Render("~/public/css/admin/listOfNew")
}
@section scripts{
    <script>
        var url = '@Url.RouteUrl("ListOfNew")'
    </script>
    @Scripts.Render("~/public/js/admin/listOfNew")
}
<div class="row">
    <!-- start of weather widget -->
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@AdminLang.SearchCondition</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link" tabindex="4"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" id="condition-search">
                <form class="form-horizontal input_mask" id="form-search" action="" accept-charset="UTF-8" method="get">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <div class="form-group">
                                <label for="KeySearch">@AdminLang.Title</label>
                                <input class="form-control" name="KeySearch" id="KeySearch" tabindex="1" value="@listOfNews.Condition.KeySearch" />
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="TrangThai">@AdminLang.Show</label>
                                <select class="form-control" name="TrangThai" id="TrangThai" tabindex="2">
                                    <option value="">@AdminLang.All</option>
                                    <option value="true" @(listOfNews.Condition.TrangThai != null && listOfNews.Condition.TrangThai.Value ? "selected=selected" : "" )>@AdminLang.Show</option>
                                    <option value="false" @(listOfNews.Condition.TrangThai != null && !listOfNews.Condition.TrangThai.Value ? "selected=selected" : "" )>@AdminLang.Hide</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-primary" id="btn-search" link-search="@Url.RouteUrl("ListOfNew")" tabindex="3">@AdminLang.Search</button>
                        </div>
                        <input type="hidden" name="CurrentPage" id="CurrentPage" value="@listOfNews.Paging.CurrentPage" />
                        <input type="hidden" name="PageSize" id="PageSize" value="@listOfNews.Condition.PageSize" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@AdminLang.ListOfNews</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link" tabindex="5"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" id="div-table-new">
                @Html.Partial("Partial/_tableOfNew", listOfNews)
            </div>
        </div>
    </div>
</div>