﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.NewsManagement.Schema.NewsMaster
@{
    NewsMaster newsMaster = Model == null ? new NewsMaster() : Model;
    bool isInsert = newsMaster.Mode == (int)TTTH.Common.Enums.ConstantsEnum.ModeMaster.Insert;
    ViewBag.Title = isInsert ? "Create News" : "Edit News";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    bool isDeleteNews = XacThuc.CheckAuthentication(FunctionEnum.DeleteNews);
    bool isUpdateNews = XacThuc.CheckAuthentication(FunctionEnum.SaveNews);
    bool isUpdateNewsTrans = XacThuc.CheckAuthentication(FunctionEnum.UpdateNewsTranslate);
}
@using TrungTamTinHoc.Areas.ControlPanel.Models.NewsManagement.Schema;
@using TTTH.Common;
@using TTTH.Common.Enums;
@using Resources;
@section css{
    @Styles.Render("~/public/css/admin/newsMaster");
}
@section scripts{
    <script>
        var url = {
            editNews: '@Url.RouteUrl("EditNews")',
            createNews: '@Url.RouteUrl("CreateNews")',
            deleteNews: '@Url.RouteUrl("DeleteNews")',
            referNewsWithLang: '@Url.RouteUrl("ReferNewsWithLang")'
        }
        var isInsert = '@(isInsert ? "I" : "U")';
    </script>
    @Scripts.Render("~/public/assets/ckeditor/ckeditor.js")
    @Scripts.Render("~/public/assets/ckfinder/ckfinder.js")
    @Scripts.Render("~/public/js/admin/newsMaster")
}
<div class="page-title">
    <div class="title_left">
        <h3>@(isInsert ? AdminLang.CreateNews : AdminLang.EditNews)</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <input class="hidden" id="IsInsert" value="@(isInsert ? "I" : "U")" />
    <div class="@(!isInsert ? "col-md-6" : "") col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                @if (isInsert)
                {
                    <h2>@AdminLang.NewsInformation</h2>
                }
                else
                {
                    <h2>@AdminLang.MainLanguage <small>Vietnamese</small></h2>
                }
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal input_mask" id="form-news-main" enctype="multipart/form-data" action="@Url.RouteUrl("SaveNews")" accept-charset="UTF-8" method="post">
                    @if (!isInsert)
                    {
                        <input type="hidden" id="IdNews" name="Id" value="@newsMaster.NewsInfo.Id" />
                    }
                    <div class="form-group">
                        <label for="TieuDe">@AdminLang.Title<span class="text-required">*</span></label>
                        <input class="form-control required" maxlength="100" tabindex="1" name="TieuDe" id="TieuDe" placeholder="Tiêu đề" value="@(isInsert ? "" : newsMaster.NewsInfo.TieuDe)" />
                    </div>
                    <div class="form-group">
                        <label for="BeautyId">Beauty Id <span class="text-required">*</span></label>
                        @if (isInsert)
                        {
                            <input class="form-control required" maxlength="100" tabindex="2" name="BeautyId" id="BeautyId" placeholder="BeautyId" value="@(isInsert ? "" : newsMaster.NewsInfo.BeautyId)" />
                        }
                        else
                        {
                            <input class="form-control required" maxlength="100" readonly tabindex="2" name="BeautyId" id="BeautyId" placeholder="BeautyId" value="@(isInsert ? "" : newsMaster.NewsInfo.BeautyId)" />
                        }
                    </div>
                    <div class="form-group">
                        <label for="TomTat">@AdminLang.TomTat<span class="text-required">*</span></label>
                        <textarea class="form-control required" maxlength="1000" tabindex="3" name="TomTat" id="TomTat" placeholder="Tóm tắt" rows="4">@(isInsert ? "" : newsMaster.NewsInfo.TomTat)</textarea>
                    </div>
                    <div class="form-group">
                        <label for="NoiDung">@AdminLang.Content <span class="text-required">*</span></label>
                        <textarea class="form-control ckeditorFull required" maxlength="10000" tabindex="4" name="NoiDung" id="NoiDung" placeholder="Nội dung" rows="4">@(isInsert ? "" : newsMaster.NewsInfo.NoiDung)</textarea>
                    </div>
                    <div class="form-group">
                        <label for="AnhChinh">@AdminLang.MainImage (850 x 315px) <span class="text-required">*</span></label>
                        <div>
                            <img id="imgPreview0" class="img-preview" src="@(isInsert ? "" : newsMaster.NewsInfo.AnhChinh)" />
                            <input type="hidden" id="size0" id-view="imageName0" min-of-width="850" min-rate="2.65" max-rate="2.75">
                        </div>
                        <div class="input-group">
                            <input class="form-control required" name="AnhChinh" id="imageName0" placeholder="Ảnh chính" readonly="readonly" style="background: #fff !important;" value="@(isInsert ? "" : newsMaster.NewsInfo.AnhChinh)" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" tabindex="5">
                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                </button>
                                <input type="file" class="file fileImg" name="FileImg0" id="FileImg0" id-view="imageName0" err-idx="0" accept=".jpg,.png" />
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="AnhMinhHoa">@AdminLang.IllustrationImagie (400 x 400px) <span class="text-required">*</span></label>
                        <div>
                            <img id="imgPreview1" class="img-preview" src="@(isInsert ? "" : newsMaster.NewsInfo.AnhMinhHoa)" />
                            <input type="hidden" id="size1" id-view="imageName1" min-of-width="400" min-rate="0.95" max-rate="1.05">
                        </div>
                        <div class="input-group">
                            <input class="form-control required" name="AnhMinhHoa" id="imageName1" placeholder="Ảnh minh họa" readonly="readonly" style="background: #fff !important;" value="@(isInsert ? "" : newsMaster.NewsInfo.AnhMinhHoa)" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" tabindex="6">
                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                </button>
                                <input type="file" class="file fileImg" name="FileImg1" id="FileImg1" id-view="imageName1" err-idx="1" accept=".jpg,.png" />
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        @if (isUpdateNews)
                        {
                            <button type="button" class="btn btn-primary" id="btn-save" tabindex="7">@AdminLang.Save</button>
                        }
                        @if (!isInsert && isDeleteNews)
                        {
                            <button type="button" class="btn btn-danger" id="btn-delete" tabindex="8">@AdminLang.Delete</button>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
    @if (!isInsert && newsMaster.NewsTrans != null)
    {
        <div class="col-md-6 col-xs-12 col-trans">
            <form class="form-horizontal input_mask" id="form-news-trans" action="@Url.RouteUrl("UpdateNewsTranslate")" accept-charset="UTF-8" method="post">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@AdminLang.Translate</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <select id="LanguageTrans" name="LanguageTrans" class="form-control" tabindex="9">
                                    @foreach (Lang lang in newsMaster.Language)
                                    {
                                        <option value="@lang.Id">@lang.Name</option>
                                    }
                                </select>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <input type="hidden" id="IdNews_Trans" name="Id" value="@newsMaster.NewsTrans.Id" />
                        <div class="form-group">
                            <label for="TieuDe">@AdminLang.Title <span class="text-required">*</span></label>
                            <input class="form-control required" maxlength="100" tabindex="10" name="TieuDe" id="TieuDe_Trans" placeholder="Tiêu đề" value="@(isInsert ? "" : newsMaster.NewsTrans.TieuDe)" />
                        </div>
                        <div class="form-group">
                            <label for="BeautyId">Beauty Id <span class="text-required">*</span></label>
                            <input class="form-control required" disabled="disabled" maxlength="100" tabindex="11" name="BeautyId" id="BeautyId_Trans" placeholder="BeautyId" value="@(isInsert ? "" : newsMaster.NewsTrans.BeautyId)" />
                        </div>
                        <div class="form-group">
                            <label for="TomTat">@AdminLang.TomTat <span class="text-required">*</span></label>
                            <textarea class="form-control required" maxlength="1000" tabindex="12" name="TomTat" id="TomTat_Trans" placeholder="Tóm tắt" rows="4">@(isInsert ? "" : newsMaster.NewsTrans.TomTat)</textarea>
                        </div>
                        <div class="form-group">
                            <label for="NoiDung">@AdminLang.Content<span class="text-required">*</span></label>
                            <textarea class="form-control ckeditorFull required" maxlength="10000" tabindex="13" name="NoiDung" id="NoiDung_Trans" placeholder="Nội dung" rows="4">@(isInsert ? "" : newsMaster.NewsTrans.NoiDung)</textarea>
                        </div>
                        <div class="form-group">
                            <label for="AnhChinh">@AdminLang.MainImage (850 x 315px) <span class="text-required">*</span></label>
                            <div>
                                <img id="imgPreview0" class="img-preview" src="@(isInsert ? "" : newsMaster.NewsTrans.AnhChinh)" />
                                <input type="hidden" id="size0" id-view="imageName0" min-of-width="850" min-rate="2.65" max-rate="2.75">
                            </div>
                            <div class="input-group">
                                <input class="form-control required" name="AnhChinh" id="imageName0" placeholder="Ảnh chính" disabled="disabled" readonly="readonly" value="@(isInsert ? "" : newsMaster.NewsTrans.AnhChinh)" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" tabindex="14">
                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                    </button>
                                    <input type="file" class="file fileImg" name="FileImg0" id="FileImg0" id-view="imageName0" err-idx="0" accept=".jpg,.png" />
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="AnhMinhHoa">@AdminLang.IllustrationImagie (400 x 400px) <span class="text-required">*</span></label>
                            <div>
                                <img id="imgPreview1" class="img-preview" src="@(isInsert ? "" : newsMaster.NewsTrans.AnhMinhHoa)" />
                                <input type="hidden" id="size1" id-view="imageName1" min-of-width="400" min-rate="0.95" max-rate="1.05">
                            </div>
                            <div class="input-group">
                                <input class="form-control required" name="AnhMinhHoa" id="imageName1" placeholder="Ảnh minh họa" disabled="disabled" readonly="readonly" value="@(isInsert ? "" : newsMaster.NewsTrans.AnhMinhHoa)" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" tabindex="15">
                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                    </button>
                                    <input type="file" class="file fileImg" name="FileImg1" id="FileImg1" id-view="imageName1" err-idx="1" accept=".jpg,.png" />
                                </span>
                            </div>
                        </div>
                        @if (isUpdateNews)
                        {
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" id="btn-save-trans">@AdminLang.SaveTranslation</button>
                            </div>
                        }
                    </div>
                </div>
            </form>
        </div>
    }
</div>
