﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.EmailSubscriptionManagement.Schema.ListOfEmailSubscription
@{
    ViewBag.Title = "List Of Email Subscription";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ListOfEmailSubscription listOfEmailSubscription = Model;
    List<EmailSubscription> emailSubscriptionList = listOfEmailSubscription.EmailSubscriptionList;
}
@using Resources;
@using TrungTamTinHoc.Areas.ControlPanel.Models.EmailSubscriptionManagement.Schema;
@section css{
    <link rel="stylesheet" type="text/css" href="~/public/assets/iCheck/skins/all.css">
    @Styles.Render("~/public/css/admin/listOfEmailSubscription");
}
@section scripts{
    <script>
        var url = '@Url.RouteUrl("ListOfEmailSubscription")';
    </script>
    @Scripts.Render("~/public/js/admin/listOfEmailSubscription")
}
<div class="row">
    <!-- start of weather widget -->
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@AdminLang.SearchCondition</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link" tabindex="4"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" id="condition-search">
                <form class="form-horizontal input_mask" id="form-search" action="" accept-charset="UTF-8" method="get">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="KeySearch">Email</label>
                                <input class="form-control" name="KeySearch" id="KeySearch" tabindex="1" value="@listOfEmailSubscription.Condition.KeySearch" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-primary" id="btn-search" link-search="@Url.RouteUrl("ListOfEmailSubscription")" tabindex="3">@AdminLang.Search</button>
                        </div>
                        <input type="hidden" name="CurrentPage" id="CurrentPage" value="@listOfEmailSubscription.Paging.CurrentPage" />
                        <input type="hidden" name="PageSize" id="PageSize" value="@listOfEmailSubscription.Condition.PageSize" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@AdminLang.ListOfEmailSubscription</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link" tabindex="5"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="input-group ">
                        <input type="text" class="form-control" name="CopyEmails" id="CopyEmails" placeholder="@AdminLang.CopyEmail...">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" id="btn-copy-email" link-copy="#" tabindex="">@AdminLang.Copy</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="x_content" id="div-table-slide">
                @Html.Partial("Partial/_tableOfEmailSubscription", listOfEmailSubscription)
            </div>
        </div>
    </div>
</div>