﻿@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@section css{
    @Styles.Render("~/public/css/contact")
}
@section scripts{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB_O3nMHz9EKG0MofLJLZJC-0wW5zNxsc"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    @Scripts.Render("~/public/js/contact")
}
@using Resources;
<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">@UserLang.MenuContact</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="@Url.RouteUrl("Home")">@UserLang.MenuHome</a></li>
                            <li>@UserLang.MenuContact</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<!--Google Map Area Start-->
<div class="google-map-area">
    <!--  Map Section -->
    <div id="contacts" class="map-area">
        <div id="googleMap">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.8912334938664!2d108.21515331429664!3d16.07113298887972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314218368bf9f4b7%3A0x30ed9f304f8dce2e!2zODIgTMOqIER14bqpbiwgVGjhuqFjaCBUaGFuZywgUS4gSOG6o2kgQ2jDonUsIMSQw6AgTuG6tW5nIDU1MDAwMCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1535698957375" 
                    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<!--End of Google Map Area-->
<!--Contact Form Area Start-->
<div class="contact-form-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4 class="contact-title">@UserLang.Infomationcontact</h4>
                <div class="contact-text">
                    <p><span class="c-icon"><i class="zmdi zmdi-phone"></i></span><span class="c-text">@Html.Raw(ViewBag.textSoDienThoai)</span></p>
                    <p><span class="c-icon"><i class="zmdi zmdi-email"></i></span><span class="c-text">@Html.Raw(ViewBag.textEmail)</span></p>
                    <p><span class="c-icon"><i class="zmdi zmdi-pin"></i></span><span class="c-text">@Html.Raw(ViewBag.textDiaChi)</span></p>
                </div>
                <h4 class="contact-title">@UserLang.SocialNetwork</h4>
                <div class="link-social">
                    <a href="https://www.facebook.com/ipro.edu.vn/"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="javascript:void(0)"><i class="zmdi zmdi-rss"></i></a>
                    <a href="javascript:void(0)"><i class="zmdi zmdi-google-plus"></i></a>
                    <a href="javascript:void(0)"><i class="zmdi zmdi-pinterest"></i></a>
                    <a href="javascript:void(0)"><i class="zmdi zmdi-instagram"></i></a>
                </div>
            </div>
            <div class="col-md-7">
                <h4 class="contact-title">@UserLang.SendUsAMessage</h4>
                <form id="form-contact" action="@Url.RouteUrl("homeSendContact")" method="post">
                    <div class="row">
                        <div class="col-xs-18 col-md-12">
                            <input type="text" name="HoTen" id="HoTen" class="required mb-5 contact" maxlength="50" tabindex="1" placeholder="@UserLang.Name">
                        </div>
                        <div class="col-xs-9 col-md-6">
                            <input type="email" name="Email" id="Email" class="required email mb-5 contact" maxlength="255" tabindex="2" placeholder="Email">
                        </div>
                        <div class="col-xs-9 col-md-6">
                            <input type="tel" name="SoDienThoai" id="SoDienThoai" class="required numeric mb-5 contact" maxlength="15" tabindex="3" placeholder="@UserLang.PhoneNumber">
                        </div>
                        <div>
                            <div class="col-md-12 contact-messenger">
                                <textarea name="NoiDung" cols="30" rows="10" id="NoiDung" class="required mb-5 contactmsg" tabindex="4" placeholder="@UserLang.Message"></textarea>
                                <button type="button" class="button-default" id="btn-contact" tabindex="4">@UserLang.Send</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--End of Contact Form-->
