﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.ScheduleManagement.Schema.ListOfSchedule
@{
    ViewBag.Title = "ListOfSchedule";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ListOfSchedule listOfSchedule = Model;
    List<Schedule> ScheduleList = listOfSchedule.ScheduleList;
    List<KhoaHocHienThi> cacKhoaHoc = listOfSchedule.cacKhoaHoc;
    List<LopHocHienThi> cacLopHoc = listOfSchedule.cacLopHoc;
    List<PhongHocHienThi> cacPhongHoc = listOfSchedule.cacPhongHoc;
    int idKhoaHoc = listOfSchedule.Condition.idKhoaHoc;
    int idLopHoc = listOfSchedule.Condition.idLopHoc;
}
@using TrungTamTinHoc.Areas.ControlPanel.Models.ScheduleManagement.Schema;
@using Resources;
@using TTTH.Common
@using TTTH.Common.Enums
@section css{
    <link rel="stylesheet" type="text/css" href="~/public/assets/iCheck/skins/all.css">
    @Styles.Render("~/public/css/admin/listOfSchedule")
}
@section scripts{
    <script>
        var url = {
            getClasses: '@Url.RouteUrl("getClassesByIdCourseInManagerment")'
        };
    </script>
    @Scripts.Render("~/public/js/admin/listOfSchedule")
}
<div class="row">
    <!-- start of weather widget -->
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@AdminLang.SearchCondition</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link" tabindex="5"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" id="condition-search">
                <form class="form-horizontal input_mask" id="form-search" action="" accept-charset="UTF-8" method="get">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="KhoaHoc">@AdminLang.Course</label>
                                <select class="form-control" name="KhoaHoc" id="KhoaHoc" tabindex="1">
                                    <option value="0">@AdminLang.All</option>
                                    @foreach (KhoaHocHienThi i in cacKhoaHoc)
                                    {
                                        <option value="@i.IDKhoaHoc" @(idKhoaHoc != 0 && idKhoaHoc == i.IDKhoaHoc ? "selected='selected'" : "")>@i.TenKhoaHoc</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="LopHoc">@AdminLang.classroom</label>
                                <select class="form-control" name="LopHoc" id="LopHoc" tabindex="2" @(cacLopHoc == null ? "disabled=disabled" : "")>
                                    <option value="0">@AdminLang.All</option>
                                    @if (cacLopHoc != null)
                                    {
                                        foreach (LopHocHienThi i in cacLopHoc)
                                        {
                                            <option value="@i.IDLopHoc" @(idLopHoc != 0 && idLopHoc == i.IDLopHoc ? "selected='selected'" : "")>@i.TenLopHoc</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="PhongHoc">Phòng học</label>
                                <select class="form-control" name="LopHoc" id="idPhongHoc" tabindex="3">
                                    <option value="0">@AdminLang.All</option>
                                    
                                        @foreach (PhongHocHienThi i in cacPhongHoc)
                                        {
                                            <option value="@i.IDPhongHoc" >@i.TenPhongHoc</option>
                                        }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="NgayHoc">@AdminLang.day</label>
                                <Input class="form-control" name="NgayHoc" id="NgayHoc" tabindex="4" />

                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-primary" id="btn-search" link-search="@Url.RouteUrl("ListOfSchedule")" tabindex="6">@AdminLang.Search</button>
                        </div>
                        <input type="hidden" name="CurrentPage" id="CurrentPage" value="@listOfSchedule.Condition.PageSize" />
                        <input type="hidden" name="PageSize" id="PageSize" value="@listOfSchedule.Condition.PageSize" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@AdminLang.listOfSchedule</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link" tabindex="5"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" id="div-table-schedule">
                @Html.Partial("Partial/_tableOfSchedule", listOfSchedule)
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-lg" id="my-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    </div>
</div>