﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.ScheduleManagement.Schema.ScheduleMaster
@{

    ScheduleMaster scheduleMaster = Model == null ? new ScheduleMaster() : Model;
    bool isInsert = scheduleMaster.Mode == (int)TTTH.Common.Enums.ConstantsEnum.ModeMaster.Insert;
    KhoaHoc khoaHoc = scheduleMaster.khoahoc == null ? new KhoaHoc() : scheduleMaster.khoahoc;
    List<KhoaHocHienThi> cacKhoaHoc = new List<KhoaHocHienThi>();
    List<LopHocHienThi> cacLopHoc = new List<LopHocHienThi>();
    List<PhongHocHienThi> cacPhongHoc = scheduleMaster.cacPhongHoc;
    int idPhongHoc = 0;
    int idKhoaHoc = 0;
    int idLopHoc = 0;
    if (isInsert)
    {
        cacKhoaHoc = khoaHoc.cacKhoaHoc;
        cacLopHoc = khoaHoc.cacLopHoc;
        idKhoaHoc = khoaHoc.idKhoaHoc;
        idLopHoc = khoaHoc.idLopHoc;
    }
    else
    {
        idPhongHoc = scheduleMaster.Schedule.idPhongHoc;
    }


    ViewBag.Title = isInsert ? AdminLang.titleAddSchedule : AdminLang.titleEditSchedule;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
@using TrungTamTinHoc.Areas.ControlPanel.Models.ScheduleManagement.Schema;
@using TTTH.Common;
@using TTTH.Common.Enums;
@using Resources;
@section css{
    @Styles.Render("~/public/css/admin/ScheduleMaster")
}
@section scripts{
    <script>
        var url = {
            getClasses: '@Url.RouteUrl("getClassesByIdCourseInManagerment")',
            editSchedule: '@Url.RouteUrl("EditSchedule")',
            CreateSchedule: '@Url.RouteUrl("CreateSchedule")',
            DeleteSchedule: '@Url.RouteUrl("DeleteSchedule")'
        }
        var isInsert = '@(isInsert ? "I" : "U")';
    </script>
    @Scripts.Render("~/public/js/admin/ScheduleMaster")
}
<div class="page-title">
    <div class="title_left">
        <h3>@(isInsert ? AdminLang.titleAddSchedule : AdminLang.titleEditSchedule)</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <form class="form-horizontal input_mask" id="form-schedule-main" enctype="multipart/form-data" action="@Url.RouteUrl("SaveSchedule")" accept-charset="UTF-8" method="post">
                    @if (!isInsert)
                    {
                        <input type="hidden" id="idSchedule" name="Id" value="@scheduleMaster.Schedule.Id" />
                    }

                    <div class="form-group">
                        <label for="Title">@AdminLang.Course </label>
                        @if (isInsert)
                        {
                            <select class="form-control" name="KhoaHoc" id="KhoaHoc" tabindex="2">

                                @foreach (KhoaHocHienThi i in cacKhoaHoc)
                                {
                                    <option value="@i.IDKhoaHoc" @(idKhoaHoc != 0 && idKhoaHoc == i.IDKhoaHoc ? "selected='selected'" : "")>@i.TenKhoaHoc</option>
                                }

                            </select>
                        }
                        else
                        {
                            <input class="form-control " value="@scheduleMaster.Schedule.KhoaHoc" />
                        }
                    </div>
                    <div class="form-group">
                        <label for="Title">@AdminLang.Class </label>
                        @if (isInsert)
                        {
                            <select class="form-control" name="idLopHoc" id="LopHoc" tabindex="3">
                                @if (cacLopHoc != null)
                                {
                                    foreach (LopHocHienThi i in cacLopHoc)
                                    {
                                        <option value="@i.IDLopHoc" @(idLopHoc != 0 && idLopHoc == i.IDLopHoc ? "selected='selected'" : "")>@i.TenLopHoc</option>
                                    }
                                }
                            </select>
                        }
                        else
                        {
                            <input class="form-control " value="@scheduleMaster.Schedule.LopHoc" />
                        }
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="Title">@AdminLang.classroom</label>
                            <select class="form-control" name="idPhongHoc" id="PhongHoc" tabindex="2">

                                @foreach (PhongHocHienThi i in cacPhongHoc)
                                {
                                    <option value="@i.IDPhongHoc" @(idPhongHoc != 0 && idPhongHoc == i.IDPhongHoc ? "selected='selected'" : "")>@i.TenPhongHoc</option>
                                }

                            </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="NgayHoc">@AdminLang.day<span class="text-required">*</span></label>
                        <input class="form-control required" maxlength="255" tabindex="2" name="NgayHoc" id="NgayHoc" placeholder="Ngày học" value="@(isInsert ? "" : scheduleMaster.Schedule.NgayHoc.ToString())" />
                    </div>
                    <div class="form-group">
                        <label for="GioBatDau">@AdminLang.StartTime<span class="text-required">*</span></label>
                        <div class="input-group clockpicker">
                            <input type="text" class="form-control" name="GioBatDau" id="GioBatDau" placeholder="Giờ bắt đầu" value="@(isInsert ? "00:00" : scheduleMaster.Schedule.GioBatDau.ToString())" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="GioKetThuc">@AdminLang.EndTime<span class="text-required">*</span></label>
                        <div class="input-group clockpicker">
                            <input type="text" class="form-control" name="GioKetThuc" id="GioKetThuc" placeholder="Giờ bắt đầu" value="@(isInsert ? "00:00" : scheduleMaster.Schedule.GioBatDau.ToString())" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" id="btn-save" tabindex="3">@AdminLang.Save</button>
                        @if (!isInsert)
                        {
                            <button type="button" class="btn btn-danger" id="btn-delete" tabindex="4">@AdminLang.Delete</button>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

