﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.PermissionManagement.Schema.ListOfPermission
@{
    ListOfPermission listOfPermission = new ListOfPermission();
    if (Model != null)
    {
        listOfPermission = Model;
    }
    List<PermissionsInScreen> cacManHinh = listOfPermission.cacManHinh;
    int index = 0;
    bool isChangeStatePermission =XacThuc.CheckAuthentication(FunctionEnum.UpdateEnablePermission);
}
@using Resources;
@using TrungTamTinHoc.Areas.ControlPanel.Models.PermissionManagement.Schema;
@using TTTH.Common
@using TTTH.Common.Enums
<div class="table-responsive">
    <div class="table-result" id="table-result" link-update-enable="@Url.RouteUrl("UpdateEnablePermission")">
        @if (cacManHinh != null)
        {
            foreach (var manHinh in cacManHinh)
            {
                if (index % 3 == 0)
                {
                    @Html.Raw("<div class='row'>");
                }
                index++;
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <table class="table table-striped table-bordered jambo_table">
                        <thead>
                            <tr>
                                <th colspan="2" class="text-center">@manHinh.NameScreen</th>
                            </tr>
                        </thead>
                        <tbody class="area-screen">
                            @if (manHinh.CacPermission != null)
                            {
                                foreach (var permission in manHinh.CacPermission)
                                {
                                    <tr>
                                        <td>@permission.TenChucNang</td>
                                        <td class="text-center middle div-checkbox">
                                            <input type="checkbox" class="js-switch is-enable" id-permission="@permission.Id" @(permission.IsEnable ? "checked=checked" : "") val="1" update="1" @(permission.isRequired ? "readonly='readonly'" : "") isToViewIndex="@(permission.isToViewIndex ? "1" : "0")" @(!isChangeStatePermission ? "disabled='disabled'" : "")/>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                if (index % 3 == 0)
                {
                    @Html.Raw("</div>");
                }
            }
        }
    </div>
</div>