﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.SlideManagement.Schema.SlideMaster
@{
    SlideMaster slideMaster = Model == null ? new SlideMaster() : Model;
    bool isInsert = slideMaster.Mode == (int)TTTH.Common.Enums.ConstantsEnum.ModeMaster.Insert;
    ViewBag.Title = isInsert ? "Create Slide" : "Edit Slide";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using Resources;
@using TrungTamTinHoc.Areas.ControlPanel.Models.SlideManagement.Schema;
@using TTTH.Common;
@section css{
    @Styles.Render("~/public/css/admin/slideMaster")
}
@section scripts{
    <script>
        var url = {
            editSlide: '@Url.RouteUrl("EditSlide")',
            createSlide: '@Url.RouteUrl("CreateSlide")',
            deleteSlide: '@Url.RouteUrl("DeleteSlides")',
            referSlideWithLang: '@Url.RouteUrl("ReferSlideWithLang")'
        }
        var isInsert = '@(isInsert ? "I" : "U")';
    </script>
    @Scripts.Render("~/public/js/admin/slideMaster")
}
<div class="page-title">
    <div class="title_left">
        <h3>@(isInsert ? @AdminLang.CreateSlide : @AdminLang.EditSlide)</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="@(!isInsert ? "col-md-6" : "") col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                @if (isInsert)
                {
                    <h2>@AdminLang.SlideInformation</h2>
                }
                else
                {
                    <h2>@AdminLang.MainLanguage <small>@AdminLang.Vietnamese</small></h2>
                }
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal input_mask" id="form-slide-main" enctype="multipart/form-data" action="@Url.RouteUrl("SaveSlide")" accept-charset="UTF-8" method="post">
                    @if (!isInsert)
                    {
                        <input type="hidden" id="IdSlide" name="Id" value="@slideMaster.SlideInfo.Id" />
                    }
                    <div class="form-group">
                        <label for="TieuDe">@AdminLang.Title<span class="text-required">*</span></label>
                        <textarea class="form-control required" maxlength="100" tabindex="1" name="TieuDe" id="TieuDe" placeholder="@AdminLang.Title" rows="2">@(isInsert ? "" : slideMaster.SlideInfo.TieuDe)</textarea>
                    </div>
                    <div class="form-group">
                        <label for="ChiTiet">@AdminLang.Detail<span class="text-required">*</span></label>
                        <textarea class="form-control required" maxlength="1000" tabindex="2" name="ChiTiet" id="ChiTiet" placeholder="@AdminLang.Detail" rows="4">@(isInsert ? "" : slideMaster.SlideInfo.ChiTiet)</textarea>
                    </div>
                    <div class="form-group">
                        <label for="Link">@AdminLang.Link<span class="text-required">*</span></label>
                        <input class="form-control url required" maxlength="255" tabindex="3" name="Link" id="Link" placeholder="@AdminLang.Link" value="@(isInsert ? "" : slideMaster.SlideInfo.Link)" />
                    </div>
                    <div class="form-group">
                        <label for="LinkAnh">@AdminLang.SlideImage (1920 x 800px)<span class="text-required">*</span></label>
                        <div>
                            <img id="imgPreview0" class="img-preview" src="@(isInsert ? "" : slideMaster.SlideInfo.LinkAnh)" />
                            <input type="hidden" id="size0" id-view="imageName" min-of-width="1920" min-rate="2.35" max-rate="2.45">
                        </div>
                        <div class="input-group">
                            <input class="form-control required" name="LinkAnh" id="imageName" placeholder="@AdminLang.SlideImage" readonly="readonly" style="background: #fff !important;" value="@(isInsert ? "" : slideMaster.SlideInfo.LinkAnh)" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" tabindex="4">
                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                </button>
                                <input type="file" class="file fileImg" name="FileImg" id="FileImg" id-view="imageName" err-idx="0" accept=".jpg,.png" />
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="HienThi">@AdminLang.Show</label>
                        <input type="checkbox" class="js-switch" tabindex="5" name="CheckHienThi" id="HienThi" @(isInsert || slideMaster.SlideInfo.HienThi ? "checked=checked" : "") />
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" id="btn-save" tabindex="6">@AdminLang.Save</button>
                        @if (!isInsert)
                        {
                            <button type="button" class="btn btn-danger" id="btn-delete" tabindex="7">@AdminLang.Delete</button>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
    @if (!isInsert && slideMaster.SlideTrans != null)
    {
        <div class="col-md-6 col-xs-12 col-trans">
            <form class="form-horizontal input_mask" id="form-slide-trans" action="@Url.RouteUrl("UpdateSlideTranslate")" accept-charset="UTF-8" method="post">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@AdminLang.Translate</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <select id="LanguageTrans" name="LanguageTrans" class="form-control" tabindex="8">
                                    @foreach (Lang lang in slideMaster.Language)
                                    {
                                        <option value="@lang.Id">@lang.Name</option>
                                    }
                                </select>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <input type="hidden" id="IdSlide_Trans" name="Id" value="@slideMaster.SlideTrans.Id" />
                        <div class="form-group">
                            <label for="TieuDe">@AdminLang.Title<span class="text-required">*</span></label>
                            <textarea class="form-control required" maxlength="100" tabindex="9" name="TieuDe" id="TieuDe_Trans" placeholder="@AdminLang.Title" rows="2">@slideMaster.SlideTrans.TieuDe</textarea>
                        </div>
                        <div class="form-group">
                            <label for="ChiTiet">@AdminLang.Detail<span class="text-required">*</span></label>
                            <textarea class="form-control required" maxlength="1000" tabindex="10" name="ChiTiet" id="ChiTiet_Trans" placeholder="@AdminLang.Detail" rows="4">@slideMaster.SlideTrans.ChiTiet</textarea>
                        </div>
                        <div class="form-group">
                            <label for="Link">@AdminLang.Link</label>
                            <input class="form-control" disabled="disabled" id="Link_Trans" placeholder="@AdminLang.Link" value="@slideMaster.SlideTrans.Link" />
                        </div>
                        <div class="form-group">
                            <label for="LinkAnh">@AdminLang.SlideImage (1920 x 800px)</label>
                            <div>
                                <img id="LinkAnh_Trans_img" class="img-preview" src="@slideMaster.SlideTrans.LinkAnh" />
                            </div>
                            <input class="form-control" id="LinkAnh_Trans" placeholder="@AdminLang.SlideImage" readonly="readonly" value="@slideMaster.SlideTrans.LinkAnh" />
                        </div>
                        <div class="form-group">
                            <label for="HienThi">@AdminLang.Show</label>
                            <input type="checkbox" disabled="disabled" class="js-switch" id="HienThi_Trans" @(slideMaster.SlideTrans.HienThi ? "checked=checked" : "") />
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" id="btn-save-trans">@AdminLang.SaveTranslation</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    }
</div>
