﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.ClassManagement.Schema.ClassMaster
@{
    ClassMaster classMaster = Model == null ? new ClassMaster() : Model;
    bool isInsert = classMaster.Mode == (int)TTTH.Common.Enums.ConstantsEnum.ModeMaster.Insert;
    ViewBag.Title = isInsert ? AdminLang.AddClass : AdminLang.EditClass;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    List<KhoaHoc> listKhoaHoc = new List<KhoaHoc>();
    listKhoaHoc = ViewBag.ListKhoaHoc;
    bool isSaveClass = XacThuc.CheckAuthentication(FunctionEnum.SaveClass);
    bool isUpdateClassTranslate = XacThuc.CheckAuthentication(FunctionEnum.UpdateClassTranslate);
    bool isDeleteClasses = XacThuc.CheckAuthentication(FunctionEnum.DeleteClasses);
}
@using Resources
@using TrungTamTinHoc.Areas.ControlPanel.Models.ClassManagement.Schema
@using TTTH.Common;
@using TTTH.Common.Enums;
@section css{
    @Styles.Render("~/public/css/admin/classMaster");
}
@section scripts{
    <script>
        var url = {
            editClass: '@Url.RouteUrl("EditClass")',
            createClass: '@Url.RouteUrl("CreateClass")',
            deleteClass: '@Url.RouteUrl("DeleteClasses")',
            referClassWithLang: '@Url.RouteUrl("ReferClassWithLang")',
        }
        var isInsert = '@(isInsert ? "I" : "U")';
    </script>
    @Scripts.Render("~/public/js/admin/classMaster")
}
<div class="page-title">
    <div class="title_left">
        <h3>@(isInsert ? AdminLang.AddClass : AdminLang.EditClass)</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="@(!isInsert ? "col-md-6" : "") col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                @if (isInsert)
                {
                    <h2>@AdminLang.ClassInformation</h2>
                }
                else
                {
                    <h2>@AdminLang.MainLanguage<small>@AdminLang.Vietnamese</small></h2>
                }
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal input_mask" id="form-class-main" enctype="multipart/form-data" action="@Url.RouteUrl("SaveClass")" accept-charset="UTF-8" method="post">
                    <input type="hidden" id="IdClass" name="Id" value="@(isInsert ? 0 : classMaster.ClassInfo.Id)" />
                    <div class="form-group">
                        <label for="TenLop">@AdminLang.ClassName <span class="text-required">*</span></label>
                        <input class="form-control required" maxlength="50" tabindex="1" name="TenLop" id="TenLop" placeholder="@AdminLang.ClassName" rows="2" value="@(isInsert ? "" : classMaster.ClassInfo.TenLop)" />
                    </div>
                    <div class="form-group">
                        <label for="TomTat">@AdminLang.Summary <span class="text-required">*</span></label>
                        <textarea class="form-control required" maxlength="500" tabindex="2" name="TomTat" id="TomTat" placeholder="@AdminLang.Summary" rows="4">@(isInsert ? "" : classMaster.ClassInfo.TomTat)</textarea>
                    </div>

                    <div class="form-group">
                        <label for="IdKhoaHoc">@AdminLang.CourseName <span class="text-required">*</span></label>
                        <select class="form-control" name="IdKhoaHoc" id="IdKhoaHoc" tabindex="3">
                            @foreach (var khoaHoc in listKhoaHoc)
                            {
                                <option value="@khoaHoc.IdKhoaHoc" @(isInsert ? "" : ((classMaster.ClassInfo.IdKhoaHoc == khoaHoc.IdKhoaHoc) ? "selected=selected" : ""))>@khoaHoc.TenKhoaHoc</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="SoTiet">@AdminLang.Numberofperiods <span class="text-required">*</span></label>
                        <input class="form-control decimal required" decimal="2" maxlength="8" tabindex="4" name="SoTiet" id="SoTiet" placeholder="@AdminLang.Numberofperiods" rows="2" value="@(isInsert ? "" : classMaster.ClassInfo.SoTiet.ToString())" />
                    </div>
                    <div class="form-group">
                        <label for="ThoiGianMoiTiet">@AdminLang.LessionTime <span class="text-required">*</span></label>
                        <input type="tel" class="form-control numeric required" maxlength="6" tabindex="5" name="ThoiGianMoiTiet" id="ThoiGianMoiTiet" placeholder="@AdminLang.LessionTime" rows="2" value="@(isInsert ? "" : classMaster.ClassInfo.ThoiGianMoiTiet.ToString())" />
                    </div>
                    <div class="form-group">
                        <label for="SoLuongHocVien">@AdminLang.Numberofparticipants <span class="text-required">*</span></label>
                        <input type="tel" class="form-control numeric required" maxlength="6" tabindex="6" name="SoLuongHocVien" id="SoLuongHocVien" placeholder="@AdminLang.Numberofparticipants" rows="2" value="@(isInsert ? "" : classMaster.ClassInfo.SoLuongHocVien.ToString())" />
                    </div>
                    <div class="form-group">
                        <label for="ThoiGianBatDau">@AdminLang.StartTime <span class="text-required">*</span></label>
                        <div class="input-group datetimepicker mb-5">
                            <input type="tel" class="form-control required date" id="ThoiGianBatDau" name="ThoiGianBatDau" maxlength="8" tabindex="7" value="@(isInsert ? "" : classMaster.ClassInfo.ThoiGianBatDau.ToString("dd/MM/yyyy"))" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ThoiGianKetThuc">@AdminLang.EndTime <span class="text-required">*</span></label>
                        <div class="input-group datetimepicker mb-5">
                            <input type="tel" class="form-control required date" id="ThoiGianKetThuc" name="ThoiGianKetThuc" maxlength="8" tabindex="8" value="@(isInsert ? "" : classMaster.ClassInfo.ThoiGianKetThuc.ToString("dd/MM/yyyy"))" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ChoPhepDangKy">@AdminLang.AllowRegistration </label>
                        <input type="checkbox" class="js-switch" tabindex="9" name="CheckChoPhepDangKy" id="ChoPhepDangKy" @(isInsert || classMaster.ClassInfo.ChoPhepDangKy ? "checked=checked" : "") />
                    </div>

                    <div class="form-group">
                        @if(isSaveClass)
                        {
                        <button type="button" class="btn btn-primary" id="btn-save" tabindex="10">@AdminLang.Save</button>
                        }
                        @if (!isInsert && isDeleteClasses)
                        {
                            <button type="button" class="btn btn-danger" id="btn-delete" tabindex="11">@AdminLang.Delete</button>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
    @if (!isInsert && classMaster.ClassTrans != null)
    {
        <div class="col-md-6 col-xs-12 col-trans">
            <form class="form-horizontal input_mask" id="form-class-trans" action="@Url.RouteUrl("UpdateClassTranslate")" accept-charset="UTF-8" method="post">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@AdminLang.Translate</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <select id="LanguageTrans" name="LanguageTrans" class="form-control" tabindex="18">
                                    @foreach (Lang lang in classMaster.Language)
                                    {
                                        if (lang.Id != Common.defaultLang)
                                        {
                                            <option value="@lang.Id">@lang.Name</option>
                                        }
                                    }
                                </select>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <input type="hidden" id="IdClass_Trans" name="Id" value="@classMaster.ClassTrans.Id" />
                        <div class="form-group">
                            <label for="TenLop">@AdminLang.ClassName <span class="text-required">*</span></label>
                            <input class="form-control required" maxlength="50" tabindex="12" name="TenLop" id="TenLop_Trans" placeholder="@AdminLang.ClassName" rows="2" value="@(isInsert ? "" : classMaster.ClassTrans.TenLop)" />
                        </div>
                        <div class="form-group">
                            <label for="TomTat">@AdminLang.Summary <span class="text-required">*</span></label>
                            <textarea class="form-control required" maxlength="500" tabindex="13" name="TomTat" id="TomTat_Trans" placeholder="@AdminLang.Summary" rows="4">@(isInsert ? "" : classMaster.ClassTrans.TomTat)</textarea>
                        </div>

                        <div class="form-group">
                            <label for="IdKhoaHoc">@AdminLang.CourseName <span class="text-required">*</span></label>
                            <select class="form-control" name="IdKhoaHoc" id="IdKhoaHoc_Trans" disabled="disabled">
                                @foreach (var khoaHoc in listKhoaHoc)
                                {
                                    <option value="@khoaHoc.IdKhoaHoc" @(isInsert ? "" : ((classMaster.ClassTrans.IdKhoaHoc == khoaHoc.IdKhoaHoc) ? "selected=selected" : ""))>@khoaHoc.TenKhoaHoc</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="SoTiet">@AdminLang.Numberofperiods <span class="text-required">*</span></label>
                            <input class="form-control decimal required" decimal="2" disabled="disabled" maxlength="8" name="SoTiet" id="SoTiet_Trans" placeholder="@AdminLang.Numberofperiods" rows="2" value="@(isInsert ? "" : classMaster.ClassTrans.SoTiet.ToString())" />
                        </div>
                        <div class="form-group">
                            <label for="ThoiGianMoiTiet">@AdminLang.LessionTime <span class="text-required">*</span></label>
                            <input type="tel" class="form-control number required" disabled="disabled" maxlength="6" name="ThoiGianMoiTiet" id="ThoiGianMoiTiet_Trans" placeholder="@AdminLang.LessionTime" rows="2" value="@(isInsert ? "" : classMaster.ClassTrans.ThoiGianMoiTiet.ToString())" />
                        </div>
                        <div class="form-group">
                            <label for="SoLuongHocVien">@AdminLang.Numberofparticipants <span class="text-required">*</span></label>
                            <input type="tel" class="form-control number required" disabled="disabled" maxlength="6" name="SoLuongHocVien" id="SoLuongHocVien_Trans" placeholder="@AdminLang.Numberofparticipants" rows="2" value="@(isInsert ? "" : classMaster.ClassTrans.SoLuongHocVien.ToString())" />
                        </div>

                        <div class="form-group">
                            <label for="ThoiGianBatDau">@AdminLang.StartTime <span class="text-required">*</span></label>
                            <div class="input-group datetimepicker mb-5">
                                <input type="tel" class="form-control required date" disabled="disabled" id="ThoiGianBatDau_Trans" name="ThoiGianBatDau" maxlength="8" value="@(isInsert ? "" : classMaster.ClassTrans.ThoiGianBatDau.ToString("dd/MM/yyyy"))" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ThoiGianKetThuc">@AdminLang.EndTime <span class="text-required">*</span></label>
                            <div class="input-group datetimepicker mb-5">
                                <input type="tel" class="form-control required date" disabled="disabled" id="ThoiGianKetThuc_Trans" name="ThoiGianKetThuc" maxlength="8" value="@(isInsert ? "" : classMaster.ClassTrans.ThoiGianKetThuc.ToString("dd/MM/yyyy"))" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ChoPhepDangKy">@AdminLang.AllowRegistration </label>
                            <input type="checkbox" class="js-switch" disabled="disabled" name="CheckChoPhepDangKy" id="ChoPhepDangKy_Trans" @(isInsert || classMaster.ClassTrans.ChoPhepDangKy ? "checked=checked" : "") />
                        </div>
                        @if(isUpdateClassTranslate)
                        {
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" tabindex="14" id="btn-save-trans">@AdminLang.SaveTranslation</button>
                        </div>
                        }
                    </div>
                </div>
            </form>
        </div>
    }
</div>
