﻿@using Resources
@using TrungTamTinHoc.Areas.ControlPanel.Models.ClassManagement.Schema
@model TrungTamTinHoc.Areas.ControlPanel.Models.ClassManagement.Schema.ListOfClass
@{
    ViewBag.Title = AdminLang.ListOfClass;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ListOfClass listOfClass = Model;
    List<Class> classList = listOfClass.ClassList;
}
@section css{
    <link rel="stylesheet" type="text/css" href="~/public/assets/iCheck/skins/all.css">
    @Styles.Render("~/public/css/admin/listOfClass")
}
@section scripts{
    <script>
        var url = '@Url.RouteUrl("ListOfClass")';
    </script>
    @Scripts.Render("~/public/js/admin/listOfClass")
}
<div class="row">
    <!-- start of weather widget -->
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@AdminLang.SearchCondition</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link" tabindex="4"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" id="condition-search">
                <form class="form-horizontal input_mask" id="form-search" action="" accept-charset="UTF-8" method="get">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="KeySearch">@AdminLang.ClassName</label>
                                <input class="form-control" name="KeySearch" id="KeySearch" tabindex="1" value="@listOfClass.Condition.KeySearch" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="StartTime">@AdminLang.StartTime</label>
                                <div class="input-group datetimepicker mb-5">
                                    <input type="tel" class="form-control date required" id="StartTime" name="StartTime" maxlength="8" tabindex="3" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="EndTime">@AdminLang.EndTime</label>
                                <div class="input-group datetimepicker mb-5">
                                    <input type="tel" class="form-control date required" id="EndTime" name="EndTime" maxlength="8" tabindex="4" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="IdKhoaHoc">@AdminLang.Numberofparticipants</label>
                                <input class="form-control" name="SoLuongHocVien" id="SoLuongHocVien" tabindex="5" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-primary" id="btn-search" link-search="@Url.RouteUrl("ListOfClass")" tabindex="6">@AdminLang.Search</button>
                        </div>
                        <input type="hidden" name="CurrentPage" id="CurrentPage" value="@listOfClass.Paging.CurrentPage" />
                        <input type="hidden" name="PageSize" id="PageSize" value="@listOfClass.Condition.PageSize" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@AdminLang.ListOfClass</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link" tabindex="7"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" id="div-table-class">
                @Html.Partial("Partial/_tableOfClass", listOfClass)
            </div>
        </div>
    </div>
</div>

