﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.ContactManagement.Schema.ListOfContact
@{
    ViewBag.Title = "ListOfContact";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ListOfContact listOfContact = Model;
    List<Contact> contactList = listOfContact.ContactList;
    List<TrangThai> listTrangThai = listOfContact.tenTrangThai;
}
@using Resources;
@using TrungTamTinHoc.Areas.ControlPanel.Models.ContactManagement.Schema;
@section css{
    <link rel="stylesheet" type="text/css" href="~/public/assets/iCheck/skins/all.css">
    @Styles.Render("~/public/css/admin/listOfContact")
}
@section scripts{
    <script>
        var url = '@Url.RouteUrl("ListOfContact")';
    </script>
    @Scripts.Render("~/public/js/admin/listOfContact")
}
<div class="row">
    <!-- start of weather widget -->
    <div class="col-xs-12 contact">
        <div class="x_panel">
            <div class="x_title">
                <h2>@AdminLang.SearchCondition</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link" tabindex="8"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" id="condition-search">
                <form class="form-horizontal input_mask" id="form-search" action="" accept-charset="UTF-8" method="get">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="SearchName">@AdminLang.Name</label>
                                <input class="form-control" name="SearchName" id="SearchName" tabindex="1" />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="TrangThai">@AdminLang.Status</label>
                                <select class="form-control" name="TrangThai" id="TrangThai" tabindex="2">
                                    <option value="0">@AdminLang.All</option>
                                    @foreach (TrangThai i in listTrangThai)
                                    {
                                        <option value="@i.Id">@i.tenTrangThai</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="SearchSdt">@AdminLang.PhoneNumber</label>
                                <input class="form-control" name="SearchSdt" id="SearchSdt" tabindex="3" />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="SearchEmail">Email</label>
                                <input class="form-control" name="SearchEmail" id="SearchEmail" tabindex="4" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="tuNgay">@AdminLang.fromDay</label>
                                <div class="input-group datetimepicker ">
                                    <input class="form-control date" name="tuNgay" id="tuNgay" tabindex="5" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="toiNgay">@AdminLang.toDay</label>
                                <div class="input-group datetimepicker mb-5">
                                    <input class="form-control" name="toiNgay" id="toiNgay" tabindex="6" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-primary" id="btn-search" link-search="@Url.RouteUrl("ListOfContact")" tabindex="7">Tìm kiếm</button>
                        </div>
                        <input type="hidden" name="CurrentPage" id="CurrentPage" />
                        <input type="hidden" name="PageSize" id="PageSize" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@AdminLang.ListOfContact</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link" tabindex="9"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" id="div-table-slide">
                @Html.Partial("Partial/_tableOfContact", listOfContact)
            </div>
        </div>
    </div>
</div>