﻿@{
    ViewBag.Title = "Register account";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@section css{
    @Styles.Render("~/public/css/registerAccount")
}
@section scripts{
    <script>
        var url = {
            checkExistAccount: '@Url.RouteUrl("homeCheckExistAccount")',
            createAccountSuccess: '@Url.RouteUrl("TaoTaiKhoanThanhCong")'
        }
    </script>
    @Scripts.Render("~/public/js/registerAccount")
}
@using Resources;
<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area pb-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center no-line">@UserLang.Register</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<!--Search Category Start-->
<div class="search-category mb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <form id="form-register" action="@Url.RouteUrl("homeCreateAccount")" method="post">
                    <div class="form-container">
                        <div class="box-select">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="Ho" class="white-label">@UserLang.LastName <span class="text-required">*</span></label>
                                    <input type="text" name="Ho" id="Ho" class="required mb-5" maxlength="50" tabindex="1" />
                                </div>
                                <div class="col-sm-6">
                                    <label for="Ten" class="white-label">@UserLang.FirstName <span class="text-required">*</span></label>
                                    <input type="text" name="Ten" id="Ten" class="required mb-5" maxlength="50" tabindex="2" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="GioiTinh" class="white-label">@UserLang.Gender</label>
                                    <select name="GioiTinh" id="GioiTinh" class="mb-5" tabindex="3">
                                        <option value="true">@UserLang.Male</option>
                                        <option value="false">@UserLang.Female</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label for="NgaySinh" class="white-label">@UserLang.DateOfBirth <span class="text-required">*</span></label>
                                    <div class="input-group datetimepicker mb-5">
                                        <input type="tel" class="date required" id="NgaySinh" name="NgaySinh" maxlength="8" tabindex="4" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="Username" class="white-label">@UserLang.Username <span class="text-required">*</span></label>
                                    <input type="text" name="Username" id="Username" class="required alphanumeric mb-5" maxlength="50" tabindex="5" />
                                </div>
                                <div class="col-sm-6">
                                    <label for="Email" class="white-label">Email <span class="text-required">*</span></label>
                                    <input type="email" name="Email" id="Email" class="required email mb-5" maxlength="255" tabindex="6" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="Password" class="white-label">@UserLang.Password <span class="text-required">*</span></label>
                                    <input type="password" name="Password" id="Password" class="required" maxlength="50" tabindex="7" />
                                </div>
                                <div class="col-sm-6">
                                    <label for="ConfirmPassword" class="white-label">@UserLang.ConfirmPassword <span class="text-required">*</span></label>
                                    <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="required" maxlength="50" tabindex="8" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="custom-check">
                                        <span class="text-login">
                                            @UserLang.IAgreeWith
                                            <a href="@Url.RouteUrl("TermsConditions")" target="_blank">@UserLang.TermsConditions</a>
                                            @UserLang.And
                                            <a href="@Url.RouteUrl("PrivacyPolicy")" target="_blank">@UserLang.PrivacyPolicy</a>
                                        </span>
                                        <input type="checkbox" id="Agree" value="1" tabindex="9">
                                        <span class="checkmark"><span class="check"></span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <button type="button" id="btn-regist" tabindex="10">@UserLang.Register</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <span class="text-login">
                                        @UserLang.AlreadyHaveAccount
                                        <a href="@Url.RouteUrl("UserLogin")">@UserLang.Login</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--End of Search Category-->
