﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.CourseManagement.Schema.CourseMaster
@{
    CourseMaster courseMaster = Model == null ? new CourseMaster() : Model;
    bool isInsert = courseMaster.Mode == (int)TTTH.Common.Enums.ConstantsEnum.ModeMaster.Insert;
    ViewBag.Title = isInsert ? AdminLang.addCourse : AdminLang.EditCourse;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    List<ChuyenNganh> listChuyenNganh = new List<ChuyenNganh>();
    listChuyenNganh = ViewBag.ListChuyenNganh;
    bool isSaveCourse = XacThuc.CheckAuthentication(FunctionEnum.SaveCourse);
    bool isUpdateCourseTranslate = XacThuc.CheckAuthentication(FunctionEnum.UpdateCourseTranslate);
    bool isDeleteCourses = XacThuc.CheckAuthentication(FunctionEnum.DeleteCourses);
}
@using Resources
@using TrungTamTinHoc.Areas.ControlPanel.Models.CourseManagement.Schema
@using TTTH.Common;
@using TTTH.Common.Enums;
@section css{
    @Styles.Render("~/public/css/admin/courseMaster");
}
@section scripts{
    <script>
        var url = {
            editCourse: '@Url.RouteUrl("EditCourse")',
            createCourse: '@Url.RouteUrl("CreateCourse")',
            deleteCourse: '@Url.RouteUrl("DeleteCourse")',
            referCourseWithLang: '@Url.RouteUrl("ReferCourseWithLang")',
            checkExistBeautyId: '@Url.RouteUrl("CheckExistBeautyId")',
        }
        var isInsert = '@(isInsert ? "I" : "U")';
    </script>
    @Scripts.Render("~/public/assets/ckeditor/ckeditor.js")
    @Scripts.Render("~/public/assets/ckfinder/ckfinder.js")
    @Scripts.Render("~/public/js/admin/courseMaster")
}
<div class="page-title">
    <div class="title_left">
        <h3>@(isInsert ? AdminLang.addCourse : AdminLang.EditCourse)</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="@(!isInsert ? "col-md-6" : "") col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                @if (isInsert)
                {
                    <h2>@AdminLang.CourseInformation</h2>
                }
                else
                {
                    <h2>@AdminLang.MainLanguage<small>@AdminLang.Vietnamese</small></h2>
                }
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal input_mask" id="form-course-main" enctype="multipart/form-data" action="@Url.RouteUrl("SaveCourse")" accept-charset="UTF-8" method="post">
                    <input type="hidden" id="IdCourse" name="Id" value="@(isInsert ? 0 : courseMaster.CourseInfo.Id)" />
                    <div class="form-group">
                        <label for="TenKhoaHoc">@AdminLang.CourseName <span class="text-required">*</span></label>
                        <input class="form-control required" maxlength="50" tabindex="1" name="TenKhoaHoc" id="TenKhoaHoc" placeholder="@AdminLang.CourseName" rows="2" value="@(isInsert ? "" : courseMaster.CourseInfo.TenKhoaHoc)" />
                    </div>
                    <div class="form-group">
                        <label for="BeautyId">BeautyId <span class="text-required">*</span></label>
                        <input class="form-control required" maxlength="255" tabindex="2" name="BeautyId" id="BeautyId" placeholder="BeautyId" value="@(isInsert ? "" : courseMaster.CourseInfo.BeautyId)" />
                    </div>
                    <div class="form-group">
                        <label for="TomTat">@AdminLang.Summary <span class="text-required">*</span></label>
                        <textarea class="form-control required" maxlength="500" tabindex="3" name="TomTat" id="TomTat" placeholder="@AdminLang.Summary" rows="4">@(isInsert ? "" : courseMaster.CourseInfo.TomTat)</textarea>
                    </div>
                    <div class="form-group">
                        <label for="ChiTiet">@AdminLang.Detail <span class="text-required">*</span></label>
                        <textarea class="form-control ckeditorFull required" tabindex="4" name="ChiTiet" id="ChiTiet" placeholder="@AdminLang.Detail" rows="4">@(isInsert ? "" : courseMaster.CourseInfo.ChiTiet)</textarea>
                    </div>

                    <div class="form-group">
                        <label for="IdChuyenNganh">@AdminLang.SpecializedName <span class="text-required">*</span></label>
                        <select class="form-control" name="IdChuyenNganh" id="IdChuyenNganh" tabindex="5">
                            @foreach (var chuyenNganh in listChuyenNganh)
                            {
                                <option value="@chuyenNganh.IdChuyenNganh" @(isInsert ? "" : ((courseMaster.CourseInfo.IdChuyenNganh == chuyenNganh.IdChuyenNganh) ? "selected=selected" : ""))>@chuyenNganh.TenChuyenNganh</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="AnhMinhHoa">@AdminLang.Illustration (600 x 422) <span class="text-required">*</span></label>
                        <div>
                            <img id="imgPreview0" class="img-preview" src="@(isInsert ? "" : courseMaster.CourseInfo.AnhMinhHoa)" />
                            <input type="hidden" id="size0" id-view="imageName" min-of-width="600" min-rate="1.40" max-rate="1.45">
                        </div>
                        <div class="input-group">
                            <input class="form-control required" name="AnhMinhHoa" id="imageName" placeholder="@AdminLang.IllustrationImagie" readonly="readonly" style="background: #fff !important;" value="@(isInsert ? "" : courseMaster.CourseInfo.AnhMinhHoa)" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" tabindex="6">
                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                </button>
                                <input type="file" class="file fileImg" name="FileImg" id="FileImg" id-view="imageName" err-idx="0" accept=".jpg,.png" />
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="NgayKhaiGiang">@AdminLang.StartDate </label>
                        <div class="input-group datetimepicker mb-5">
                            <input type="tel" class="form-control date" id="NgayKhaiGiang" name="NgayKhaiGiang" maxlength="8" tabindex="7" value="@(isInsert ? "" : courseMaster.CourseInfo.NgayKhaiGiang?.ToString("dd/MM/yyyy"))" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="HocPhi">@AdminLang.Tuition <span class="text-required">*</span></label>
                        <input class="form-control required money" maxlength="15" tabindex="8" name="HocPhi" id="HocPhi" placeholder="@AdminLang.Tuition" rows="2" value="@(isInsert ? "" : @Math.Round(courseMaster.CourseInfo.HocPhi, 0).ToString())" />
                    </div>
                    <div class="form-group">
                        <label for="ChietKhau">@AdminLang.Discount <span class="text-required">*</span></label>
                        <input class="form-control decimal required " maxlength="6" decimal="2" tabindex="9" name="ChietKhau" id="ChietKhau" placeholder="@AdminLang.Discount" rows="2" value="@(isInsert ? "" : courseMaster.CourseInfo.ChietKhau.ToString())" />
                    </div>
                    <div class="form-group ">
                        <label for="DoTuoi">@AdminLang.Age <span class="text-required">*</span></label>
                        <input class="form-control required" maxlength="100" tabindex="10" name="DoTuoi" id="DoTuoi" placeholder="@AdminLang.Age" rows="2" value="@(isInsert ? "" : courseMaster.CourseInfo.DoTuoi)" />
                    </div>
                    <div class="form-group ">
                        <label for="ThoiGian">@AdminLang.Time <span class="text-required">*</span></label>
                        <input class="form-control required" maxlength="100" tabindex="11" name="ThoiGian" id="ThoiGian" placeholder="@AdminLang.Time" rows="2" value="@(isInsert ? "" : courseMaster.CourseInfo.ThoiGian)" />
                    </div>
                    <div class="form-group">
                        <label for="ThoiGianKetThuc">@AdminLang.EndDate</label>
                        <div class="input-group datetimepicker mb-5">
                            <input type="tel" class="form-control date" id="ThoiGianKetThuc" name="ThoiGianKetThuc" maxlength="8" tabindex="12" value="@(isInsert ? "" : courseMaster.CourseInfo.ThoiGianKetThuc?.ToString("dd/MM/yyyy"))" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="LichHoc">@AdminLang.Schedule <span class="text-required">*</span></label>
                        <textarea class="form-control required" maxlength="100" tabindex="13" name="LichHoc" id="LichHoc" placeholder="@AdminLang.Schedule" rows="2">@(isInsert ? "" : courseMaster.CourseInfo.LichHoc)</textarea>
                    </div>
                    <div class="form-group">
                        <label for="ChoPhepDangKy">@AdminLang.AllowRegistration </label>
                        <input type="checkbox" class="js-switch" tabindex="14" name="CheckChoPhepDangKy" id="ChoPhepDangKy" @(isInsert || courseMaster.CourseInfo.ChoPhepDangKy ? "checked=checked" : "") />
                    </div>
                    <div class="form-group">
                        <label for="HienThi">@AdminLang.Show </label>
                        <input type="checkbox" class="js-switch" tabindex="15" name="CheckHienThi" id="HienThi" @(isInsert || courseMaster.CourseInfo.HienThi ? "checked=checked" : "") />
                    </div>
                    <div class="form-group">
                        @if (isSaveCourse)
                         {
                            <button type="button" class="btn btn-primary" id="btn-save" tabindex="16">@AdminLang.Save</button>
                         }
                        @if (!isInsert && isDeleteCourses)
                         {
                            <button type="button" class="btn btn-danger" id="btn-delete" tabindex="17">@AdminLang.Delete</button>
                         }
                    </div>
                </form>
            </div>
        </div>
    </div>
    @if (!isInsert && courseMaster.CourseTrans != null)
    {
        <div class="col-md-6 col-xs-12 col-trans">
            <form class="form-horizontal input_mask" id="form-course-trans" action="@Url.RouteUrl("UpdateCourseTranslate")" accept-charset="UTF-8" method="post">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@AdminLang.Translate</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <select id="LanguageTrans" name="LanguageTrans" class="form-control" tabindex="18">
                                    @foreach (Lang lang in courseMaster.Language)
                                    {
                                        if (lang.Id != Common.defaultLang)
                                        {
                                            <option value="@lang.Id">@lang.Name</option>
                                        }
                                    }
                                </select>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <input type="hidden" id="IdCourse_Trans" name="Id" value="@courseMaster.CourseTrans.Id" />
                        <div class="form-group">
                            <label for="TenKhoaHoc">@AdminLang.CourseName <span class="text-required">*</span></label>
                            <input class="form-control required" maxlength="50" tabindex="19" name="TenKhoaHoc" id="TenKhoaHoc_Trans" placeholder="@AdminLang.CourseName" rows="2" value="@(isInsert ? "" : courseMaster.CourseTrans.TenKhoaHoc)" />
                        </div>
                        <div class="form-group">
                            <label for="BeautyId">BeautyId <span class="text-required">*</span></label>
                            <input class="form-control required" disabled="disabled" maxlength="255" name="BeautyId" id="BeautyId_Trans" placeholder="BeautyId" value="@(isInsert ? "" : courseMaster.CourseTrans.BeautyId)" />
                        </div>
                        <div class="form-group">
                            <label for="TomTat">@AdminLang.Summary <span class="text-required">*</span></label>
                            <textarea class="form-control required" maxlength="500" tabindex="20" name="TomTat" id="TomTat_Trans" placeholder="@AdminLang.Summary" rows="4">@(isInsert ? "" : courseMaster.CourseTrans.TomTat)</textarea>
                        </div>
                        <div class="form-group">
                            <label for="ChiTiet">@AdminLang.Detail <span class="text-required">*</span></label>
                            <textarea class="form-control ckeditorFull required" tabindex="21" name="ChiTiet" id="ChiTiet_Trans" placeholder="@AdminLang.Detail" rows="4">@(isInsert ? "" : courseMaster.CourseTrans.ChiTiet)</textarea>
                        </div>

                        <div class="form-group">
                            <label for="IdChuyenNganh">@AdminLang.SpecializedName <span class="text-required">*</span></label>
                            <select class="form-control" name="TenChuyenNganh" id="IdChuyenNganh_Trans" disabled="disabled">
                                @foreach (var chuyenNganh in listChuyenNganh)
            {
                    <option value="@chuyenNganh.IdChuyenNganh" @(isInsert ? "" : ((courseMaster.CourseTrans.IdChuyenNganh == chuyenNganh.IdChuyenNganh) ? "selected=selected" : ""))>@chuyenNganh.TenChuyenNganh</option>
}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="AnhMinhHoa">@AdminLang.Illustration (600 x 422px)</label>
                            <div>
                                <img id="AnhMinhHoa_Trans_img" class="img-preview" src="@courseMaster.CourseTrans.AnhMinhHoa" />
                            </div>
                            <input class="form-control" id="AnhMinhHoa_Trans" placeholder="@AdminLang.Illustration" readonly="readonly" value="@courseMaster.CourseTrans.AnhMinhHoa" />
                        </div>
                        <div class="form-group">
                            <label for="NgayKhaiGiang">@AdminLang.StartDate</label>
                            <div class="input-group datetimepicker mb-5">
                                <input type="tel" class="form-control date" disabled="disabled" id="NgayKhaiGiang_Trans" name="NgayKhaiGiang" maxlength="8" value="@(isInsert ? "" : courseMaster.CourseTrans.NgayKhaiGiang?.ToString("dd/MM/yyyy"))" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="HocPhi">@AdminLang.Tuition</label>
                            <input class="form-control money " maxlength="15" disabled="disabled" name="HocPhi" id="HocPhi_Trans" placeholder="@AdminLang.Tuition" rows="2" value="@(isInsert ? "" :  @Math.Round(courseMaster.CourseTrans.HocPhi, 0).ToString())" />
                        </div>
                        <div class="form-group">
                            <label for="ChietKhau">@AdminLang.Discount</label>
                            <input class="form-control decimal" maxlength="6" decimal="2" disabled="disabled" name="ChietKhau" id="ChietKhau_Trans" placeholder="@AdminLang.Discount" rows="2" value="@(isInsert ? "" : courseMaster.CourseTrans.ChietKhau.ToString())" />
                        </div>
                        <div class="form-group">
                            <label for="DoTuoi">@AdminLang.Age <span class="text-required">*</span></label>
                            <input class="form-control required" maxlength="100" disabled="disabled" name="DoTuoi" id="DoTuoi_Trans" placeholder="@AdminLang.Age" rows="2" value="@(isInsert ? "" : courseMaster.CourseTrans.DoTuoi)" />
                        </div>
                        <div class="form-group">
                            <label for="ThoiGian">@AdminLang.Time <span class="text-required">*</span></label>
                            <input class="form-control required" maxlength="100" disabled="disabled" name="ThoiGian" id="ThoiGian_Trans" placeholder="@AdminLang.Time" rows="2" value="@(isInsert ? "" : courseMaster.CourseTrans.ThoiGian)" />
                        </div>
                        <div class="form-group">
                            <label for="ThoiGianKetThuc">@AdminLang.EndDate</label>
                            <div class="input-group datetimepicker mb-5">
                                <input type="tel" class="form-control date" disabled="disabled" id="ThoiGianKetThuc_Trans" name="ThoiGianKetThuc" maxlength="8" value="@(isInsert ? "" : courseMaster.CourseTrans.ThoiGianKetThuc?.ToString("dd/MM/yyyy"))" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="LichHoc">@AdminLang.Schedule <span class="text-required">*</span></label>
                            <textarea class="form-control required" maxlength="100" disabled="disabled" name="LichHoc" id="LichHoc_Trans" placeholder="@AdminLang.Schedule" rows="2">@(isInsert ? "" : courseMaster.CourseTrans.LichHoc)</textarea>
                        </div>
                        <div class="form-group">
                            <label for="ChoPhepDangKy">@AdminLang.AllowRegistration</label>
                            <input type="checkbox" class="js-switch" disabled="disabled" name="CheckChoPhepDangKy" id="ChoPhepDangKy_Trans" @(isInsert || courseMaster.CourseTrans.ChoPhepDangKy ? "checked=checked" : "") />
                        </div>
                        <div class="form-group">
                            <label for="HienThi">@AdminLang.Show</label>
                            <input type="checkbox" class="js-switch" disabled="disabled" name="CheckHienThi" id="HienThi_Trans" @(isInsert || courseMaster.CourseTrans.HienThi ? "checked=checked" : "") />
                        </div>
                        @if (isUpdateCourseTranslate)
                            {
                                <div class="form-group">
                                 <button type="button" class="btn btn-primary" tabindex="22" id="btn-save-trans">@AdminLang.SaveTranslation</button>
                                </div>
                            }
                    </div>
                </div>
            </form>
        </div>
    }
</div>
