﻿@using Resources
@using TrungTamTinHoc.Areas.ControlPanel.Models.CourseManagement.Schema
@model TrungTamTinHoc.Areas.ControlPanel.Models.CourseManagement.Schema.ListOfCourse
@{
    ViewBag.Title = "ListOfCourse";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ListOfCourse listOfCourse = Model;
    List<Course> courseList = listOfCourse.CourseList;
}
@section css{
    <link rel="stylesheet" type="text/css" href="~/public/assets/iCheck/skins/all.css">
    @Styles.Render("~/public/css/admin/listOfCourse")
}
@section scripts{
    <script>
        var url = '@Url.RouteUrl("ListOfCourse")';
    </script>
    @Scripts.Render("~/public/js/admin/listOfCourse")
}
<div class="row">
    <!-- start of weather widget -->
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@AdminLang.SearchCondition</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link" tabindex="4"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" id="condition-search">
                <form class="form-horizontal input_mask" id="form-search" action="" accept-charset="UTF-8" method="get">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <div class="form-group">
                                <label for="KeySearch">@AdminLang.CourseName</label>
                                <input class="form-control" name="KeySearch" id="KeySearch" tabindex="1" value="@listOfCourse.Condition.KeySearch" />
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="TrangThai">@AdminLang.Show</label>
                                <select class="form-control" name="TrangThai" id="TrangThai" tabindex="2">
                                    <option value="">@AdminLang.All</option>
                                    <option value="true" @(listOfCourse.Condition.TrangThai != null && listOfCourse.Condition.TrangThai.Value ? "selected=selected" : "")>@AdminLang.Show</option>
                                    <option value="false" @(listOfCourse.Condition.TrangThai != null && !listOfCourse.Condition.TrangThai.Value ? "selected=selected" : "")>Ẩn</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="StartDate">@AdminLang.BeginDate</label>
                                <div class="input-group datetimepicker mb-5">
                                    <input type="tel" class="form-control date required" id="StartDate" name="StartDate" maxlength="8" tabindex="3" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="EndDate">@AdminLang.EndDate</label>
                                <div class="input-group datetimepicker mb-5">
                                    <input type="tel" class="form-control date required" id="EndDate" name="EndDate" maxlength="8" tabindex="4" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="IdChuyenNganh">@AdminLang.SpecializedName</label>
                                <select class="form-control" name="TenChuyenNganh" id="IdChuyenNganh" tabindex="5">
                                    <option value="">@AdminLang.All</option>
                                    @foreach (var chuyenNganh in listOfCourse.ChuyenNganh)
                                    {
                                        <option value="@chuyenNganh.IdChuyenNganh" @(listOfCourse.Condition.IdChuyenNganh != 0 && listOfCourse.Condition.IdChuyenNganh == chuyenNganh.IdChuyenNganh ? "selected=selected" : "")>@chuyenNganh.TenChuyenNganh</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-primary" id="btn-search" link-search="@Url.RouteUrl("ListOfCourse")" tabindex="6">@AdminLang.Search</button>
                        </div>
                        <input type="hidden" name="CurrentPage" id="CurrentPage" value="@listOfCourse.Paging.CurrentPage" />
                        <input type="hidden" name="PageSize" id="PageSize" value="@listOfCourse.Condition.PageSize" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@AdminLang.ListOfCourses</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link" tabindex="7"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" id="div-table-course">
                @Html.Partial("Partial/_tableOfCourse", listOfCourse)
            </div>
        </div>
    </div>
</div>