﻿@model ChiTietTinTuc
@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ChiTietTinTuc data = new ChiTietTinTuc();
    if (Model != null)
    {
        data = Model;
    }
    ViewBag.Title = data.TieuDe;
    string a = "col-lg-9 col-md-8";
    string b = "col-lg-3 col-md-4";
    if (data.ListReccentNew == null)
    {
        a = "col-md-12";
        b = "hidden";
    }
}
@section css{
    @Styles.Render("~/public/css/tinTuc")
}
@section scripts{
    @Scripts.Render("~/public/js/tinTuc")
}
@using TrungTamTinHoc.Areas.Home.Models.Schema
@using Resources;
<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">@UserLang.News</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="@Url.RouteUrl("Home")">@UserLang.MenuHome</a></li>
                            <li><a href="@Url.RouteUrl("DanhSachTinTuc")">@UserLang.News</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<!--News Details Area Start-->
<div class="news-details-area section-padding">
    <div class="container">
        <div class="row">
            <div class=" @a area-comments">
                <div class="news-details-content">
                    <input class="hidden" id="idTinTuc" value="@data.Id" />
                    <div class="single-latest-item">
                        <img src="@data.AnhChinh" alt="" style="width:100%;">
                        <div class="single-latest-text">
                            <h3>@data.TieuDe</h3>
                            <div class="single-item-content" style="margin-bottom:0px;">
                                <div class="single-item-comment-view">
                                    <span><i class="zmdi zmdi-calendar-check"></i>@String.Format("{0:dd/MM/yyyy}", data.NgayDang)</span>
                                    <span><i class="zmdi zmdi-eye"></i>@data.SoLuongView</span>
                                    <span><i class="zmdi zmdi-comments"></i>@data.SoLuongComment</span>
                                </div>
                                <div class="single-item-rating" style="float:left;">
                                    @Html.Partial("~/Views/PartialUser/_ViewRate.cshtml", data.SoLuongDanhGia == 0 ? 0f : (float)data.DiemDanhGia / (float)data.SoLuongDanhGia)
                                </div>
                            </div>
                            <div>
                                @Html.Raw(data.NoiDung)
                            </div>
                        </div>
                    </div>
                </div>
                <!--Comment Area Start-->
                <div class="comments" id="Comments">
                    <h4 class="title">@UserLang.Comments</h4>
                    <input class="hidden" id="idUser" value="@data.IdUser" />
                    <input class="hidden" id="count-comment" value="5" />
                    <input class="hidden" id="count-all-comment" value="@data.CountComment" />
                    @if (data.ListComment != null)
                    {
                        @Html.Partial("Partial/_listCommentTinTuc", data.ListComment)
                    }
                </div>
                <div class="area-see-more" id="see-more-comment-news" style="margin-bottom:20px;">
                    <a id="see-more-comment" class="btn-link" link-see-more="@Url.RouteUrl("tinTucSeeMoreComment")">@UserLang.SeeMore</a>
                </div>
                <div class="single-comment">
                    <div class="author-image">
                        <img  class="img-avatar" src="@(data.AvatarUser !=null?data.AvatarUser:"/public/css/img/common/info.png")">
                    </div>
                    <div class="comment-text">
                        <div class="author-info">
                            <h4><a href="#">@data.HotenUser</a></h4>
                        </div>
                        <form id="form-comment" action="@Url.RouteUrl("tinTucSendComment")" method="post">
                            <div class="box-select">
                                <div class="row">
                                    <div class="col-sm-12">
                                        @if (data.IdUser != 0)
                                        {
                                            <div class="rate-course">
                                                <section class="rating-widget">
                                                    <!-- Rating Stars Box -->
                                                    <div class="rating-stars">
                                                        <ul id="stars">
                                                            <li class="star" title='Poor' data-value="1">
                                                                <i class="fa fa-star fa-fw"></i>
                                                            </li>
                                                            <li class="star" title='Fair' data-value="2">
                                                                <i class="fa fa-star fa-fw"></i>
                                                            </li>
                                                            <li class="star" title='Good' data-value="3">
                                                                <i class="fa fa-star fa-fw"></i>
                                                            </li>
                                                            <li class="star" title='Excellent' data-value="4">
                                                                <i class="fa fa-star fa-fw"></i>
                                                            </li>
                                                            <li class="star" title='WOW!!!' data-value="5">
                                                                <i class="fa fa-star fa-fw"></i>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </section>
                                                <div class="comment-error hidden">
                                                    <p>@UserLang.RatingError</p>
                                                </div>
                                            </div>
                                        }
                                        <input type="hidden" id="idParentComment" value="0" />
                                        <textarea name="content" id="content-comment" class="required commnent-reply-content" placeholder="Bình luận"></textarea>
                                        <button type="button" id="btn-send-comment" class="btn btn-warning btn-comment-rate" style="float:right;">Gửi</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--End of Comment Area-->
            </div>
            <div class=" @b">
                <div class="sidebar-widget">
                    <div class="single-sidebar-widget">
                        <h4 class="title">@UserLang.RecentPosts</h4>
                        <div class="recent-content">
                            @foreach (TinTuc tintuc in data.ListReccentNew)
                            {
                                <div class="recent-content-item">
                                    <a href="@tintuc.BeautyId"><img src="@tintuc.AnhMinhHoa" alt="" style="width:100px;height:100px;"></a>
                                    <div class="recent-text">
                                        <h4><a href="@tintuc.BeautyId">@tintuc.TieuDe</a></h4>
                                        <div class="single-item-content" style="margin-bottom:0px;">
                                            <div class="single-item-comment-view">
                                                <span><i class="zmdi zmdi-calendar-check"></i>@String.Format("{0:dd/MM/yyyy}", tintuc.NgayDang)</span>
                                                <span><i class="zmdi zmdi-eye"></i>@tintuc.SoLuongView</span>
                                                <span><i class="zmdi zmdi-comments"></i>@tintuc.SoLuongComment</span>
                                            </div>
                                            <div class="single-item-rating" style="float:left;">
                                                @Html.Partial("~/Views/PartialUser/_ViewRate.cshtml", tintuc.SoLuongDanhGia == 0 ? 0f : (float)tintuc.DiemDanhGia / (float)tintuc.SoLuongDanhGia)
                                            </div>
                                        </div>
                                        @Html.Raw(tintuc.TomTat)
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of News Details Area-->
<!--comment reply-->
<div  id="area-comment-reply" class="hidden">
    <div class="single-comment comment-reply content-comment-reply">
        <div class="author-image">
            <img class="img-avatar" src="@(data.AvatarUser !=null?data.AvatarUser:"/public/css/img/common/info.png")" alt="">
        </div>
        <div class="comment-text">
            <div class="author-info">
                <h4><a href="#">@data.HotenUser</a></h4>
            </div>
            <form id="form-comment-reply" action="@Url.RouteUrl("tinTucSendCommentReply")" method="post">
                <div class="box-select">
                    <div class="row">
                        <div class="col-sm-12 area-text-reply">
                            <textarea type="text" name="content-reply" class="required commnent-reply-content" id="reply-content" placeholder="Bình luận"></textarea>
                            <input class="hidden idcomment" value="" />
                            <div style="float:right;">
                                <button type="button" class="btn btn-warning btn-send-comment-reply">Gửi</button>
                                <button type="button" class="btn btn-danger btn-cancel-reply">Hủy</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--end comment reply-->