﻿@model TinTucList
@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Title = UserLang.News;
    TinTucList data = new TinTucList();
    data = Model;
}
@section css{
    @Scripts.Render("~/public/css/danhSachTinTuc")
}
@section scripts{
    <script>
        var url = {
            danhSachTinTuc: '@Url.RouteUrl("DanhSachTinTuc")',
        }
    </script>
    @Scripts.Render("~/public/js/danhSachTinTuc")
}
@using TrungTamTinHoc.Areas.Home.Models.Schema
@using Resources;

<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">@UserLang.News</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="@Url.RouteUrl("Home")">@UserLang.MenuHome</a></li>
                            <li><a href="@Url.RouteUrl("DanhSachTinTuc")">@UserLang.News</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<!--Search Area Start-->
<div class="container area-search" id="condition-search">
    <form id="form-search" action="" accept-charset="UTF-8" method="get">
        <div class="area-search">
            <div class="row">
                <div class="row col-md-offset-3" style="margin-top: 50px">
                    <div class="col-md-6 ">
                        <div class="form-group">
                            <input class="form-control" style="border-radius: 0px;" name="KeySearch" id="KeySearch" tabindex="1" value="@data.Condition.KeySearch" placeholder="@UserLang.NewsName" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-warning" id="btn-search" link-search="@Url.RouteUrl("DanhSachTinTuc")" tabindex="6">@UserLang.Search</button>
                    </div>
                    <input type="hidden" name="CurrentPage" id="CurrentPage" value="@data.Paging.CurrentPage" />
                    <input type="hidden" name="PageSize" id="PageSize" value="@data.Condition.PageSize" />
                </div>
            </div>
        </div>
    </form>
    <hr width="40%" style="border-top:2px solid #2d3e50;" />
</div>
<!--End of Search Area-->
<!--News Details Area Start-->
<div class="news-details-area section-padding" style="padding-top:50px;" id="div-list-news">
    <div class="container">
        <div class="row" id="news-area" link-tin-tuc="@Url.RouteUrl("DanhSachTinTuc")">
            @Html.Partial("Partial/_listTinTuc", data)
        </div>
    </div>
</div>
<!--End of News Details Area-->
