﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.SlideManagement.Schema.ListOfSlide
@{
    ListOfSlide listOfSlide = Model;
    List<Slide> slideList = listOfSlide.SlideList;
}
@using Resources;
@using TrungTamTinHoc.Areas.ControlPanel.Models.SlideManagement.Schema;
@Html.Partial("~/Views/PartialAdmin/_TopPageInfo.cshtml", listOfSlide.Paging)
<div class="table-responsive table-result" id="table-result" link-del="@Url.RouteUrl("DeleteSlides")" link-update-show="@Url.RouteUrl("UpdateShowSlide")" link-update-state="">
    <table class="table table-striped table-bordered jambo_table">
        <thead>
            <tr>
                <th class="text-center col-checkbox">
                    <input type="checkbox" id="check-all" class="flat">
                </th>
                <th class="text-center">@AdminLang.Edit</th>
                <th class="text-center">@AdminLang.Image</th>
                <th class="text-center">@AdminLang.Title</th>
                <th class="text-center">@AdminLang.Detail</th>
                <th class="text-center">@AdminLang.Link</th>
                <th class="text-center">@AdminLang.Show</th>
                <th class="text-center">@AdminLang.Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Slide slide in slideList)
            {
                <tr>
                    <td class="text-center middle col-checkbox">
                        <input type="checkbox" class="flat check-item" name="check-remove" id-del="@slide.Id">
                    </td>
                    <td class="text-center middle">
                        <a href="@Url.RouteUrl("EditSlide", new { id = slide.Id })">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <img src="@slide.LinkAnh" class="img-slide" alt="@slide.TieuDe" width="200" />
                    </td>
                    <td class="">
                        @Html.Raw(slide.TieuDe.Replace("\n", "<br/>"))
                    </td>
                    <td class="">
                        @Html.Raw(slide.ChiTiet.Replace("\n", "<br/>"))
                    </td>
                    <td class="">
                        @slide.Link
                    </td>
                    <td class="text-center middle">
                        <input type="checkbox" class="js-switch show-slide" id-slide="@slide.Id" @(slide.HienThi ? "checked=checked" : "") val="1" update="1" />
                    </td>
                    <td class="text-center middle">
                        <button type="button" class="btn btn-xs btn-danger btn-delete" id-del="@slide.Id">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="col-xs-3 pl-0">
        <button type="button" class="btn btn-danger btn-delete-selected">@AdminLang.DeleteSelectedItems</button>
    </div>
    <div class="col-xs-9 pr-0">
        <div class="div-pagination">
            <ul class="pagination"></ul>
        </div>
    </div>
</div>
<input type="hidden" id="TotalPages" name="TotalPages" value="@listOfSlide.Paging.TotalPages" />
<input type="hidden" id="NumberOfRecord" name="NumberOfRecord" value="@listOfSlide.Paging.NumberOfRecord" />
