﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.CourseRegisterManagement.Schema.ListOfCourseRegister
@{
    ViewBag.Title = "ListOfCourseRegister";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ListOfCourseRegister listOfCourseRegister = Model;
    List<CourseRegister> courseRegisterList = listOfCourseRegister.CourseRegisterList;
    List<TrangThaiDangKy> cacTrangThai = listOfCourseRegister.cacTrangThaiDangKy;
    List<KhoaHocHienThi> cacKhoaHoc = listOfCourseRegister.cacKhoaHoc;
    List<LopHocHienThi> cacLopHoc = listOfCourseRegister.cacLopHoc;
    int idTrangThai = listOfCourseRegister.Condition.idTrangThai;
    int idKhoaHoc = listOfCourseRegister.Condition.idKhoaHoc;
    int idLopHoc = listOfCourseRegister.Condition.idLopHoc;
}
@using TrungTamTinHoc.Areas.ControlPanel.Models.CourseRegisterManagement.Schema;
@using Resources;
@using TTTH.Common
@using TTTH.Common.Enums
@section css{
    <link rel="stylesheet" type="text/css" href="~/public/assets/iCheck/skins/all.css">
    @Styles.Render("~/public/css/admin/listOfCourseRegister")
}
@section scripts{
    <script>
        var url = {
            getClasses: '@Url.RouteUrl("getClassesByIdCourseInManagerment")',
            mainURM: '@Url.RouteUrl("ListOfCourseRegister")'
        }
    </script>
    @Scripts.Render("~/public/js/admin/listOfCourseRegister")
}
<div class="row">
    <!-- start of weather widget -->
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@AdminLang.SearchCondition</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link" tabindex="4"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" id="condition-search">
                <form class="form-horizontal input_mask" id="form-search" action="" accept-charset="UTF-8" method="get">
                    <div hidden="hidden">
                        <select class="form-control" name="templateOfAll" id="templateOfAll" hidden="hidden">
                            <option value="0">@AdminLang.All</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="KeySearch">@AdminLang.KeySearchOfCourseRegister</label>
                                <input class="form-control" name="KeySearch" id="KeySearch" tabindex="1" value="@listOfCourseRegister.Condition.KeySearch" />
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="TrangThai">@AdminLang.Status</label>
                                <select class="form-control" name="TrangThai" id="TrangThai" tabindex="4">
                                    <option value="0">@AdminLang.All</option>
                                    @foreach (TrangThaiDangKy i in cacTrangThai)
                                    {
                                        <option value="@i.IDTrangThai" @(idTrangThai != 0 && idTrangThai == i.IDTrangThai ? "selected='selected'" : "")>@i.TenTrangThai</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="KhoaHoc">@AdminLang.Course</label>
                                <select class="form-control" name="KhoaHoc" id="KhoaHoc" tabindex="2">
                                    <option value="0">@AdminLang.All</option>
                                    @foreach (KhoaHocHienThi i in cacKhoaHoc)
                                    {
                                        <option value="@i.IDKhoaHoc" @(idKhoaHoc != 0 && idKhoaHoc == i.IDKhoaHoc ? "selected='selected'" : "")>@i.TenKhoaHoc</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="LopHoc">@AdminLang.Class</label>
                                <select class="form-control" name="LopHoc" id="LopHoc" tabindex="3" @(cacLopHoc == null ? "disabled=disabled" : "")>
                                    <option value="0">@AdminLang.All</option>
                                    @if (cacLopHoc != null)
                                    {
                                        foreach (LopHocHienThi i in cacLopHoc)
                                        {
                                            <option value="@i.IDLopHoc" @(idLopHoc != 0 && idLopHoc == i.IDLopHoc ? "selected='selected'" : "")>@i.TenLopHoc</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="tuNgay">@AdminLang.fromDay</label>
                                <div class="input-group datetimepicker ">
                                    <input type="tel" class="form-control date" name="tuNgay" id="tuNgay" tabindex="5" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="toiNgay">@AdminLang.toDay</label>
                                <div class="input-group datetimepicker mb-5">
                                    <input type="tel" class="form-control" name="toiNgay" id="toiNgay" tabindex="6" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-primary" id="btn-search" link-search="@Url.RouteUrl("ListOfCourseRegister")" tabindex="7">@AdminLang.Search</button>
                        </div>
                        <input type="hidden" name="CurrentPage" id="CurrentPage" value="@listOfCourseRegister.Paging.CurrentPage" />
                        <input type="hidden" name="PageSize" id="PageSize" value="@listOfCourseRegister.Condition.PageSize" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@AdminLang.listOfCourseRegister</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link" tabindex="5"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" id="div-table-register">
                @Html.Partial("Partial/_tableOfCourseRegister", listOfCourseRegister)
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-lg" id="my-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    </div>
</div>