﻿@model ChiTietKhoaHoc
@using TrungTamTinHoc.Areas.Course.Models.Schema;
@{
   
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ChiTietKhoaHoc data = new ChiTietKhoaHoc();
    if (Model != null)
    {
        data = Model;
    }
    ViewBag.Title = data.TenKhoaHoc;
    ViewBag.description = data.TomTat;
}
@section css{
}
@section scripts{
    <script>
        var idUser = '@Model.IdUser';
        var idKhoaHoc = '@Model.Id';
        var beautyId = '@Model.BeautyId';
    </script>
    @Scripts.Render("~/public/js/courseDetails")
}
@using Resources;
<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">@UserLang.CoursesDetails</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="@Url.RouteUrl("Home")">@UserLang.MenuHome</a></li>
                            <li>@UserLang.CoursesDetails</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<!--Course Details Area Start-->
<div class="course-details-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="course-details-content">
                    <div class="single-course-details">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="overlay-effect">
                                    <a href="javascript:void(0)"><img alt="" src="@data.AnhMinhHoa"></a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-item-text">
                                    <h4>@Html.Raw(data.TenKhoaHoc)</h4>
                                    <div class="single-item-content">
                                        <div class="single-item-comment-view">
                                            <span><i class="zmdi zmdi-accounts-alt"></i>@data.SoLuongDaDangKy</span>
                                        </div>
                                        <div class="single-item-rating">
                                            @Html.Partial("~/Views/PartialUser/_ViewRate.cshtml", data.SoLuongDanhGia == 0 ? 0f : (float)data.DiemDanhGia / (float)data.SoLuongDanhGia)
                                        </div>
                                    </div>
                                    <div class="course-text-content">
                                        <p>@data.TomTat</p>
                                    </div>
                                    <div class="button-bottom">
                                        <a href="@Url.RouteUrl("DangKyKhoaHoc", new { id = data.BeautyId })" class="button-default">@UserLang.Register</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="course-duration">
                        <div class="duration-title">
                            <div class="text"><span>@UserLang.CoursesDetails</span></div>
                        </div>
                        <div class="duration-text">
                            <p>@Html.Raw(data.ChiTiet)</p>
                        </div>
                    </div>
                    <!--Comment Start-->
                    <div class="comments" id="Comments">
                        <h4 class="title">@UserLang.Comments</h4>
                        <div id="list-comment">
                            @if (data.ListCommentKhoaHocs != null)
                            {
                                @Html.Partial("~/Areas/Course/Views/KhoaHoc/Partial/_listComment.cshtml", data.ListCommentKhoaHocs)

                            }
                        </div>
                        @if (data.ListCommentKhoaHocs!=null && data.CountComment > data.ListCommentKhoaHocs.Count)
                        {
                            <div class="single-comment see-more link-see-more">
                                <input type="hidden" id="count-comment" value="@data.CountComment" />
                                <button type="button" id="see-more-comment" class="btn btn-link" style="outline:none" link-see-more="@Url.RouteUrl("seeMore")">@UserLang.SeeMore</button>
                            </div>
                        }
                        <div class="single-comment">
                            <div class="author-image">
                                <img width="62" height="62" src="@(data.AvatarUser == null ? "/public/css/img/common/info.png" : data.AvatarUser)">
                            </div>
                            <div class="comment-text">
                                <div class="author-info">
                                    <h4><a href="javascript:void(0)">@data.HotenUser</a></h4>
                                </div>
                                <form id="form-comment" action="@Url.RouteUrl("commentReply")" method="post">
                                    <div class="box-select">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                @if (data.IdUser != 0)
                                                {
                                                    <div class="rate-course">
                                                        <section class="rating-widget">
                                                            <!-- Rating Stars Box -->
                                                            <div class="rating-stars">
                                                                <ul id="stars">
                                                                    <li class="star" title='Poor' data-value="1">
                                                                        <i class="fa fa-star fa-fw"></i>
                                                                    </li>
                                                                    <li class="star" title='Fair' data-value="2">
                                                                        <i class="fa fa-star fa-fw"></i>
                                                                    </li>
                                                                    <li class="star" title='Good' data-value="3">
                                                                        <i class="fa fa-star fa-fw"></i>
                                                                    </li>
                                                                    <li class="star" title='Excellent' data-value="4">
                                                                        <i class="fa fa-star fa-fw"></i>
                                                                    </li>
                                                                    <li class="star" title='WOW!!!' data-value="5">
                                                                        <i class="fa fa-star fa-fw"></i>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </section>
                                                        <div class="comment-error hidden">
                                                            <p>@UserLang.RatingError</p>
                                                        </div>
                                                    </div>
                                                }
                                                <textarea name="content" id="commnent-content" class="required commnent-reply-content"  placeholder="Bình luận"></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <button type="button" style="float: right;" id="btn-send" class="btn btn-warning btn-comment-rate">Gửi</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--Comment End-->
                </div>
            </div>
            <div class="col-md-3">
                <div class="sidebar-widget">
                    <div class="single-sidebar-widget">
                        <div class="tution-wrapper">
                            <div class="single-teacher-text">
                                <h3><a href="javascript:void(0)">@UserLang.Age</a></h3>
                                @if (data.DoTuoi.Length > 0)
                                {
                                    <br />
                                    <h5>@Html.Raw(data.DoTuoi)</h5>
                                }
                                <hr />
                                <h3><a href="javascript:void(0)">@UserLang.Time</a></h3>
                                @if (data.ThoiGian.Length > 0)
                                {
                                    <br />
                                    <h5>@Html.Raw(data.ThoiGian)</h5>
                                }
                                <hr />
                                <h3><a href="javascript:void(0)">@UserLang.Schedule</a></h3>
                                @if (data.LichHoc.Length > 0)
                                {
                                    <br />
                                    <h5>@Html.Raw(data.LichHoc)</h5>
                                }
                                <p>
                                    @if (data.NgayKhaiGiang != null)
                                    {
                                        <span>@UserLang.StartDate : @data.NgayKhaiGiang.Value.ToString("dd/MM/yyyy")</span><br />
                                    }
                                    @if (data.ThoiGianKetThuc != null)
                                    {
                                        <span>@UserLang.EndDate : @data.ThoiGianKetThuc.Value.ToString("dd/MM/yyyy")</span>
                                    }
                                </p>
                                <hr />
                                <h3><a href="javascript:void(0)">@UserLang.TuitionFee</a></h3><br />
                                <h3><span class="text-money">@Math.Round(data.HocPhi, 0)</span> VNĐ</h3>
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Course Details Area-->
<!--Start of Form Comment Reply Area Hidden-->
<div class="single-comment comment-reply hidden" id="commnent-reply-area">
    <div class="author-image">
        <img width="62" height="62" src="@(data.AvatarUser == null ? "/public/css/img/common/info.png" : data.AvatarUser)">
    </div>
    <div class="comment-text">
        <div class="author-info">
            <h4><a href="javascript:void(0)">@data.HotenUser</a></h4>
        </div>
        <form id="form-reply" action="@Url.RouteUrl("commentReply")" method="post">
            <div class="box-select">
                <div class="row">
                    <div class="col-sm-12 area-text-reply">
                        <textarea name="content-reply" class="required commnent-reply-content" id="reply-content" placeholder="@UserLang.Comments"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" style="float: right; margin-left:10px " class="btn btn-danger btn-close">@UserLang.Cancel</button>
                        <button type="button" style="float: right;" class="btn-send-reply btn btn-warning">@UserLang.Send</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--End of Form Comment Reply Area Hidden-->