﻿@model KhoaHocList
@using Resources;
@using TrungTamTinHoc.Areas.Course.Models.Schema

@{
    ViewBag.Title = "Danh sách khóa học";
    KhoaHocList KhoaHocs = Model;
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@section css{
}
@section scripts{
    <script>
        var url = {
            danhSachKhoaHoc: '@Url.RouteUrl("DanhSachKhoaHoc")',
        }
    </script>
    @Scripts.Render("~/public/js/danhSachKhoaHoc")
}
<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">@UserLang.ListOfCourses</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="@Url.RouteUrl("Home")">@UserLang.MenuHome</a></li>
                            <li>@UserLang.Courses</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Search Area Start-->
<div class="container area-search" id="condition-search">
    <form id="form-search" action="" accept-charset="UTF-8" method="get">
        <div class="area-search">
            <div class="row">
                <div class="row col-md-offset-3" style="margin-top: 50px">
                    <div class="col-md-3">
                        <select class="form-control" style="border-radius: 0px; margin-bottom: 5px; min-width: 180px;" name="TenChuyenNganh" id="IdChuyenNganh" tabindex="5">
                            <option value="">@UserLang.AllMajors</option>
                            @foreach (var chuyenNganh in KhoaHocs.ChuyenNganh)
                            {
                                <option value="@chuyenNganh.IdChuyenNganh" @(KhoaHocs.Condition.IdChuyenNganh != 0 && KhoaHocs.Condition.IdChuyenNganh == chuyenNganh.IdChuyenNganh ? "selected=selected" : "")>@chuyenNganh.TenChuyenNganh</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-3 ">
                        <div class="form-group">
                            <input class="form-control" style="border-radius: 0px; min-width: 180px;" name="KeySearch" id="KeySearch" tabindex="1" value="@KhoaHocs.Condition.KeySearch" placeholder="@UserLang.CourseName" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-warning" id="btn-search" link-search="@Url.RouteUrl("DanhSachKhoaHoc")" tabindex="6">@UserLang.Search</button>
                    </div>
                    <input type="hidden" name="CurrentPage" id="CurrentPage" value="@KhoaHocs.Paging.CurrentPage" />
                </div>
            </div>
        </div>
    </form>
    <hr width="40%" style="border-top:2px solid #2d3e50;" />
</div>
<!--End of Search Area-->

<div class="about-page-area section-padding" id="div-list-coures">
    @Html.Partial("~/Areas/Course/Views/KhoaHoc/Partial/_listCourse.cshtml", KhoaHocs)
</div>
