﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.ErrorMsgManagement.Schema.ListOfErrorMsg
@{
    ListOfErrorMsg listOfErrorMsg = Model;
    List<ErrorMsg> ErrorMsgList = listOfErrorMsg.ErrorMsgList;
    List<TypeError> Types = new Common().getTypeErrors();
    bool isDeleteErrorMsg = XacThuc.CheckAuthentication(FunctionEnum.DeleteErrorMsg);
    bool isUpdateType = XacThuc.CheckAuthentication(FunctionEnum.UpdateType);
   
}
@using TTTH.Common;
@using Resources;
@using TTTH.Common.Enums;
@using TrungTamTinHoc.Areas.ControlPanel.Models.ErrorMsgManagement.Schema;
@Html.Partial("~/Views/PartialAdmin/_TopPageInfo.cshtml", listOfErrorMsg.Paging)

<div class="table-responsive table-result" id="table-result" link-del="@Url.RouteUrl("DeleteErrorMsg")" link-update-show="@Url.RouteUrl("UpdateType")" link-update-state="">
    <div class="table-responsive ">
        <table class="table table-striped table-bordered jambo_table">
            <thead>
                <tr>
                    <th class="text-center col-checkbox">
                        <input type="checkbox" id="check-all" class="flat">
                    </th>
                    <th class="text-center">@AdminLang.Edit</th>
                    <th class="text-center">@AdminLang.Title</th>
                    <th class="text-center">Messenger</th>
                    <th class="text-center">@AdminLang.Type</th>
                    @if (isDeleteErrorMsg)
                    {
                        <th class="text-center">@AdminLang.Delete</th>
                    }

                </tr>
            </thead>
            <tbody>
                @foreach (ErrorMsg errorMsg in ErrorMsgList)
                {
                <tr>
                    <td class="text-center middle col-checkbox">
                        <input type="checkbox" class="flat check-item" name="check-remove" id-del="@errorMsg.Id">
                    </td>
                    <td class="text-center middle">
                        <a href="@Url.RouteUrl("EditErrorMsg", new { id = errorMsg.Id })">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td class="">
                        @errorMsg.Title
                    </td>
                    <td class="">
                        @Html.Raw(errorMsg.Msg.Replace("\n", "<br/>"))
                    </td>
                    <td class="text-type">
                        <select class="form-control typeError" name="type" id="type" id-errorMgs="@errorMsg.Id"  @(!isUpdateType?"disabled='disabled'":"") >
                            @foreach (TypeError i in Types)
                            {
                                <option value="@i.type" @if (errorMsg != null && errorMsg.Type == i.type) { @Html.Raw("selected=selected") }>@i.typeMsg</option>
                            }
                        </select>
                    </td>
                    @if (isDeleteErrorMsg)
                    {
                        <td class="text-center middle">
                            <button type="button" class="btn btn-xs btn-danger btn-delete" id-del="@errorMsg.Id">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </td>
                    }

                </tr>
                }
            </tbody>
        </table>
    </div>
    @if (isDeleteErrorMsg)
    {
        <div class="col-xs-3 pl-0">
            <button type="button" class="btn btn-danger btn-delete-selected">@AdminLang.DeleteSelectedItems</button>
        </div>
    }

    <div class="col-xs-9 pr-0">
        <div class="div-pagination">
            <ul class="pagination"></ul>
        </div>
    </div>
</div>
<input type="hidden" id="TotalPages" name="TotalPages" value="@listOfErrorMsg.Paging.TotalPages" />
<input type="hidden" id="NumberOfRecord" name="NumberOfRecord" value="@listOfErrorMsg.Paging.NumberOfRecord" />
