﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.CourseManagement.Schema.ListOfCourse
@{
    ListOfCourse listOfCourse = Model;
    List<Course> courseList = listOfCourse.CourseList;
    bool isDeleteCourses = XacThuc.CheckAuthentication(FunctionEnum.DeleteCourses);
    bool isUpdateState = XacThuc.CheckAuthentication(FunctionEnum.UpdateShow);
}
@using Resources
@using TrungTamTinHoc.Areas.ControlPanel.Models.CourseManagement.Schema
@using TTTH.Common
@using TTTH.Common.Enums
@Html.Partial("~/Views/PartialAdmin/_TopPageInfo.cshtml", listOfCourse.Paging)
<div class=" table-result" id="table-result" link-del="@Url.RouteUrl("DeleteCourse")" link-update-show="@Url.RouteUrl("UpdateShowCourse")" link-update-state="">
    <div class="table-responsive">
        <table class="table table-striped table-bordered jambo_table">
            <thead>
                <tr>
                    <th class="text-center col-checkbox">
                        <input type="checkbox" id="check-all" class="flat">
                    </th>
                    <th class="text-center">@AdminLang.Edit</th>
                    <th class="text-center">@AdminLang.CourseName</th>
                    <th class="text-center">@AdminLang.IllustrationImagie</th>
                    <th class="text-center">@AdminLang.Tuition</th>
                    <th class="text-center">@AdminLang.Age</th>
                    <th class="text-center">@AdminLang.Time</th>
                    <th class="text-center">@AdminLang.EndDate</th>
                    <th class="text-center">@AdminLang.Schedule</th>
                    <th class="text-center">@AdminLang.StartDate</th>
                    <th class="text-center">@AdminLang.Show</th>
                    @if (isDeleteCourses)
                    {
                        <th class="text-center">@AdminLang.Delete</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (Course course in courseList)
                {
                    <tr>
                        <td class="text-center middle col-checkbox">
                            <input type="checkbox" class="flat check-item" name="check-remove" id-del="@course.Id">
                        </td>
                        <td class="text-center middle">
                            <a href="@Url.RouteUrl("EditCourse", new { id = course.Id })">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="text-center middle">
                            @course.TenKhoaHoc
                        </td>
                        <td class="text-center">
                            <img src="@course.AnhMinhHoa" class="img-slide" alt="@course.AnhMinhHoa" width="200" />
                        </td>
                        <td class="text-center middle">
                            <span class="text-money">@Math.Round(course.HocPhi, 0)</span>
                        </td>
                        <td class="text-center middle">
                            @course.DoTuoi
                        </td>
                        <td class="text-center middle">
                            @course.ThoiGian
                        </td>
                        <td class="text-center middle">
                            @if (course.ThoiGianKetThuc != null)
                            {
                                @course.ThoiGianKetThuc.Value.ToString("dd/MM/yyyy")
                            }
                        </td>
                        <td class="text-center middle">
                            @Html.Raw(course.LichHoc.Replace("\n", "<br/>"))
                        </td>
                        <td class="text-center middle">
                            @if (course.NgayKhaiGiang != null)
                            {
                                @course.NgayKhaiGiang.Value.ToString("dd/MM/yyyy")
                            }
                        </td>
                        @if (isUpdateState)
                        {
                            <td class="text-center middle">
                                <input type="checkbox" class="js-switch show-course" id-course="@course.Id" @(course.HienThi ? "checked=checked" : "") val="1" update="1" />
                            </td>
                        }
                        @if (isDeleteCourses)
                        {
                            <td class="text-center middle">
                                <button type="button" class="btn btn-xs btn-danger btn-delete" id-del="@course.Id">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </td>
                        }

                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (isDeleteCourses)
    {
        <div class="col-xs-3 pl-0">
            <button type="button" class="btn btn-danger btn-delete-selected">@AdminLang.DeleteSelectedItems</button>
        </div>
    }

    <div class="col-xs-9 pr-0">
        <div class="div-pagination">
            <ul class="pagination"></ul>
        </div>
    </div>
</div>
<input type="hidden" id="TotalPages" name="TotalPages" value="@listOfCourse.Paging.TotalPages" />
<input type="hidden" id="NumberOfRecord" name="NumberOfRecord" value="@listOfCourse.Paging.NumberOfRecord" />
