﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.ConfigurationManagement.Schema.ConfigurationMaster
@{
    ConfigurationMaster configurationMaster = Model == null ? new ConfigurationMaster() : Model;
    ViewBag.Title = AdminLang.EditConfiguration;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    bool isSaveConfiguration = XacThuc.CheckAuthentication(FunctionEnum.SaveConfiguration);

}
@using TrungTamTinHoc.Areas.ControlPanel.Models.ConfigurationManagement.Schema;
@using Resources;
@using TTTH.Common;
@using TTTH.Common.Enums;
@section css{
    @Styles.Render("~/public/css/admin/Configuration")
}
@section scripts{
    <script>
    var url = {
        editConfiguration: '@Url.RouteUrl("EditConfiguration")'
    }
    </script>
    @Scripts.Render("~/public/js/admin/Configuration")
}
<div class="page-title">
    <div class="title_left">
        <h3>@AdminLang.EditConfiguration</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@AdminLang.MainLanguage <small>@AdminLang.Vietnamese</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal input_mask" id="form-configuration-main" enctype="multipart/form-data" action="@Url.RouteUrl("SaveConfiguration")" accept-charset="UTF-8" method="post">

                    <div class="form-group">
                        <label for="SoLanChoPhepDangNhapSai">@AdminLang.LoginAttemptAllowed </label>
                        <input class="form-control numeric mb-5" tabindex="1" name="SoLanChoPhepDangNhapSai" id="SoLanChoPhepDangNhapSai" placeholder="@AdminLang.LoginAttemptAllowed" value="@configurationMaster.ConfigurationInfo.SoLanChoPhepDangNhapSai" />
                    </div>
                    <div class="form-group">
                        <label for="ThoiGianKhoa">@AdminLang.LockoutTime</label>
                        <input class="form-control numeric mb-5" tabindex="2" name="ThoiGianKhoa" id="ThoiGianKhoa" placeholder="@AdminLang.LockoutTime" value="@configurationMaster.ConfigurationInfo.ThoiGianKhoa" />
                    </div>
                    <div class="form-group">
                        <label for="ThoiGianTonTaiToken">@AdminLang.TokenLiftetime</label>
                        <input class="form-control numeric mb-5" tabindex="3" name="ThoiGianTonTaiToken" id="ThoiGianTonTaiToken" placeholder="@AdminLang.TokenLiftetime" value="@configurationMaster.ConfigurationInfo.ThoiGianTonTaiToken" />
                    </div>
                    <div class="form-group">
                        <label for="FbAppId">Facbook App Id</label>
                        <input class="form-control" maxlength="20" tabindex="4" name="FbAppId" id="FbAppId" placeholder="Facbook App Id" value="@configurationMaster.ConfigurationInfo.FbAppId" />
                    </div>
                    <div class="form-group">
                        <label for="GgClientId">Google Client Id</label>
                        <input class="form-control " maxlength="80" tabindex="5" name="GgClientId" id="GgClientId" placeholder="Google Client Id" value="@configurationMaster.ConfigurationInfo.GgClientId" />
                    </div>
                    @if (isSaveConfiguration)
                    {
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" id="btn-save" tabindex="28">@AdminLang.Save</button>
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>

</div>

