﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.UserManagement.Schema.ListOfUser
@{
    ListOfUser listOfUser = Model;
    List<User> userList = listOfUser.UserList;
    bool isResetPassword = XacThuc.CheckAuthentication(FunctionEnum.ResetPasswordAccount);
}
@using Resources;
@using TrungTamTinHoc.Areas.ControlPanel.Models.UserManagement.Schema
@using TTTH.Common
@using TTTH.Common.Enums
@Html.Partial("~/Views/PartialAdmin/_TopPageInfo.cshtml", listOfUser.Paging)
<div class="table-result" id="table-result" link-del="" link-reset-password="@Url.RouteUrl("ResetPasswordAccount")" link-update-state="">
    <div class="table-responsive ">
        <table class="table table-striped table-bordered jambo_table">
            <thead>
                <tr>
                    <th class="text-center col-checkbox">
                        <input type="checkbox" id="check-all" class="flat">
                    </th>
                    <th class="text-center">@AdminLang.Edit</th>
                    <th class="text-center">@AdminLang.LastName</th>
                    <th class="text-center">@AdminLang.FirstName</th>
                    <th class="text-center">@AdminLang.Username</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">@AdminLang.PhoneNumber</th>
                    <th class="text-center">@AdminLang.DateOfBirth</th>
                    <th class="text-center">@AdminLang.GroupName</th>
                    <th class="text-center">@AdminLang.ChangePassword</th>
                </tr>
            </thead>
            <tbody>
                @foreach (User user in userList)
                {
                    <tr>
                        <td class="text-center middle col-checkbox">
                            <input type="checkbox" class="flat check-item" name="check-remove" id-del="@user.Id">
                        </td>
                        <td class="text-center middle">
                            <a href="@Url.RouteUrl("EditUser", new { id = user.Id })">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="fist-last-name">
                            @user.Ho
                        </td>
                        <td class="fist-last-name">
                            @user.Ten
                        </td>
                        <td class="">
                            @user.Username
                        </td>
                        <td class="">
                            @user.Email
                        </td>
                        <td class="">
                            @user.SoDienThoai
                        </td>
                        <td class="">
                            @user.NgaySinh.Value.ToString("dd/MM/yyyy")
                        </td>
                        <td class="" style="min-width: 150px; word-break: break-all;">
                            @{
                                var tenGroup = "";
                                foreach (var group in user.GroupList)
                                {
                                    tenGroup += group.TenGroup + "; ";
                                }
                                tenGroup = tenGroup.Substring(0, tenGroup.Length - 2);
                                @tenGroup
                            }

                        </td>
                        @if (isResetPassword)
                        {
                        <td class="text-center middle">
                            <button type="button" class="btn btn-xs btn-danger btn-reset" id-account="@user.Id">
                                Reset
                            </button>
                        </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-xs-12 pr-0">
        <div class="div-pagination">
            <ul class="pagination"></ul>
        </div>
    </div>
</div>
<input type="hidden" id="TotalPages" name="TotalPages" value="@listOfUser.Paging.TotalPages" />
<input type="hidden" id="NumberOfRecord" name="NumberOfRecord" value="@listOfUser.Paging.NumberOfRecord" />
