﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.ScheduleManagement.Schema.ListOfSchedule
@{
    ListOfSchedule listOfSchedule = Model;
    List<Schedule> ScheduleList = listOfSchedule.ScheduleList;
}
@using TrungTamTinHoc.Areas.ControlPanel.Models.ScheduleManagement.Schema;
@using Resources;
@using TTTH.Common
@using TTTH.Common.Enums
@Html.Partial("~/Views/PartialAdmin/_TopPageInfo.cshtml", listOfSchedule.Paging)
<div class="table-result" id="table-result" link-del="@Url.RouteUrl("DeleteSchedule")" link-update-show="@Url.RouteUrl("UpdateShowCourseRegister")">
    <div class="table-responsive">
        <table class="table table-striped table-bordered jambo_table">
            <thead>
                <tr>
                    <th class="text-center col-checkbox">
                        <input type="checkbox" id="check-all" class="flat">
                    </th>
                    <th class="text-center">@AdminLang.Edit</th>
                    <th class="text-center">@Html.Raw(AdminLang.ClassAndCourse)</th>
                    <th class="text-center">@AdminLang.day</th>
                    <th class="text-center">@AdminLang.classroom</th>
                    <th class="text-center">@AdminLang.StartTime</th>
                    <th class="text-center">@AdminLang.EndTime</th>
                    <th class="text-center">@Html.Raw(AdminLang.Delete)</th>

                </tr>
            </thead>
            <tbody>
                @foreach (Schedule schedule in ScheduleList)
                {
                <tr>
                    <td class="text-center middle col-checkbox">
                        <input type="checkbox" class="flat check-item" name="check-remove" id-del="@schedule.Id">
                    </td>

                    <td class="text-center middle">
                        <a href="@Url.RouteUrl("EditSchedule", new { id = schedule.Id })">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        @Html.Raw(schedule.KhoaHoc + "<br /> /" + schedule.LopHoc)
                    </td>
                    <td class="text-center">
                        @schedule.NgayHoc
                    </td>
                    <td class="text-center">
                        @schedule.PhongHoc
                    </td>
                    <td class="text-center">
                        @schedule.GioBatDau
                    </td>
                    <td class="text-center">
                        @schedule.GioKetThuc
                    </td>

                    <td class="text-center middle">
                        <button type="button" class="btn btn-xs btn-danger btn-delete" id-del="@schedule.Id">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </td>

                </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-xs-3 pl-0">
        <button type="button" class="btn btn-danger btn-delete-selected">@AdminLang.DeleteSelectedItems</button>
    </div>

    <div class="col-xs-9 pr-0">
        <div class="div-pagination">
            <ul class="pagination"></ul>
        </div>
    </div>
</div>
<input type="hidden" id="TotalPages" name="TotalPages" value="@listOfSchedule.Paging.TotalPages" />
<input type="hidden" id="NumberOfRecord" name="NumberOfRecord" value="@listOfSchedule.Paging.NumberOfRecord" />