﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.GroupManagement.Schema.ListOfGroup
@{
    ListOfGroup listOfGroup = Model;
    List<Group> groupList = listOfGroup.GroupList;
    bool isDeleteGroups = XacThuc.CheckAuthentication(FunctionEnum.DeleteGroups);
    bool isUpdateGroups = XacThuc.CheckAuthentication(FunctionEnum.SaveGroup);
}
@using Resources;
@using TrungTamTinHoc.Areas.ControlPanel.Models.GroupManagement.Schema;
@using TTTH.Common.Enums
@using TTTH.Common
@Html.Partial("~/Views/PartialAdmin/_TopPageInfo.cshtml", listOfGroup.Paging)
<div class="table-result" id="table-result" link-del="@Url.RouteUrl("DeleteGroups")" link-update-show="@Url.RouteUrl("UpdateShowGroup")" link-update-state="">
    <div class="table-responsive">
        <table class="table table-striped table-bordered jambo_table">
            <thead>
                <tr>
                    @if (isDeleteGroups)
                    {
                        <th class="text-center col-checkbox">
                            <input type="checkbox" id="check-all" class="flat">
                        </th>
                    }
                    @if (isUpdateGroups)
                    {
                        <th class="text-center">@AdminLang.Edit</th>
                    }
                    <th class="text-center">@AdminLang.GroupName</th>
                    <th class="text-center">@AdminLang.Describe</th>
                    @if (isDeleteGroups)
                    {
                        <th class="text-center">@AdminLang.Delete</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (Group group in groupList)
                {
                <tr>
                    @if (isDeleteGroups)
                    {
                        <td class="text-center middle col-checkbox">
                            <input type="checkbox" class="flat check-item" name="check-remove" id-del="@group.Id">
                        </td>
                    }
                    @if (isUpdateGroups)
                    {
                        <td class="text-center middle">
                            <a href="@Url.RouteUrl("EditGroup", new { id = group.Id })">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </td>
                    } 
                    <td class="">
                        @Html.Raw(group.GroupName.Replace("\n", "<br/>"))
                    </td>
                    <td class="">
                        @Html.Raw(group.MoTa.Replace("\n", "<br/>"))
                    </td>
                    @if (isDeleteGroups)
                    {
                        <td class="text-center middle">
                            <button type="button" class="btn btn-xs btn-danger btn-delete" id-del="@group.Id">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>
    @if (isDeleteGroups)
    {
    <div class="col-xs-3 pl-0">
        <button type="button" class="btn btn-danger btn-delete-selected">@AdminLang.DeleteSelectedItems</button>
    </div>
    }
    <div class="col-xs-9 pr-0">
        <div class="div-pagination">
            <ul class="pagination"></ul>
        </div>
    </div>
</div>
<input type="hidden" id="TotalPages" name="TotalPages" value="@listOfGroup.Paging.TotalPages" />
<input type="hidden" id="NumberOfRecord" name="NumberOfRecord" value="@listOfGroup.Paging.NumberOfRecord" />
