﻿@model TrungTamTinHoc.Areas.ControlPanel.Models.PermissionManagement.Schema.ListOfPermission
@{
    ViewBag.Title = "ListOfPermission";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ListOfPermission listOfPermission = new ListOfPermission();
    if (Model != null)
    {
        listOfPermission = Model;
    }
    List<Group> cacGroup = listOfPermission.ListGroup;
}
@using Resources;
@using TrungTamTinHoc.Areas.ControlPanel.Models.PermissionManagement.Schema
@section css{
    <link rel="stylesheet" type="text/css" href="~/public/assets/iCheck/skins/all.css">
    @Styles.Render("~/public/css/admin/listOfPermission")
}
@section scripts{
    @Scripts.Render("~/public/js/admin/listOfPermission")
}
<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@AdminLang.ListOfPermission</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link" tabindex="5"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            @*<label for="">@AdminLang.Groups</label>*@
                            <select class="form-control" name="Group" id="Group" tabindex="4" link-search="@Url.RouteUrl("ListOfPermission")">
                                @if (cacGroup != null)
                                {
                                    foreach (var group in cacGroup)
                                    {
                                        <option value="@group.Id" @(listOfPermission.IdGroupSelected != 0 && listOfPermission.IdGroupSelected == group.Id ? "selected=selected" : "")>@group.TenGroup</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" id="div-table-permission">
                    @Html.Partial("Partial/_tableOfPermission", listOfPermission)
                </div>
            </div>
        </div>
    </div>
</div>