﻿@{
    ViewBag.Title = UserLang.ForgotPassword;
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@section css{
    @Styles.Render("~/public/css/forgotPassword")
}
@section scripts{

    @Scripts.Render("~/public/js/forgotPassword")
}
@using Resources;
<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area pb-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center no-line">@UserLang.ForgotPassword</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<!--Search Category Start-->
<div class="search-category mb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form id="form-login" action="#" method="post">
                    <div class="form-container">
                        <div class="box-select">
                            <div class="row">
                                <div class="col-sm-12 enter-email">
                                    <h5>Nhập vào email đã đăng ký</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="email" name="email" id="email" class="required" maxlength="50" tabindex="2" placeholder="abc@gmail.com" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="button" id="btn-login" tabindex="5">@UserLang.Send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="fb-root"></div>
<!--End of Search Category-->
