﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@section css{
}
@section scripts{
    <script>
        var url = {
            socialLogin : '@Url.RouteUrl("homeCheckSocialLogin")'
        }
    </script>
    <script src="https://apis.google.com/js/platform.js?onload=startAppGG" async defer></script>
    @Scripts.Render("~/public/js/login")
}
@using Resources;
<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area pb-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center no-line">@UserLang.Login</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<!--Search Category Start-->
<div class="search-category mb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form id="form-login" action="@Url.RouteUrl("homeCheckLogin")" method="post">
                    <div class="form-container">
                        <div class="box-select">
                           <div class="row">
                               <div class="col-sm-12">
                                   <input type="text" name="Username" id="Username" class="required" maxlength="50" tabindex="1" placeholder="@UserLang.Username"/>
                               </div>
                           </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="password" name="Password" id="Password" class="required" maxlength="50" tabindex="2" placeholder="@UserLang.Password" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-7">
                                    <label class="custom-check">
                                        <span class="text-login">@UserLang.RememberLogin</span>
                                        <input type="checkbox" id="Remember" value="1" tabindex="3">
                                        <span class="checkmark"><span class="check"></span></span>
                                    </label>
                                </div>
                                <div class="col-sm-5 text-right">
                                    <a href="@Url.RouteUrl("homeForgotPassword")" class="text-login" tabindex="4">@UserLang.LostPassword</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="button" id="btn-login" tabindex="5">@UserLang.Login</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <button type="button" id="btn-login-FB" class="fb-color" tabindex="6"><i class="zmdi zmdi-facebook"></i> Facebook</button>
                                </div>
                                <div class="col-sm-6">
                                    <button type="button" id="btn-login-GG" class="gg-color" tabindex="7"><i class="zmdi zmdi-google-plus"></i> Google</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <span class="text-login">
                                        @UserLang.NotHaveAccount
                                        <a href="@Url.RouteUrl("DangKyTaiKhoan")">@UserLang.RegisterNow</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="fb-root"></div>
<!--End of Search Category-->

