﻿@{
    ViewBag.Title = UserLang.ResetPassword;
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@section css{
}
@section scripts{
    <script>
        
    </script>
    <script src="https://apis.google.com/js/platform.js?onload=startAppGG" async defer></script>
    @Scripts.Render("~/public/js/login")
}
@using Resources;
<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area pb-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center no-line">@UserLang.ResetPassword</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<!--Search Category Start-->
<div class="search-category mb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form id="form-login" action="" method="post">
                    <div class="form-container">
                        <div class="box-select">
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="password" name="Password" id="Password" class="required" maxlength="50" tabindex="1" placeholder="@UserLang.Password" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="password" name="NewPassword" id="NewPassword" class="required" maxlength="50" tabindex="2" placeholder="@UserLang.NewPassword" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="button" id="btn-login" tabindex="5">@UserLang.ResetPassword</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="fb-root"></div>
<!--End of Search Category-->
